body{
    background-color: #fff;
}
.header {
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    text-align: center;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index:999;
    font-size: 0.3rem;
    color: #333;
    border-bottom: 0.01rem solid #E8E8E8;
}
.header a{
    width: 0.44rem;
    height: 0.44rem;
    background:url("../../img/return.png") no-repeat;
    background-size: 0.2rem 0.3rem;
    position: absolute;
    left: 0.2rem;
    top: 0.3rem;
}
.zhanwei{
    width: 100%;
    height: 0.88rem;
}
.content{
    margin-top: 0.2rem;
}
.content p{
    margin-bottom: 0.3rem;
    overflow: hidden;
}
.content p .left{
    width: 1.5rem;
    height: 0.4rem;
    line-height: 0.45rem;
    text-align:right;
    font-size: 0.22rem;
    color: #666;
    float: left;
}
.content p .w15{
    width: 1.5rem;
    height: 0.4rem;
    text-align:left;
    font-size: 0.28rem;
    color: #333;
    float: left;
}
.content p .w19{
    width: 1.9rem;
}
.queDing{
    width:6.05rem;
    height: 0.78rem;
    line-height: 0.78rem;
    background-color: #e60012;
    color: #fff;
    font-size: 0.3rem;
    position: absolute;
    bottom: 0.2rem;
    left: 0.17rem;
    text-align: center;
    border-radius: 0.05rem;
}