<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>物资管理</title>
    <script type="text/javascript" src="../../js/adjust.js"></script>
    <link type="text/css" rel="stylesheet" href="../../css/common.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/pullToRefresh.css"/>

    <link type="text/css" rel="stylesheet" href="../../css/21_quickOrder/0_quickOrderCommon.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/21_quickOrder/1_quickOrderList_buyer.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/21_quickOrder/3_quickOrderDetile.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/21_quickOrder/8_materialList.css"/>
</head>
<body>
<div id="app">
    <!--头部开始-->
    <header>
        <div class="header">
            <a href="javascript:history.back(-1);" class="fanHui"></a>
            物资管理
            <a href="javascript:;" class="searchBtn"></a>
        </div>
        <div class="fixHead font28">
            <p class="redWord" @click="changePanle()">全部物资</p>
            <p style="border-right: 1px solid #dadada;border-left: 1px solid #dadada;" @click="changePanle(1)">由我提交</p>
            <p class="checkStateBtn" @click="changePanle(0)">物资审核</p>
        </div>
        <div class="alterableDiv" style="height:1.68rem;"></div>
    </header>
    <!--主体-->
        <div class="tab_box" id="wrapper">
            <div class="materialWrap wrapScrool" style="min-height: 5rem">
                <div style="height: 1.6rem"></div>
                <template v-if="materialList && materialList.length>0">
                    <template v-for="item in materialList">
                        <div class="oneMaterial">
                            <div class="materialTit">
                                <p v-cloak>{{personalityDTO.itemNameLity}}</p>
                                <p>状态</p>
                                <p v-cloak>{{personalityDTO.itemCnameLity}}</p>
                            </div>
                            <div class="materialCon">
                                <p>{{item.itemInfo.itemName}}</p>
                                <template v-if="item.isAudit==0">
                                    <p class="redWord">无需审核</p>
                                </template>
                                <template v-if="item.isAudit==1&&item.auditStatus==-1">
                                    <p class="redWord">审核驳回</p>
                                </template>
                                <template v-if="item.isAudit==1&&item.auditStatus==0">
                                    <p class="redWord">审核中</p>
                                </template>
                                <template v-if="item.isAudit==1&&item.auditStatus==1">
                                    <p class="redWord">审核通过</p>
                                </template>
                                <p>{{item.itemInfo.cname}}</p>
                            </div>
                            <div class="btnWrap">
                                <!--先判断是不是审核物资tab-->
                                <template v-if="submitInfo.tabPage==''&&submitInfo.tabPage==0">
                                    <span class="grayBtn delBtn" @click="toDeleteMaterial(item.id)">删除</span>
                                    <span class="grayBtn marL20" @click="materialDetile(item.id)">查看</span>
                                    <span class="grayBtn delBtn" @click="checkMaterial(item.id,-1)">驳回</span>
                                    <span class="redBtn delBtn" @click="checkMaterial(item.id,1)">通过</span>
                                </template>
                                <template v-else>
                                    <template v-if="item.isAudit==0">
                                        <span class="grayBtn delBtn" @click="toDeleteMaterial(item.id)">删除</span>
                                        <span class="grayBtn delBtn" @click="editMaterial(item.id)">编辑</span>
                                        <span class="redBtn marL20" @click="materialDetile(item.id)">查看</span>
                                    </template>
                                    <template v-if="item.isAudit==1&&item.auditStatus==-1">
                                        <span class="grayBtn delBtn" @click="toDeleteMaterial(item.id)">删除</span>
                                        <span class="grayBtn delBtn" @click="editMaterial(item.id)">编辑</span>
                                        <span class="redBtn marL20" @click="materialDetile(item.id)">查看</span>
                                    </template>
                                    <template v-if="item.isAudit==1&&item.auditStatus==0">
                                        <span class="redBtn marL20" @click="materialDetile(item.id)">查看</span>
                                    </template>
                                    <template v-if="item.isAudit==1&&item.auditStatus==1">
                                        <span class="grayBtn delBtn" @click="toDeleteMaterial(item.id)">删除</span>
                                        <span class="redBtn marL20" @click="materialDetile(item.id)">查看</span>
                                    </template>
                                </template>

                            </div>
                        </div>
                    </template>
                </template>
                <template v-else>
                    <div class="wuDingDan" style="background: #fff;height: 9rem;margin-top: -1rem;padding-top: 1rem;">
                        <div class="zhiFuChengGong">
                            <img src="../../img/chenggongbg@3x.png" alt=""/>
                        </div>
                        <h2>您还没有相关信息哦！</h2>
                        <!--<p  class="printHome">printhome.com</p>-->
                    </div>
                </template>


                <p class="printHome" style="">printhome.com</p>
            </div>
        </div>

    <!--新增订单-->
    <section>
        <a class="newOrder" href="./9_addMaterial.html">
            +新增物资
        </a>
    </section>
    <!--搜索弹窗-->
    <div class="orderSearch">
        <div class="headerquickOrder">
            <a href="javascript:;" class="fanHui"></a>
            搜索
        </div>
        <div style="height:0.88rem;"></div>

            <div class="suoSou">
                <form action="aa" id="searchForm">
                    <p>
                        <span v-cloak style="width: 1.6rem">{{personalityDTO.itemNameLity}}：</span>
                        <input type="text" :placeholder="please+personalityDTO.itemNameLity" maxlength="20" v-model="submitInfo.itemName"/>
                    </p>

                    <p>
                        <span v-cloak style="width: 1.6rem">{{personalityDTO.itemIdLity}}：</span>
                        <input :placeholder="please+personalityDTO.itemIdLity"  type="text" maxlength="20" v-model="submitInfo.itemId"/>
                    </p>

                    <p>
                        <span v-cloak style="width: 1.6rem">{{personalityDTO.itemBrandLity}}：</span>
                        <input :placeholder="please+personalityDTO.itemBrandLity" type="text" maxlength="20" v-model="submitInfo.brandName"/>
                    </p>
                    <p>
                        <span v-cloak style="width: 1.6rem">{{personalityDTO.itemCnameLity}}：</span>
                        <select class="graySelect oneCategory oneLineNoPoint" name="pinlei" id="pinlei"  style="width: 1.4rem"  @change="changeLevOne()">
                            <option value="一级类目">一级类目</option>
                            <template v-for="levItem in categoryLevOne">
                                <option :value="levItem.categoryCid">{{levItem.categoryCName}}</option>
                            </template>
                            <option value="other">其他</option>
                        </select>
                        <select class="graySelect willHide oneLineNoPoint" name="pinlei1" id="pinlei1" style="width: 1.4rem" @change="changeLevTwo()">
                            <option value="二级类目">二级类目</option>
                            <template v-for="levItem in categoryLevTwo">
                                <option :value="levItem.categoryCid">{{levItem.categoryCName}}</option>
                            </template>
                        </select>
                        <select class="graySelect willHide oneLineNoPoint" name="pinlei2" id="pinlei2" style="width: 1.4rem">
                            <option value="三级类目" selected>三级类目</option>
                            <template v-for="levItem in categoryLevThree">
                                <option :value="levItem.categoryCName">{{levItem.categoryCName}}</option>
                            </template>
                        </select>
                    </p>
                    <p class="hideCategory" style="display: none">
                        <span  style="width: 1.6rem"></span>
                        <input :placeholder="please+personalityDTO.itemCnameLity" type="text" maxlength="20" v-model="submitInfo.cname" />
                    </p>
                    <p>
                        <span v-cloak style="width: 1.6rem">{{personalityDTO.itemStandardLity}}：</span>
                        <input style="width: 3rem" :placeholder="please+personalityDTO.itemStandardLity" type="text" maxlength="20" v-model="submitInfo.standard"/>
                    </p>
                </form>
                <p>
                    <a href="javascript:;" class="btn resetSearch" @click="resetForm()">重置</a>
                    <a href="javascript:;" class="btn searchNow" @click="searchMaterial()">搜索</a>

                </p>
            </div>


    </div>
    <!--审核通过物资弹窗-->
    <div class="commonWin acceptMaterial">
        <div class="commonWinCon">
            <h5>审核通过</h5>
            <p class="commonWinMsg">确定审核通过此物资？</p>
            <div class="commonWinLine"></div>
            <div class="commonWinBtnWrap">
                <span class="commonWinBtn cancle" @click="closeAcceptMaterial()">取消</span>
                <span class="commonWinBtn sure" @click="acceptMaterial()">确定</span>
            </div>
        </div>
    </div>
    <!--删除物资弹窗-->
    <div class="commonWin delMaterial">
        <div class="commonWinCon">
            <h5>删除物资</h5>
            <p class="commonWinMsg">删除此物资？</p>
            <div class="commonWinLine"></div>
            <div class="commonWinBtnWrap">
                <span class="commonWinBtn cancle" @click="closeDeleteMaterial()">取消</span>
                <span class="commonWinBtn sure" @click="deleteMaterial()">确定</span>
            </div>
        </div>
    </div>
    <!--拒绝弹窗-->
    <div class="zhezhao2 materialRefuseWin">
        <div class="winCon">
            <h3>审核驳回</h3>
            <h4>驳回原因：</h4>
            <textarea placeholder="请填写驳回理由,最多150字。" maxlength="150" class="text refuseWords"></textarea>
            <p class="boottomBtn">
                <button class="cancel">取消驳回</button>
                <button class="sure" @click="refuseMaterial()">确定驳回</button>
            </p>
            <i class="close"></i>
        </div>
    </div>
    <!--回到顶部-->
    <section>
        <div id="top" @click="goToTop()"></div>
    </section>
    <!--物资详情弹窗-->
    <div class="listSelWin" id="materialWin">
        <div class="delayPayHead">
            <div class="headerquickOrder">
                <a href="javascript:;" class="fanHui listSelArrow" @click="hideMaterialDetile()"></a>
                物资明细
            </div>
            <div style="height: 0.88rem"></div>
        </div>
        <div class="mainConWrap"    >
            <template v-if="materialInfo.auditStatus==-1">
                <div class="refuseReason">
                    <span style="vertical-align: top">驳回原因:</span>
                    <div class="refuseCon">{{materialInfo.auditRemark}}</div>
                </div>
            </template>
            <template v-if="materialInfo.itemInfo">
                <div class="contact">
                    <p class="font30">物资明细</p>
                    <p class="mart10">
                        <span class="infoKey w160" v-cloak><span class="redWord">*</span><span v-cloak>{{personalityDTO.itemIdLity}}</span>：</span>
                        <input type="text" class="grayInput" :value="materialInfo.id">
                    </p>
                    <p class="mart10">
                        <span class="infoKey w160" v-cloak><span class="redWord">*</span><span v-cloak>{{personalityDTO.itemNameLity}}</span>：</span>
                        <input type="text" class="grayInput" :value="materialInfo.itemInfo.itemName">
                    </p>
                    <p class="mart10">
                        <span class="infoKey w160"><span class="redWord">*</span>单价(元)：</span>
                        <input type="text" class="grayInput" :value="materialInfo.itemInfo.unitPrice">
                    </p>
                    <p class="mart10">
                        <span class="infoKey w160"><span class="redWord">*</span>单位：</span>
                        <input type="text" class="grayInput" :value="materialInfo.itemInfo.itemUnitName">
                    </p>
                    <p class="mart10">
                        <span class="infoKey w160" v-cloak><span v-cloak>{{personalityDTO.itemStandardLity}}</span>：</span>
                        <input type="text" class="grayInput" :value="materialInfo.itemInfo.standard">
                    </p>
                    <p class="mart10">
                        <span class="infoKey w160" v-cloak><span class="redWord">*</span><span v-cloak>{{personalityDTO.itemBrandLity}}</span>：</span>
                        <input type="text" class="grayInput" :value="materialInfo.itemInfo.brandName">
                    </p>
                    <p class="mart10">
                        <span class="infoKey w160" v-cloak><span class="redWord">*</span><span v-cloak>{{personalityDTO.itemCnameLity}}</span>：</span>
                        <input type="text" class="grayInput" :value="materialInfo.itemInfo.cname">
                    </p>
                    <p class="mart10">
                        <span class="infoKey w160">备注：</span>
                        <span class="grayArea" style="display:inline-block;width:4rem;vertical-align: top;min-height:2rem;height:auto" v-cloak>{{materialInfo.itemInfo.remark}}</span>
                        <!--<textarea name="" class="grayArea" style="display:inline-block;vertical-align: top;pointer-events: none;height:auto" id="" cols="30"  v-cloak>{{materialInfo.itemInfo.remark}}</textarea>-->
                    </p>
                </div>

            </template>
        </div>

    </div>

</div>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/iscroll.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/pullToRefresh_fixHead.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/common.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/jsonUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/popup.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/21_quickOrder/8_materialList.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/request.js"></script>
<script charset="utf-8" type="text/javascript" src="script/8_materialList.js"></script>
</body>
</html>