<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>宝贝分类</title>
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="../../css/5_dianPuShouYe/dianPu_index.css"/>
    <link rel="stylesheet" href="../../css/5_dianPuShouYe/baoBeiFenLei.css"/>
    <script type="text/javascript" src="../../js/adjust.js"></script>
</head>
<body style="background: #fff;font-size: 0.3rem;">
<div class="top_wrapper" style="background-color: #fff;">
    <!--<a class="back_wrapper" href="javascript:;" onclick="javascript:history.back(-1);"><img class="back" src="../../img/back.png" alt=""/></a>-->
    <a class="back_wrapper" href="javascript:;" onclick="goshopIndex()"><img class="back" src="../../img/back.png" alt=""/></a>

    <div class="search_wrapper">
        <input type="text" style="border-color: white" class="search_box" placeholder="搜索全部商品"/>

        <div style="display: inline-block;">
            <img class="chahao" src="../../img/chahao.png" alt=""/>
            <img class="fangda" src="../../img/fangdajing.png" alt=""/>
        </div>

    </div>
    <select name="shop" id="shop">
        <option value="">本店铺</option>
        <option value="">全平台</option>
    </select>

</div>
<div style="height: 0.8rem"></div>
<div class="all_goods" @click="showAllGoods">
    <span style="margin-left: 0.2rem;" >全部商品</span>
    <img class="allGoods_arrow" src="../../img/right_arrow.png" alt=""/>
    <div style="background-color: #f4f4f4;height: 0.2rem"></div>
</div>
<div style="height: 1rem;"></div>
<div id="shopCategoryVUE">
    <ul class="list_all">
        <template v-for="category in shopCategoryList">
            <li  class="list" >
                <div class="list_wrapper">
                    <div class="list_content">
                        <span>{{category.cname}}</span>
                        <img src="../../img/xiala.png" alt=""/>
                    </div>
                </div>
                <div class="hidden_con">
                    <template v-for="childCate in category.childShopCategory">
                        <span @click="goToSearchItem(childCate.cid)" class="test">{{childCate.cname}}</span>
                    </template>
                </div>
            </li>
        </template>

    </ul>
</div>
<div style="height: 0.8rem"></div>
<div class="footer_fixed">
    <div class="footer_wrapper" onclick="window.location.href='../../html/1_index/index.html'">
        <img class="footer_img" src="../../img/pingtai.png" alt=""/>
        <span>商城首页</span>
    </div>
    <div class="footer_wrapper" style="border-left: 1px solid #cccccc;border-right: 1px solid #cccccc;" @click="gotoShopIndex()">
        <img class="footer_img" src="../../img/shouye.png" alt=""/>
        <span>店铺首页</span>
    </div>
    <div class="footer_wrapper">
        <img class="footer_img" src="../../img/shop_xiaoxiang.png" alt=""/>
        <span>联系卖家</span>
    </div>
</div>

<script charset="UTF-8" type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="UTF-8" type="text/javascript" src="../../js/common.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/request.js"></script>
<script charset="UTF-8" type="text/javascript" src="../../js/5_dianPuShouYe/baoBeiFenLei.js"></script>
<script charset="utf-8" type="text/javascript" src="script/shopCategory.js"></script>

</body>
</html>