
.xianJin_wrap,.manJian_wrap,.dazhe_wrap{
    margin-bottom: 0.2rem;
    background-color: #fff;
    padding: 0.2rem 0.1rem;
    font-size: 0.26rem;
    color: #333333;
}

.xianJin_wrap p,.manJian_wrap p,.dazhe_wrap p{
    margin-bottom: 0.1rem;
}
