<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>产品大全主页</title>
    <link rel="stylesheet" href="../../../css/common.css"/>
    <link rel="stylesheet" href="../../css/8_chanPinDaQuan/chanPinDaQuan.css"/>
    <link rel="stylesheet" href="../../../css/pullToRefresh.css"/>
    <script type="text/javascript" src="../../../lib/adjust.js"></script>
    <style type="text/css">
        #pullUp{
            clear: both;
            margin-bottom: 0.4rem;
        }
    </style>
</head>
<body style="font-size: 0.3rem;">
<input type="hidden" value="2" id="typejs"/>

<div class="top_wrapper">
    <a href="../1_index/index.html" class="return"></a>
    <!--<a href="javascript:;" class="return" onclick="javascript:history.back(-1);"></a>-->
    <span class="top_title back_wrapper">产品大全</span>
</div>
<div id="chanpindaquanVM">
    <div class="search_btn">
        <p class="w_185 over_point one_button">全部<img src="../../img/xiala.png" alt=""/></p>

        <p class="w_185 over_point two_button">全部<img src="../../img/xiala.png" alt=""/></p>

        <p class="w_184 over_point three_button">全部<img src="../../img/xiala.png" alt=""/></p>
        <p class="w_85"> <img class="lastimg toggle_img" src="../../img/suoluetu-@3x.png" alt="" @click="toggleShow"/></p>

    </div>
    <div id="wrapper">
        <div id="scroller" class="tab_box" style="padding-bottom: 0.5rem">

            <div  class="suolue_result wrapScrool">
                <div style="width: 100%;height: 1.68rem;"></div>
                <template v-for="item in itemList">
                    <div class="suolue_goods" v-show="showMode">
                        <a href="javascript:return 0;" @click="toItemResult(item.itemId)">
                        <img class="suoluegoods_img" :src="imgUrl + item.pictureUrl" alt=""/>

                        <p class="suoluegoods_name twoLine" >{{item.itemName}}</p></a>

                        <!--<p class="suoluegoods_price" @click="toItemsAndShopInfo(item.shopId)">
                        <template v-if="item.hasPrice == '1'">
                            ￥{{item.marketPrice}}
                        </template>
                        <template v-else>
                            暂无报价
                        </template>-->
                        <!--<img style="width: 0.3rem;float: right;margin-top: 0.15rem;" src="../../img/point.png" alt=""/>-->
                    </p>

                        <!-- 点击收藏商品和店铺（多）暂时注释吧-->
                    <!--<div class="suoluefloot_ship">-->
                        <!--<p style="background-color: #f39700;">-->
                            <!--<span class="suoluecontact" @click="adfavItem(item.itemId,item.shopId)">收藏商品</span>-->
                            <!--<span class="suoluegoods_car" @click="adfavShop(item.shopId)">收藏店铺</span>-->
                        <!--</p>-->

                        <!--<div class="suolueship_wrapper">-->
                            <!--<p class="suolueshop_name">{{shopEvaluationInfo.shopName}}</p>-->

                            <!--<p class="suolue_detile">描述：-->
                                <!--<span class="red_word mr20">{{shopEvaluationInfo.shopDescription}}</span>服务：-->
                                <!--<span class="red_word">-->
                                    <!--<template v-if="shopEvaluationInfo.shopReputation == '' ">-->
                                        <!--0-->
                                    <!--</template>-->
                                    <!--<template v-else>-->
                                        <!--{{shopEvaluationInfo.shopReputation}}-->
                                    <!--</template>-->
                                <!--</span></p>-->
                            <!--<p class="suolue_detile">物流：-->
                                <!--<span class="red_word mr20">{{shopEvaluationInfo.shopArrival}}</span>态度：-->
                                <!--<span class="red_word">{{shopEvaluationInfo.shopService}}</span>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    </div>
                </template>
            </div>
            <div  class="list_result wrapScrool">
                <template v-for="item in itemList">
                    <div class="list_goods" v-show="!showMode">
                        <a href="javascript:return 0;"  @click="toItemResult(item.itemId)">
                            <img class="listgoods_img" :src="imgUrl + item.pictureUrl" alt=""/></a>

                        <div class="title_wrapper">
                            <a href="javascript:return 0;"  @click="toItemResult(item.itemId)" class="listgoods_name threeLine">{{item.itemName}}</a>

                            <!--<p class="listgoods_price red_word">
                                <template v-if="item.hasPrice == '1'">
                                    ￥{{item.marketPrice}}
                                </template>
                                <template v-else>
                                    暂无报价
                                </template>
                                <img style="width: 0.3rem;float: right;margin-top: 0.15rem;" src="../../img/point.png" alt="" @click="toItemsAndShopInfo(item.shopId)"/>
                            </p>-->
                        </div>
                        <!-- 点击收藏商品和店铺（多）暂时注释吧-->
                        <!--<div class="listfloot_ship">-->
                            <!--<div class="listship_wrapper">-->
                                <!--<p class="listshop_name">{{shopEvaluationInfo.shopName}}</p>-->
                                <!--<p class="list_detile">描述：-->
                                    <!--<span class="red_word mr20">{{shopEvaluationInfo.shopDescription}}</span>服务：-->
                                    <!--<span class="red_word">-->
                                        <!--<template v-if="shopEvaluationInfo.shopReputation == '' ">-->
                                            <!--0-->
                                        <!--</template>-->
                                        <!--<template v-else>-->
                                            <!--{{shopEvaluationInfo.shopReputation}}-->
                                        <!--</template>-->
                                    <!--</span>-->
                                <!--</p>-->
                                <!--<p class="list_detile">物流：-->
                                    <!--<span class="red_word mr20">{{shopEvaluationInfo.shopArrival}}</span>态度：-->
                                    <!--<span class="red_word">{{shopEvaluationInfo.shopService}}</span>-->
                                <!--</p>-->
                                <!--<p style="margin-top: 0.1rem;">-->
                                    <!--<span class="list_shoucang mr20" @click="adfavItem(item.itemId,item.shopId)">收藏商品</span>-->
                                    <!--<span class="list_shoucang" @click="adfavShop(item.shopId)">收藏店铺</span>-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--<span class="add_wrapper" style="background-color: #f39700;">-->
                            <!--<p class="listcontact" @click="adfavItem(item.itemId,item.shopId)">收藏<br/>商品</p>-->
                            <!--<p class="listgoods_car" @click="adfavShop(item.shopId)">收藏<br/>店铺</p>-->
                        <!--</span>-->
                        <!--</div>-->
                    </div>
                </template>
            </div>
        </div>
        </div>
    <div class="onefold_nav">
        <div class="arrow left_15">
            <img src="../../img/sanjiao@3x.png" alt=""/>
        </div>
        <div class="onelevel">
            <div class="cate-list">
                <center><p class="first" @click="showLevel(-1,1)">全部</p></center>
                <template v-for="objcateOne in chanpinSelect.oneCategoryesList">
                    <center><p @click="showLevel(objcateOne,1)">{{objcateOne.categoryCName}}</p></center>
                </template>
            </div>
        </div>
    </div>

    <div class="twofold_nav">
        <div class="arrow left_20">
            <img src="../../img/sanjiao@3x.png" alt=""/>
        </div>
        <div class="twolevel">
            <div class="cate-list">
                <center><p class="first" @click="showLevel(-1,2)">全部</p></center>
                <template v-for="objcateTwo in chanpinSelect.twoCategoryesList">
                    <center><p @click="showLevel(objcateTwo,2)">{{objcateTwo.categoryCName}}</p></center>
                </template>
            </div>
        </div>
    </div>
    <div class="threefold_nav">
        <div class="arrow left_25">
            <img src="../../img/sanjiao@3x.png" alt=""/>
        </div>
        <div class="threelevel">
            <div class="cate-list">
                <center><p class="first" @click="showLevel(-1,3)">全部</p></center>
                <template v-for="objcateThree in chanpinSelect.threeCategoryesList">
                    <center><p @click="showLevel(objcateThree,3)">{{objcateThree.categoryCName}}</p></center>
                </template>
            </div>
        </div>
    </div>
</div>


<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/common.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/iscroll.js"></script>
<script charset="UTF-8" type="text/javascript" src="../../../lib/pullToRefresh_fixHead.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/common_http.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/request.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/popup.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jq_scroll.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/TouchSlide.1.1.js"></script>
<script charset="UTF-8" type="text/javascript" src="../../js/8_chanPinDaQuan/chanPinDaQuan.js"></script>
<script type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="UTF-8" type="text/javascript" src="../../js/vueDirective.js"></script>
<script type="text/javascript" src="script/categoryItems.js"></script>

</body>
</html>
