<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>协议创建</title>
    <script type="text/javascript" src="../../../lib/adjust.js"></script>
    <link type="text/css" rel="stylesheet" href="../../../css/common.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/12_maiJiaZhongXin/10_xieYiGuanLi_xieYiChuangJian.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/12_maiJiaZhongXin/10_xieYiGuanLi_xinZengShangPin.css"/>
</head>
<style>
    .xieYi p input[type=date], .xieYi p input[type=month] {
        width: 2rem;
        height: 0.58rem;
        border-radius: 0.05rem;
        font-size: 0.24rem;
    }

</style>
<body>
<!--头部开始-->
<header>
    <div class="header">
        <a href="javascript:;" class="fanHui"></a>
        协议创建
    </div>
    <div style="height:0.88rem;"></div>
</header>

<div id="shujuyuan">
<div id="div1">
<!--协议编号-->
<section>
    <div class="bianHao">
        <p>
            <span><label>＊</label>协议编号：</span>
            <input type="number" maxlength="20" class="bianhao ccc_border" v-model="xieyi.contractInfo.contractOrderNo"/>
        </p>
        <p>
            <span><label>＊</label>协议名称：</span>
            <input type="text" maxlength="20" class="mingcheng ccc_border" v-model="xieyi.contractInfo.contractName"/>
        </p>
    </div>
</section>
<!--联系方式-->
<section>
    <div class="lianXi">
        <h2>联系方式</h2>
        <p>
            <span>卖方：</span>
            <i>{{xieyi.supplier_name}}</i>
        </p>
        <p>
            <span>联系人：</span>
            <i>{{xieyi.supplier_contacts}}</i>
        </p>
        <p>
            <span>联系电话：</span>
            <i>{{xieyi.supplier_contact_number}}</i>
        </p>
        <p>
            <span>传真：</span>
            <i>{{xieyi.supplier_fax}}</i>
        </p>
        <p>
            <span>电子邮箱：</span>
            <i>{{xieyi.supplier_mail_box}}</i>
        </p>
        <div >
            <p class="gongSi" onclick="maiFang();">
                <span><label>＊</label>买方：</span>
                <input type="text" maxlength="20" class="ccc_border" v-model="xieyi.printer_name" readonly="readonly"/>
            </p>
            <p  class="lianXiRen">
                <span>联系人：</span>
                <input type="text" maxlength="20" class="ccc_border" v-model="xieyi.printer_contacts" readonly="readonly"/>
            </p>
            <p class="lianXiFangShi">
                <span>联系电话：</span>
                <input type="tel" maxlength="20" class="ccc_border" v-model="xieyi.printer_contact_number" readonly="readonly"/>
            </p>
            <p>
                <span>传真：</span>
                <input type="tel" maxlength="20" class="ccc_border" v-model="xieyi.printer_fax" readonly="readonly"/>
            </p>
            <p>
                <span>电子邮箱：</span>
                <input type="email" maxlength="20" class="ccc_border" v-model="xieyi.printer_mail_box" readonly="readonly"/>
            </p>
        </div>
    </div>
</section>
<footer>
    <div class="foot">
        <a  href="javascript:;" class="cancle">取消</a><a href="javascript:;" class="next on">下一步</a>
    </div>
</footer>
<!--弹窗-->
<section>
    <div class="zhezhao">
        <div class="con">
            <h5>取消创建协议</h5>
            <p>您确定放弃要放弃本次操作吗？</p>
            <div></div>
            <a class="quXiao" href="javascript:;">取消</a><a class="queDing" href="10_xieYiGuanLi_xieYiGuanLi.html">确定</a>
        </div>
    </div>
</section>
</div>
<div id="div2" style="display: none">
    <!--协议条件-->
    <section>
        <div class="xieYi">
            <h2>协议条件</h2>
            <p>
                <span><label>＊</label>协议有效期：</span>
                <input type="date" class="xieYiYouXiaoQi ccc_border gray_word" v-model="xieyi.contractInfo.beginDate" id="js_beginDate"/>
                一
                <input type="date" class="xieYiYouXiaoQi2 ccc_border gray_word" v-model="xieyi.contractInfo.endDate" id="js_endDate"/>
            </p>
            <p>
                <span><label>＊</label>协议账期：</span>
                <input type="radio" name="1" class="days" value="0" v-model="xieyi.contractInfo.paymentType"/>
                <input type="tel" class="xieYiYouZhangQi ccc_border gray_word" id="zhangqi001"  disabled="disabled"/>
                天
            </p>
            <p>
                <span></span>
                <input type="radio" name="1" class="months" value="1" v-model="xieyi.contractInfo.paymentType"/>
                <select class="month ccc_border gray_word" id="zhangqi002" disabled="disabled">
                    <option value="">请选择</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
                月
            </p>
            <p>
                <span>审核信息：</span>
                <input type="radio" name="2" id="no-need"/>
                无需审核
                <input type="radio" name="2" id="need"/>
                需要审核
            </p>
            <p class="shenHeRen">
                <span>审核人：</span>
                <select class="shenHe ccc_border gray_word" v-model="xieyi.contractInfo.approveBy">
                    <option value="">请选择</option>
                    <template v-for="shenheren in xieyi.showApproveList">
                        <option value='' v-bind:value="shenheren.userId">{{shenheren.username}}</option>
                    </template>

                </select>
            </p>
            <p>
                <span><label>＊</label>协议类型：</span>
                <select class="xieyi ccc_border gray_word" v-model="xieyi.contractInfo.protocolType">
                    <option value="">请选择</option>
                    <option value="1">单价</option>
                    <option value="2">数量</option>
                    <option value="3">总价值</option>
                </select>
            </p>
            <p>
                <span>附件：</span>
                <input type="hidden" name="fujian" id="fujian" v-model="xieyi.contractInfo.annex">
                <i class="shangChuan"><img src="../../img/xiangJi.png" alt=""/></i>
            </p>
            <p>
                <span>备注：</span>
                <textarea placeholder="请输入备注，最多50个字哦" maxlength="50" class="ccc_border gray_word"  v-model="xieyi.contractInfo.remark"></textarea>
            </p>
        </div>
    </section>
    <footer>
        <div class="foot2">
            <a  href="javascript:;" class="cancle">取消</a><a href="javascript:;" class="last" >上一步</a><a href="javascript:;" class="next on" onclick="erdaosan()" >下一步</a>
        </div>
    </footer>
    <!--弹窗-->
    <section>
        <div class="zhezhao">
            <div class="con">
                <h5>取消</h5>
                <p>您确定放弃要放弃本次操作吗？</p>
                <div></div>
                <a class="quXiao" href="#">取消</a><a class="queDing" href="10_xieYiGuanLi_xieYiGuanLi.html">确定</a>
            </div>
        </div>
    </section>
</div>
<div id="div3" style="display: none">
    <!--协议物品-->
    <h2 class="xieYiWuPin">协议物品</h2>
    <template v-for="items in xieyi.contractMatDTOs">
        <div class="wuPin">
            <p><span>商品名称：</span><i>{{items.itemName}}</i></p>
            <p><span>商品属性：</span><i class="shangPinShuXing">{{items.skuAttributeStr}}</i></p>
            <p><span>单价：</span><input type="text" name="1" class="ccc_border" value="" v-model="items.matPrice"></p>
            <template v-if="xieyi.contractInfo.protocolType == 2">
                <p><span>数量：</span><input type="text" name="1" class="ccc_border" value=""></p>
            </template>
            <template v-if="xieyi.contractInfo.protocolType == 3">
                <p><span>总价值：</span><input type="text" name="1" class="ccc_border" value=""></p>
            </template>
            <a href="javascript:;" class="delete " @click="deleteItems(items.id)"></a>
        </div>
    </template>

    <!--新增商品-->
    <section>
        <a href="javascript:;" class="xinZeng" onclick="xinZeng();">+新增商品</a>
    </section>
    <!--占位-->
    <section>
        <div style="height: 1.04rem;"></div>
    </section>
    <footer>
        <div class="foot3">
            <a  href="javascript:;" class="cancle">取消</a><a href="javascript:;" class="last" >上一步</a><a href="#" class="faBu" id="lijifubujs" onclick="lijifabu()">立即发布</a><a href="#" class="baoCun on" onclick="xieyibaocun()">保存</a>
        </div>
    </footer>
    <!--弹窗-->
    <section>
        <div class="zhezhao">
            <div class="con">
                <h5>取消创建协议</h5>
                <p>您确定要放弃本次操作吗？</p>
                <div></div>
                <a class="quXiao" href="javascript:;">取消</a><a class="queDing" href="10_xieYiGuanLi_xieYiGuanLi.html">确定</a>
            </div>
        </div>
    </section>
</div>
<div id="div4" style="display: none;">
    <!--选项卡-->
    <section>
        <div class="souSuo">
            <input type="text" placeholder="请输入要查询的公司名称" style="width: 2.4rem;" id="gongshimingcheng"/><select id="pingtaileixing"><option value="">请选择平台类型</option><option value="0">印刷家</option><option value="2">绿印</option><option value="3">小管家</option></select><input type="button" value="搜索" onclick="queryshopList()"/></div>
    </section>
    <!--占位-->
    <div style="height: 0.88rem;"></div>
    <!--公司列表-->
    <section>
        <template v-for="shops in xieyi.maijia_list">
            <a class="shangPinLieBiao" href="javascript:;">
                <div class="gouXuan gouXuan2">
                    <img class="no-select" src="../../img/no-select.png" alt="">
                </div><div class="maiFang">
                <!--<p style="display: none"><span class="left">id：</span><span class="right">{{shops.shopId}}</span></p>-->
                <p style="display: none"><span class="left">id：</span><span class="right">{{shops.uid}}</span></p>
                <p><span class="left">公司名称：</span><span class="right">{{shops.companyName}}</span></p>
                <p><span class="left">联系人：</span><span class="right">{{shops.linkMan}}</span></p>
                <p><span class="left">联系方式：</span><span class="right">{{shops.linkPhoneNum}}</span></p>
                <p style="display: none"><span class="left">传真：</span><span class="right">{{shops.linkPhoneNum}}</span></p>
                <p style="display: none"><span class="left">电子邮箱：</span><span class="right">{{shops.linkPhoneNum}}</span></p>
                <p><span class="left">平台类型：</span><span class="right">
                    <template v-if="shops.platformId == null">印刷家</template>
                    <template v-if="shops.platformId == 0">印刷家</template>
                    <template v-if="shops.platformId == 1">印刷家</template>
                    <template v-if="shops.platformId == 2">绿印</template>
                    <template v-if="shops.platformId == 3">小管家</template>
                </span>
                </p>
            </div>
            </a>
        </template>
    </section>
    <div style="height: 0.94rem;"></div>
    <footer>
        <div class="maiFang-footer">
            <a href="#">取消</a>
            <a href="#">确定</a>
        </div>
    </footer>
</div>
<div id="div5" style="display: none;">
    <!--选项卡-->
    <section>
        <div class="souSuo">
            <input type="text" placeholder="请输入要查询的物品" id="itemName"/><input type="text" placeholder="请输入要销售属性值" id="attributes"/><input type="button" value="搜索" onclick="queryItemList()"/>
        </div>
    </section>
    <!--占位-->
    <div style="height: 0.88rem;"></div>
    <!--商品列表-->
    <section>
        <template v-for="itemk in xieyi.items_list">
            <a class="shangPinLieBiao" href="javascript:;">
                <div class="gouXuan">
                    <img class="no-select" src="../../img/no-select.png" alt="">
                </div><div class="shangPinTuPian">
                <img src="../../img/1.png" alt="">
            </div><div class="shangPinXiangQing">
                <p class="mingZi" style="display: none">商品id：<span>{{itemk.id}}</span></p>
                <p class="mingZi">商品编号：<span>{{itemk.skuId}}</span></p>
                <p class="mingZi">商品名称：<span>{{itemk.itemName}}</span></p>
                <p class="mingZi">商品属性：<span>{{itemk.skuAttributeStr}}</span></p>
                <p class="jiaGe">原价：¥<i>
                    <template v-if="itemk.skuPrice == null">暂无报价</template>
                    <template v-if="itemk.skuPrice != null">{{itemk.skuPrice}}</template>
                </i></p>
            </div>
            </a>
        </template>
    </section>
    <div style="height: 0.94rem;"></div>
    <footer>
        <div class="maiFang-footer">
            <a href="#">取消</a>
            <a href="#" onclick="getitemk()">确定</a>
        </div>
    </footer>
</div>
</div>
<!--回到顶部-->
<section>
    <div id="top" @click="goToTop()">
    </div>
</section>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/common.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/popup.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/18_maiJiaZhongXin/10_xieYiGuanLi_xieYiChuangJian.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/common_http.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/request.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/jsonUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/moment.js"></script>
<script charset="utf-8" type="text/javascript" src="script/xieyichuangjian.js"></script>

</body>
</html>
