<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>协议管理</title>
    <link type="text/css" rel="stylesheet" href="../../../css/common.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/12_maiJiaZhongXin/10_xieYiGuanLi_xieYiGuanLi.css"/>
    <link rel="stylesheet" href="../../../css/pullToRefresh.css">
    <script type="text/javascript" src="../../../lib/adjust.js"></script>
    <style>
        #pullDown{
            margin-bottom: 0.2rem;
        }
        #pullUp {
            margin-bottom: 1.2rem;
        }
    </style>
</head>
<body>

<div id="app">
<!--头部开始-->
<header>
    <div class="header">
        <a href="javascript:;" class="fanHui"></a>
        协议管理
        <a href="javascript:;" class="suoSou"></a>
    </div>
    <div class="zhanwei"></div>
</header>
<!--选项卡-->
<section>
    <div class="xuanXiangKa">
        <ul class="tabWrap">
            <li class="on" href="f" onclick="getxieyis('seller',1,'contract')">全部协议</li>
            <li href="s" onclick="getxieyis('seller',1,'confirmContractInfo')">协议确认</li>
            <li href="t" onclick="getxieyis('seller',1,'approveContractInfo')">协议审批</li>
        </ul>
    </div>
</section>
<section >

<div  class="app">
    <div id="wrapper">
        <div id="scroller">
            <ul class="tab_box wrapScrool" style="display: block">
                <div style="height: 1.5rem"></div>
                <template v-for="xieyi in agreementList">
                    <li class="biaoGe">
                        <p class="top">
                            <span>协议名称</span>
                            <span>状态</span>
                            <span>有效期</span>
                        </p>

                        <p class="middle">
                            <a href="javascript:;">{{xieyi.contractName}}</a>
                            <span>
                                <template v-if="xieyi.status == 0">未提交</template>
                                <template v-if="xieyi.status == 1">待审核</template>
                                <template v-if="xieyi.status == 2">审核驳回</template>
                                <template v-if="xieyi.status == 3">待确认</template>
                                <template v-if="xieyi.status == 4">确认驳回</template>
                                <template v-if="xieyi.status == 5">待生效</template>
                                <template v-if="xieyi.status == 6">协议生效</template>
                                <template v-if="xieyi.status == 7">需要审批</template>
                                <!--<template v-if="xieyi.status == 8">hello</template>-->
                                <template v-if="xieyi.status == 9">协议过期</template>
                                <template v-if="xieyi.status == 10">协议终止</template>
                            </span>
                            <span>{{xieyi.beginDate | timestampFormat('YY.DD.MM') }}-{{xieyi.endDate | timestampFormat('YY.DD.MM') }}</span>
                        </p>

                        <p class="bottom clearfix">
                            <template v-if="xieyi.status == 2 || xieyi.status == 4 || xieyi.status == 9 || xieyi.status == 10">
                                <a href="javascript:;" @click="deleteXieyi(xieyi.contractNo)">删除</a>
                            </template>
                            <template v-if="xieyi.status == 2 || xieyi.status == 4 || xieyi.status == 7 || xieyi.status == 0">
                                <a href="javascript:;" class="xiuGai" @click="updatexieyi(xieyi.id)">修改</a>
                            </template>
                            <a href="javascript:;">发布协议</a>
                            <a href="javascript:;" @click="caozuoiXieyi(xieyi.id,'终止',null)">终止协议</a>
                        </p>
                    </li>
                </template>
            </ul>
            <ul class="tab_box wrapScrool">
                <template v-for="xieyi in agreementList">
                    <li class="biaoGe">
                        <p class="top">
                            <span>协议名称</span>
                            <span>状态</span>
                            <span>有效期</span>
                        </p>
                        <p class="middle">
                            <a href="javascript:;">{{xieyi.contractName}}</a>
                            <span>
                                <template v-if="xieyi.status == 0">未提交</template>
                                <template v-if="xieyi.status == 1">待审核</template>
                                <template v-if="xieyi.status == 2">审核驳回</template>
                                <template v-if="xieyi.status == 3">待确认</template>
                                <template v-if="xieyi.status == 4">确认驳回</template>
                                <template v-if="xieyi.status == 5">待生效</template>
                                <template v-if="xieyi.status == 6">协议生效</template>
                                <template v-if="xieyi.status == 7">需要审批</template>
                                <!--<template v-if="xieyi.status == 8">hello</template>-->
                                <template v-if="xieyi.status == 9">协议过期</template>
                                <template v-if="xieyi.status == 10">协议终止</template>
                            </span>
                            <span>{{xieyi.beginDate | timestampFormat('YY.DD.MM') }}-{{xieyi.endDate | timestampFormat('YY.DD.MM') }}</span>
                        </p>
                        <p class="bottom clearfix">
                            <a href="javascript:;" @click="caozuoiXieyi(xieyi.id,'同意',null)">同意</a>
                            <a href="javascript:;" class="juJue" @click="jujue(xieyi.id)">拒绝</a>
                        </p>
                    </li>
                </template>
            </ul>
            <ul class="tab_box wrapScrool">
                <template v-for="xieyi in agreementList">
                    <li class="biaoGe">
                        <p class="top">
                            <span>协议名称</span>
                            <span>状态</span>
                            <span>有效期</span>
                        </p>

                        <p class="middle">
                            <a href="javascript:;">{{xieyi.contractName}}</a>
                            <span>
                                <template v-if="xieyi.status == 0">未提交</template>
                                <template v-if="xieyi.status == 1">待审核</template>
                                <template v-if="xieyi.status == 2">审核驳回3</template>
                                <template v-if="xieyi.status == 3">待确认</template>
                                <template v-if="xieyi.status == 4">确认驳回</template>
                                <template v-if="xieyi.status == 5">待生效</template>
                                <template v-if="xieyi.status == 6">协议生效</template>
                                <template v-if="xieyi.status == 7">需要审批</template>
                                <!--<template v-if="xieyi.status == 8">hello</template>-->
                                <template v-if="xieyi.status == 9">协议过期</template>
                                <template v-if="xieyi.status == 10">协议终止</template>
                            </span>
                            <span>{{xieyi.beginDate | timestampFormat('YY.DD.MM') }}-{{xieyi.endDate | timestampFormat('YY.DD.MM') }}</span>
                        </p>

                        <p class="bottom clearfix">
                            <a href="javascript:;" @click="caozuoiXieyi(xieyi.id,'同意',null)">同意</a>
                            <a href="javascript:;" class="juJue" @click="jujue(xieyi.id)">拒绝</a>
                        </p>
                    </li>
                </template>
            </ul>
            <p class="printHome">printhome.com</p>
        </div>
    </div>
</div>

</section>


<!--占位-->
<section>
    <div style="height: 0.95rem;width: 100%;"></div>
</section>
<!--回到顶部-->
<section>
    <div id="top">
    </div>
</section>

<footer>
    <a href="10_xieYiGuanLi_xieYiChuangJian.html" class="chuangJian">+创建协议</a>
</footer>
<!--弹窗-->
<section>
    <div class="zhezhao">
        <div class="con">
            <h5></h5>

            <p>确定执行此请求吗？</p>

            <div></div>
            <span class="quXiao">取消</span><span class="queDing">确定</span>
        </div>
    </div>
</section>
<section>
    <div class="zhezhao2">
        <div class="content">
            <h3>拒绝</h3>
            <h4>请填写拒绝理由：</h4>
            <textarea class="text"></textarea>

            <p>
                <button class="cancel">取消</button>
                <button class="sure">确定</button>
            </p>
            <i class="close"></i>



            <div class="textNone"></div>
        </div>
    </div>
</section>
</div>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script charset="UTF-8" type="text/javascript" src="../../../lib/iscroll.js"></script>
<script charset="UTF-8" type="text/javascript" src="../../../lib/pullToRefresh_fixHead.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/common3.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/common.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/popup.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/18_maiJiaZhongXin/10_xieYiGuanLi_xieYiGuanLi.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/moment.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/common_http.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/request.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/jsonUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>

<script charset="utf-8" type="text/javascript" src="script/xieyiguanli.js"></script>






<script>
    Vue.filter('timestampFormat', function (value,format) {
        return moment(value).format(format);
    });
</script>
</body>
</html>
