<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>店铺信息</title>
    <script type="text/javascript" src="../../../lib/adjust.js"></script>
    <link type="text/css" rel="stylesheet" href="../../../css/common.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/18_maiJiaZhongXin/13_dianPuXinXiXiuGai_dianPuXinXiXiuGai.css"/>
</head>
<body>
<!--选项卡-->
<div id="shopInfo" v-cloak>
    <div class="main">
        <!--头部开始-->
        <header>
            <div class="header">
                <a href="../../html/18_maiJiaZhongXin/8_maiJiaZhongXin_maiJiaZhongXin.html" class="fanHui"></a>
                店铺信息
            </div>
            <div class="zhanwei"></div>
        </header>
        <!--切换选项卡-->
        <section>
            <div class="xuanXiangKa">
                <ul>
                    <li id="xinXi" class="on" @click="getXinxiInfo()">基本信息</li>
                    <li id="leiMu" @click="getLeiMu()">经营类目</li>
                    <li id="pinPai" @click="getPinPai()">经营的品牌</li>
                </ul>
            </div>
        </section>
        <!--主体内容-->
        <section>
            <div class="tab_box">
                <!--基本信息-->
                <div class="xinXi">
                    <div class="dianPu" style="margin-bottom:0.2rem;">
                        <div class="maxLength_25" v-text="shopInfo.shopName"></div>
                        <div class="pingJia">
                            <img src="../../img/shangpin.png" :src="getImgUrl(shopInfo.logoUrl)" alt=""/>
                            <div class="fl">
                                <span>服务评价：<i class="red" v-text="shopEvaluationResult.shopReputation">5</i></span>
                                <span>描述相符：<i class="red" v-text="shopEvaluationResult.shopDescription">5</i></span>
                                <span>送货速度：<i class="red" v-text="shopEvaluationResult.shopArrival">5</i></span>
                                <span>态度服务：<i class="red" v-text="shopEvaluationResult.shopService">5</i></span>
                            </div>
                        </div>
                        <p>
                            <span class="left">营业状态：</span>
                            <span class="right">
                                <template v-if="shopInfo.runStatus==1">
                                    <img src="../../img/yes-select.png" alt="" class="kaiQiDianPu"/>开启
                                    <img src="../../img/no-select.png" alt="" @click="changeRunStatus(2)" class="guanBiDianPu"/>关闭
                                </template>
                                <template v-else>
                                    <img src="../../img/no-select.png" alt="" @click="changeRunStatus(1)" class="kaiQiDianPu"/>开启
                                    <img src="../../img/yes-select.png" alt=""  class="guanBiDianPu"/>关闭
                                </template>
                            </span>
                        </p>
                        <p>
                            <span class="left">店铺域名：</span>
                            <span class="right" v-text="shopInfo.shopUrl"></span>
                        </p>
                        <p>
                            <span class="left">店铺主营：</span>
                            <span class="right" v-text="shopInfo.mainSell"></span>
                        </p>
                    </div>
                    <div class="title">
                        基本信息
                        <template v-if="auditStatus=='1'">
                            <!--已通过审核-->
                            <span class="pass" style="display:block"></span>
                        </template>
                        <template v-else-if="auditStatus=='2'">
                            <!--被驳回-->
                            <span class="reject-reason two_states" style="display:block" @click="getAuditDetail();showDetail()">
                            <!--<span class="reject-reason two_states" style="display:block" @click="showReason()">-->
                                <span class="reject"></span>
                                <span class="reason"></span>
                            </span>
                        </template>
                        <template v-else-if="auditStatus=='0'">
                            <!--审核中-->
                            <span class="under_review_detail two_states" style="display:block" @click="getAuditDetail();showDetail()">
                                <span class="under_review"></span>
                                <span class="detail"></span>
                            </span>
                        </template>
                    </div>
                    <div class="dianPu">
                        <p>
                            <span class="left">店铺类型：</span>
                            <span class="right" v-text="getShopType(shopInfo.shopType)"></span>
                        </p>
                        <p>
                            <span class="left">品牌类型：</span>
                            <span class="right" v-text="getBrandType(shopInfo.brandType)"></span>
                        </p>
                        <p>
                            <span class="left">经营类型：</span>
                            <span class="right" v-text="getBusinessType(shopInfo.businessType)"></span>
                        </p>
                        <div class="cut-off-rule"></div>
                    </div>
                    <div class="guiZe">
                        <p>
                            <span class="left">起批/混批规则：</span>
                        </p>
                        <p>
                            <span>单一商品起批：</span>
                            <span>单笔订单金额总价大于<em class="red">{{shopInfo.initialPrice}}</em>元 {{shopInfo.initialCondition==1?'或':'且'}} 单笔订单商品购买数量大于<em class="red">{{shopInfo.initialMount}}</em>件</span>
                        </p>
                        <template v-if="shopInfo.mutilPrice==1">
                            <p>
                                <span>店内商品混批：</span>
                                <span>订单总价大于<em class="red">{{shopInfo.priceMin}}</em>元 {{shopInfo.mutilCondition==1?'或':'且'}} 货品总数大于<em class="red">{{shopInfo.mountMin}}</em>件</span>
                            </p>
                        </template>
                        <p>
                            <span class="left">发货/退货地址：</span>
                            <span class="right" v-text="shopInfo.provinceName + shopInfo.cityName + shopInfo.districtName +shopInfo.streetName"></span>
                        </p>
                        <p>
                            <span class="left">店铺简介：</span>
                            <span class="right" v-text="shopInfo.introduce"></span>
                        </p>
                        <p>
                            <span class="left">关键字：</span>
                            <span class="right" v-text="shopInfo.keyword"></span>
                        </p>
                        <div class="cut-off-rule"></div>
                    </div>
                    <div class="xiaoShou">
                        <p>
                            <span class="left">销售负责人姓名：</span>
                            <span class="right" v-text="shopInfo.linkMan1"></span>
                        </p>
                        <p>
                            <span class="left">销售负责人电话：</span>
                            <span class="right" v-text="shopInfo.linkPhoneNum1"></span>
                        </p>
                        <p>
                            <span class="left">座机：</span>
                            <span class="right" >{{shopInfo.areaCode }}{{shopInfo.areaCode&&shopInfo.areaCode!=''?'-':''}}{{shopInfo.landline}}{{shopInfo.landline&&shopInfo.landline!=''?'-':''}}{{shopInfo.extensionNumber}}
                            </span>
                        </p>
                        <p>
                            <span class="left">其他联系人姓名：</span>
                            <span class="right" v-text="shopInfo.linkMan2"></span>
                        </p>
                        <p>
                            <span class="left">其他联系人电话：</span>
                            <span class="right" v-text="shopInfo.linkPhoneNum2"></span>
                        </p>
                        <p>
                            <span>免费声明扫描件</span>
                            <img :src="getImgUrl(shopInfo.disclaimer)" @click="showImg($event)" alt="" class="mar_85"/>
                            <span>商品注册申请书扫描件</span>
                            <img :src="getImgUrl(shopInfo.trademarkRegistCert)" @click="showImg($event)" alt=""/>
                        </p>
                        <p>
                            <span>报关单类扫描件</span>
                            <img :src="getImgUrl(shopInfo.inspectionReport)" @click="showImg($event)" alt="" class="mar_85"/>
                            <span>卫生生产许可证扫描件</span>
                            <img :src="getImgUrl(shopInfo.productionLicense)" @click="showImg($event)" alt=""/>
                        </p>
                        <div class="cut-off-rule"></div>
                    </div>
                    <div class="dianPu">
                        <p>
                            <span class="left">备注：</span>
                            <span class="right" v-text="shopInfo.remark"></span>
                        </p>
                    </div>
                </div>
                <!--类目信息-->
                <div class="leiMu">
                    <h3>店铺经营类目</h3>
                    <template v-for="(entity,key) in passedCategoryList">
                        <div><p v-text="entity"></p></div>
                    </template>
                    <template v-if="auditCategoryNameList">
                        <template v-for="(entity,key) in auditCategoryNameList">
                            <div><p>{{entity}}<img src="../../img/shenhe@3x.png" alt="" class="shenHeZhong"/></p></div>
                        </template>

                    </template>
                    <template v-if="rejectedCategoryList">
                        <template v-if="showEdit">
                            <template v-for="(entity,key) in rejectedCategoryList">
                                <div><p style="max-width: 5.3rem;">{{entity}}<img src="../../img/beibohui@3x.png" alt="" class="beiBoHui" /><span class="chaKanYuanYin" @click="show_category_reject_prop_lm(entity,key)">查看</span></p></div>
                            </template>
                        </template>
                        <template v-else>
                            <template v-for="(entity,key) in rejectedCategoryList">
                                <div><p>{{entity}}<img src="../../img/shenhe@3x.png" alt="" class="shenHeZhong"/></p></div>
                            </template>
                        </template>
                    </template>
                </div>
                <!--品牌信息-->
                <div class="pinPai">
                    <h3>店铺经营品牌</h3>
                    <div>
                        <template v-for="(entity,key) in shopBrandList">
                            <div><div class="items">{{key}}</div></div>
                            <p class="clearfix brand">
                                <template v-for="shopBrand in entity">
                                    <template v-if="shopBrand.status=='2'">
                                        <span class="dianPu">
                                            <img :src="getImgUrl(shopBrand.itemBrandDTO.brandLogoUrl)" @click="showPinPai($event,shopBrand.itemBrandDTO.brandName)" alt="" class="logo"/>
                                        </span>
                                    </template>
                                    <template v-else-if="shopBrand.status=='1'">
                                        <span class="dianPu">
                                            <img :src="getImgUrl(shopBrand.itemBrandDTO.brandLogoUrl)" @click="showPinPai($event,shopBrand.itemBrandDTO.brandName)" alt="" class="logo"/>
                                            <img src="../../img/shenhe@3x.png" alt="" class="shenHeZhong"/>
                                        </span>
                                    </template>
                                    <template v-else-if="shopBrand.status=='3'">
                                        <template v-if="showEdit">
                                            <span class="dianPu">
                                                <img :src="getImgUrl(shopBrand.itemBrandDTO.brandLogoUrl)" @click="showPinPai($event,shopBrand.itemBrandDTO.brandName)" alt="" class="logo"/>
                                                <img src="../../img/beibohui@3x.png" alt="" class="beiBoHui"/>
                                            </span>
                                                <span class="chaKanYuanYin" @click="show_category_reject_prop_pp(shopBrand.itemBrandDTO.brandName,shopBrand.comment)">查看</span>
                                        </template>
                                        <template v-else>
                                            <span class="dianPu">
                                            <img :src="getImgUrl(shopBrand.itemBrandDTO.brandLogoUrl)" @click="showPinPai($event,shopBrand.itemBrandDTO.brandName)" alt="" class="logo"/>
                                            <img src="../../img/shenhe@3x.png" alt="" class="shenHeZhong"/>
                                        </span>
                                        </template>
                                    </template>
                                </template>
                            </p>
                        </template>
                    </div>
                </div>
            </div>
        </section>
        <!--底部占位-->
        <section>
            <div class="footer_zhanWei"></div>
        </section>
        <!--底部按钮-->
        <template v-if="showEdit">
            <footer>
                <div class="caoZuoAnNiu">
                    <a @click="gotoEdit()"  class="chuangJian"><img src="../../img/bianji@3x.png" alt=""/>编辑</a>
                </div>
            </footer>
        </template>
    </div>
    <!--回到顶部-->
    <section>
        <div id="top">
        </div>
    </section>
    <!--审核驳回原因-->
    <section>
        <div class="reject_reason_prop">
            <div class="bg" @click="hideReason()"></div>
            <div class="reject_reason">
                <h3>驳回原因：</h3>
                <p>{{shopInfo.comment}}</p>
                <img src="../../img/cha.png" class="close" @click="hideReason()"/>
            </div>
        </div>
    </section>
    <!--图片放大-->
    <section>
        <div class="showBigImgProp">
            <div class="bg" @click="hideImg()"></div>
            <div class="showBigImg">
                <img id="imgDiv" alt=""/>
                <img src="../../img/cha.png" alt="" class="close" @click="hideImg()"/>
            </div>
        </div>
    </section>
    <!--经营类目查看驳回原因-->
    <section>
        <div class="category_reject_prop">
            <div class="bg" @click="hide_category_reject_prop()"></div>
            <div class="category_reject">
                <h3>驳回原因</h3>
                <div><span class="left">被驳回{{rejectedType}}：</span><span class="right">{{rejectedCategoryText}}</span></div>
                <div><span class="left">驳回原因：</span><span class="right">{{rejectedCategoryComment}}</span></div>
                <p class="btn"><button class="cancel" @click="hide_category_reject_prop()">取消</button><button class="sure" @click="hide_category_reject_prop()">确定</button></p>
                <img src="../../img/cha.png" class="close" @click="hide_category_reject_prop()"/>
            </div>
        </div>
    </section>
    <!--经营品牌点击放大图片-->
    <section>
        <div class="pinPai_bg">
            <div class="bg" @click="hidePinPai()"></div>
            <div class="pinPai_logo">
                <img id="pinPaiImg" src="../../img/shangjia.png" alt="">
                <p id="pinPaiText">品牌名字</p>
                <img src="../../img/cha.png" class="close" @click="hidePinPai()"/>
            </div>
        </div>
    </section>
    <!--修改明细-->
    <section>
        <div class="revise_detail">
            <!--头部开始-->
            <header>
                <div class="header">
                    <a href="javascript:;" class="fanHui" @click="hideDetail()"></a>
                    店铺修改明细信息
                </div>
                <div style="height: 0.88rem;"></div>
            </header>
            <div class="xinXi">
                <template v-if="auditStatus=='2'">
                    <div class="title">
                        驳回原因：{{shopInfo.comment}}
                    </div>
                </template>
                <div class="title">
                    修改明细
                </div>
                <div class="dianPu">
                    <template v-if="shopAuditInfo.shop_name">
                    <p>
                        <span class="left">店铺名称：</span>
                        <span class="right" v-text="shopAuditInfo.shop_name"></span>
                    </p>
                    </template>
                    <template v-if="shopAuditInfo.logo_url">
                    <p>
                        <span class="left">店铺logo：</span>
                        <img id="logoUrlImg" :src="getImgUrl(shopAuditInfo.logo_url)" @click="showImg($event)" alt="" style="width:2rem;"/>
                    </p>
                    </template>
                    <template v-if="shopAuditInfo.introduce">
                    <p>
                        <span class="left">店铺简介：</span>
                        <span class="right" v-text="getShopType(shopAuditInfo.introduce)"></span>
                    </p>
                    </template>
                    <template v-if="shopAuditInfo.main_sell">
                    <p>
                        <span class="left">店铺主营：</span>
                        <span class="right" v-text="getShopType(shopAuditInfo.main_sell)"></span>
                    </p>
                    </template>
                    <template v-if="shopAuditInfo.shop_type">
                    <p>
                        <span class="left">店铺类型：</span>
                        <span class="right" v-text="getShopType(shopAuditInfo.shop_type)"></span>
                    </p>
                    </template>
                    <template v-if="shopAuditInfo.brand_type">
                    <p>
                        <span class="left">品牌类型：</span>
                        <span class="right" v-text="getBrandType(shopAuditInfo.brand_type)"></span>
                    </p>
                    </template>
                    <template v-if="shopAuditInfo.business_type">
                    <p>
                        <span class="left">经营类型：</span>
                        <span class="right" v-text="getBusinessType(shopAuditInfo.business_type)"></span>
                    </p>
                    </template>
                    <template v-if="shopAuditInfo.shop_type||shopAuditInfo.brand_type||shopAuditInfo.business_type">
                        <div class="cut-off-rule"></div>
                    </template>
                </div>
                <div class="guiZe">
                    <template v-if="shopAuditInfo.initial_price||shopAuditInfo.initial_condition||shopAuditInfo.initial_mount||shopAuditInfo.mutilPrice||shopAuditInfo.price_min||shopAuditInfo.mount_min||shopAuditInfo.mutil_condition||shopAuditInfo.province_name||shopAuditInfo.city_name||shopAuditInfo.district_name||shopAuditInfo.street_name||shopAuditInfo.zcode||shopAuditInfo.introduce">
                        <p>
                            <span class="left">起批/混批规则：</span>
                        </p>
                    </template>
                    <template v-if="shopAuditInfo.initial_price||shopAuditInfo.initial_condition||shopAuditInfo.initial_mount">
                    <p>
                        <span>单一商品起批：</span>
                        <span>单笔订单金额总价大于<em class="red">{{shopAuditInfo.initial_price?shopAuditInfo.initial_price:shopInfo.initialPrice}}</em>元 {{shopAuditInfo.initial_condition?(shopAuditInfo.initial_condition==1?'或':'且'):(shopInfo.initialCondition==1?'或':'且')}} 单笔订单商品购买数量大于<em class="red">{{shopAuditInfo.initial_mount?shopAuditInfo.initial_mount:shopInfo.initialMount}}</em>件</span>
                    </p>
                    </template>
                    <template v-if="shopAuditInfo.mutilPrice||shopAuditInfo.price_min||shopAuditInfo.mount_min||shopAuditInfo.mutil_condition">
                        <p>
                            <span>店内商品混批：</span>
                            <span>订单总价大于<em class="red">{{shopAuditInfo.price_min?shopAuditInfo.price_min:shopInfo.priceMin}}</em>元 {{shopAuditInfo.mutil_condition?(shopAuditInfo.mutil_condition==1?'或':'且'):(shopInfo.mutilCondition==1?'或':'且')}} 货品总数大于<em class="red">{{shopAuditInfo.mount_min?shopAuditInfo.mount_min:shopInfo.mountMin}}</em>件</span>
                        </p>
                    </template>
                    <template v-if="shopAuditInfo.province_name||shopAuditInfo.city_name||shopAuditInfo.district_name||shopAuditInfo.street_name">
                        <p>
                            <span class="left">发货/退货地址：</span>
                            <span class="right">{{shopAuditInfo.province_name?shopAuditInfo.province_name:shopInfo.provinceName}}{{shopAuditInfo.city_name?shopAuditInfo.city_name:shopInfo.cityName}}{{shopAuditInfo.district_name?shopAuditInfo.district_name:shopInfo.districtName}}{{shopAuditInfo.street_name?shopAuditInfo.street_name:shopInfo.streetName}}</span>
                        </p>
                    </template>
                    <template v-if="shopAuditInfo.zcode">
                        <p>
                            <span class="left">邮政编码：</span>
                            <span class="right" v-text="shopAuditInfo.zcode"></span>
                        </p>
                    </template>
                    <template v-if="shopAuditInfo.introduce">
                    <p>
                        <span class="left">店铺简介：</span>
                        <span class="right" v-text="shopAuditInfo.introduce"></span>
                    </p>
                    </template>
                    <template v-if="shopAuditInfo.initial_price||shopAuditInfo.initial_condition||shopAuditInfo.initial_mount||shopAuditInfo.mutilPrice||shopAuditInfo.price_min||shopAuditInfo.mount_min||shopAuditInfo.mutil_condition||shopAuditInfo.province_name||shopAuditInfo.city_name||shopAuditInfo.district_name||shopAuditInfo.street_name||shopAuditInfo.zcode||shopAuditInfo.introduce">
                        <div class="cut-off-rule"></div>
                    </template>
                </div>
                <div class="xiaoShou">
                    <p>
                        <template v-if="shopAuditInfo.disclaimer">
                            <span>免费声明扫描件</span>
                            <img :src="getImgUrl(shopAuditInfo.disclaimer)" @click="showImg($event)" alt="" class="mar_85"/>
                        </template>
                        <template v-if="shopAuditInfo.trademark_regist_cert">
                            <span>商品注册申请书扫描件</span>
                            <img :src="getImgUrl(shopAuditInfo.trademark_regist_cert)" @click="showImg($event)" alt=""/>
                        </template>
                    </p>
                    <p>
                        <template v-if="shopAuditInfo.inspection_report">
                            <span>报关单类扫描件</span>
                            <img :src="getImgUrl(shopAuditInfo.inspection_report)" @click="showImg($event)" alt="" class="mar_85"/>
                        </template>
                        <template v-if="shopAuditInfo.production_license">
                            <span>卫生生产许可证扫描件</span>
                            <img :src="getImgUrl(shopInfo.production_license)" @click="showImg($event)" alt=""/>
                        </template>
                    </p>
                    <template v-if="shopAuditInfo.disclaimer||shopAuditInfo.trademark_regist_cert||shopAuditInfo.inspection_report||shopAuditInfo.production_license">
                        <div class="cut-off-rule"></div>
                    </template>
                </div>
            </div>
        </div>
    </section>
</div>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/request.js"></script>
<script type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/common.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/popup.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/18_maiJiaZhongXin/13_dianPuXinXiXiuGai_dianPuXinXiXiuGai.js"></script>
<script charset="utf-8" type="text/javascript" src="script/13_shopInfo.js"></script>
</body>
</html>
