<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>提现账户信息</title>
    <link type="text/css" rel="stylesheet" href="../../../css/common.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/18_maiJiaZhongXin/14_zhangHuSheZhi_tiXianZhangHuXinXi.css"/>
    <script type="text/javascript" src="../../../lib/adjust.js"></script>
</head>
<body>
<!--头部开始-->
<header>
    <div class="header">
        <a href="../../html/18_maiJiaZhongXin/14_zhangHuSheZhi_jiBenXinXiSheZhi.html" class="return"></a>
        <span class="xiala">提现账户信息</span>
        <ul class="list">
            <li><a href="14_zhangHuSheZhi_lianXiRenXinXi.html">联系人信息</a></li>
            <li><a href="14_zhangHuSheZhi_yingYeZhiZhaoXinXi.html">营业执照信息</a></li>
            <li><a href="14_zhangHuSheZhi_tiXianZhangHuXinXi.html">提现账户信息</a></li>
            <li><a href="14_zhangHuSheZhi_gongSiJingYingXinXi.html">公司经营信息</a></li>
        </ul>
    </div>
    <div style="height: 0.88rem;"></div>
</header>
<!--联系人开始-->
<div id="seller">
<section>
    <div class="lianxiren xinXi">
        <h2 class="title">提现账户信息</h2>
        <p class="clearfix">
            <span class="left"><label>＊</label>账户名称：</span><span class="right" v-text="userInfoDTO.userAccountDTO.bankAccountName"></span>
        </p>
        <p class="clearfix">
            <span class="left"><label>＊</label>公司银行账号：</span><span class="right" v-text="userInfoDTO.userAccountDTO.bankAccount"></span>
        </p>
        <p class="clearfix">
            <span class="left"><label>＊</label>开户银行全称：</span><span class="right" v-text="userInfoDTO.userAccountDTO.bankName"></span>
        </p>
        <p class="clearfix">
            <span class="left"><label>＊</label>开户银行联行号：</span><span class="right" v-text="userInfoDTO.userAccountDTO.bankBranchJointLine"></span>
        </p>
        <p class="clearfix">
            <span class="left"><label>＊</label>开户银行所在地：</span><span class="right" v-text="bankBranchIsLocated"></span>
        </p>
        <p class="clearfix">
            <span class="left"><label>＊</label>是否中信银行：</span><span class="right" v-text="userInfoDTO.userAccountDTO.isCiticBank==1?'是':'否'"></span>
        </p>
        <template v-if="userInfoDTO.userAccountDTO.bankAccountStatus=='1'">
            <div class="daishenhe"></div>
        </template>
        <template v-if="userInfoDTO.userAccountDTO.bankAccountStatus=='0'">
            <div class="boHui" @click="showRemark(userInfoDTO.userAccountDTO.auditRemark)">
                <div class="yibohui"></div>
                <div class="chakanyuanyin"></div>
            </div>
        </template>
        <template v-if="userInfoDTO.userAccountDTO.bankAccountStatus=='2'">
            <div class="yishenhe" ></div>
        </template>
        <template v-else>
            <div class=""></div>
        </template>
    </div>
</section>
<section>
    <div class="yinhang">
        <p class="clearfix">
            <span class="left w264">银行开户许可证电子版：</span><span class="right"><img :src="getImgUrl(userInfoDTO.userAccountDTO.bankAccountPermitsPicSrc)" @click="showImg($event)"  alt=""/></span>
        </p>
    </div>
</section>
    <template v-if="userInfoDTO.userDTO.auditStatus == '2' && userInfoDTO.userAccountDTO.bankAccountStatus != '1'">
        <footer>
            <div class="footer">
                <a href="14_zhangHuSheZhi_tiXianZhangHuXinXiXiuGai.html" class="xiuGaiYongHu">修改</a>
            </div>
        </footer>
    </template>
    <div class="showBigImg" @click="hideImg()">
        <div style="height: 7rem;width: 5rem;margin: 2rem auto;position: relative">
            <img style="width: 100%" id="imgDiv" alt=""/>
            <img style="height: 0.4rem;width: 0.4rem;position: absolute;right: -0.2rem;top:  -0.2rem" src="../../img/cha.png" alt=""/>
        </div>
    </div>
<section>
    <div class="zhezhao">
        <div class="con">
            <h3>查看驳回原因</h3>
            <h4>驳回原因：</h4>
            <textarea class="text" readonly="readonly" v-text="remark"></textarea>
            <p><button class="cancel">取消</button><button class="sure">确定</button></p>
            <i class="close"></i>
        </div>
    </div>
</section>
</div>
<script type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script type="text/javascript" src="../../../lib/common.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/request.js"></script>
<script charset="utf-8" type="text/javascript" src="script/14_sellerInfo.js"></script>
<script type="text/javascript" src="../../js/18_maiJiaZhongXin/14_zhangHuSheZhi_lianXiRenXinXi.js"></script>
</body>
</html>
