<!DOCTYPE html>
<html xmlns:v-if="http://www.w3.org/1999/XSL/Transform">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>联系人信息查看</title>
    <link type="text/css" rel="stylesheet" href="../../../css/common.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/18_maiJiaZhongXin/14_zhangHuSheZhi_lianXiRenXinXi.css"/>
    <script type="text/javascript" src="../../../lib/adjust.js"></script>
</head>
<body>
<!--头部开始-->
<header>
    <div class="header">
        <a href="../../html/18_maiJiaZhongXin/14_zhangHuSheZhi_jiBenXinXiSheZhi.html" class="return"></a>
        <span class="xiala">联系人信息</span>
        <ul class="list">
            <li><a href="14_zhangHuSheZhi_lianXiRenXinXi.html">联系人信息</a></li>
            <li><a href="14_zhangHuSheZhi_yingYeZhiZhaoXinXi.html">营业执照信息</a></li>
            <li><a href="14_zhangHuSheZhi_tiXianZhangHuXinXi.html">提现账户信息</a></li>
            <li><a href="14_zhangHuSheZhi_gongSiJingYingXinXi.html">公司经营信息</a></li>
        </ul>
    </div>
    <div style="height: 0.88rem;"></div>
</header>
<!--联系人开始-->
<div id = "seller">
<section>
    <div class="lianxiren xinXi">
        <div>
        <h2 class="title">联系人信息</h2>
        <p class="clearfix">
            <span class="left">用户编号：</span><span class="right" v-text="userInfoDTO.userId"></span>
        </p>
        <p class="clearfix">
            <span class="left">用户名：</span><span class="right" v-text="userInfoDTO.userDTO.uname"></span>
        </p>
        <p class="clearfix">
            <span class="left"><label>＊</label>固定电话：</span><span class="right" v-text="userDTO.linkPhoneNum"></span>
        </p>
        <p class="clearfix">
            <span class="left"><label>＊</label>所在部门：</span><span class="right" v-text="departmentLab"></span>
        </p>
        <p class="clearfix">
            <span class="left"><label>＊</label>联系人姓名：</span><span class="right" v-text="userDTO.linkMan"></span>
        </p>
        <p class="clearfix">
            <span class="left">绑定手机：</span>
            <span class="right">
                <span  v-text="userInfoDTO.userDTO.umobile" class="fl"></span>
                <template v-if="userInfoDTO.userDTO.umobile">
                    <span class="fr">已绑定<a href="../../html/12_maiJiaZhongXin/6_anQuanXinXiSheZhi_xiuGaiShouJi.html">点此修改</a></span>
                </template>
                <template v-else>
                    <span class="fr">未绑定<a href="../../html/12_maiJiaZhongXin/6_anQuanXinXiSheZhi_bangDingShouJi.html">点此绑定</a></span>
                </template>
            </span>
        </p>
        <p class="clearfix">
            <span class="left">绑定邮箱：</span>
            <span class="right" >
                <span class="fl" v-text="userInfoDTO.userDTO.userEmail"></span>
                <template v-if="userInfoDTO.userDTO.userEmail">
                    <span class="fr">已绑定<a href="../../html/12_maiJiaZhongXin/6_anQuanXinXiSheZhi_xiuGaiYouXiang.html">点此修改</a></span>
                </template>
                <template v-else>
                    <span class="fr">未绑定<a href="../../html/12_maiJiaZhongXin/6_anQuanXinXiSheZhi_bangDingYouXiang.html">点此绑定</a></span>
                </template>
            </span>
        </p>
            <template v-if="userInfoDTO.userDTO.auditStatus=='1'">
                <div class="daishenhe"></div>
            </template>
            <template v-if="userInfoDTO.userDTO.auditStatus=='0'">
                <div class="boHui">
                    <div class="yibohui"></div>
                    <div class="chakanyuanyin"></div>
                </div>
            </template>
            <template v-if="userInfoDTO.userDTO.auditStatus=='2'">
                <div class="yishenhe"></div>
            </template>
            <template v-else>
                <div class=""></div>
            </template>

        </div>
    </div>
</section>
    <footer>
        <div class="footer">
            <a href="14_zhangHuSheZhi_lianXiRenXinXiXiuGai.html" class="xiuGaiYongHu">修改</a>
        </div>
    </footer>
</div>
<script type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../../../lib/common.js"></script>
<script type="text/javascript" src="../../js/18_maiJiaZhongXin/14_zhangHuSheZhi_lianXiRenXinXi.js"></script>
<script type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/request.js"></script>
<script charset="utf-8" type="text/javascript" src="script/14_sellerInfo.js"></script>
</body>
</html>
