<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>订单详情</title>
    <link type="text/css" rel="stylesheet" href="../../../css/common.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/12_maiJiaZhongXin/12_dingDan_dingDanXiangQing.css"/>
    <script type="text/javascript" src="../../../lib/adjust.js"></script>
</head>
<body>
<div id="order_detail" v-cloak>
<!--头部开始-->
<header>
    <div class="header">
        <a href="javascript:;" class="fanHui" onclick="javascript:history.back(-1);"></a>
        <!--<a href="javascript:;" class="fanHui" v-on:click="toOrderList()"></a>-->
        订单详情
    </div>
    <div style="height: 0.88rem;"></div>
</header>
    <!--分期订单才显示-->
    <template v-if="orderType && orderType=='periodOrder'">
        <div class="stageTopBtn">
            <span style="border-right: 1px solid #e8e8e8;" class="red_word">订单信息</span>
            <span @click="getPeriodInfo(orderInfo.tradeOrder.orderId)">
                <template v-if="orderInfo.tradeOrder.shipmentType && orderInfo.tradeOrder.shipmentType==3">
            		分期信息
            	</template>
            	 <template v-if="orderInfo.tradeOrder.shipmentType && orderInfo.tradeOrder.shipmentType==2">
            		延期信息
            	</template>
            	<template v-if="orderInfo.tradeOrder.shipmentType && orderInfo.tradeOrder.shipmentType==4">
            		定金信息
            	</template>
            	<template v-if="orderInfo.tradeOrder.shipmentType && orderInfo.tradeOrder.shipmentType==5">
            		延期信息
            	</template>
            </span>
        </div>
    </template>
<div class="stageDet" style="display:none">
    <template v-if="orderInfo.tradeOrder.shipmentType && orderInfo.tradeOrder.shipmentType==3">
        <template v-for="(periodItem,index) in periodItemList">
            <div class="oneStage">
                <p>N{{index < 9 ? '0'+(index+1):(index+1)}}</p>
                <p class="marT_20">
                    <span class="stageKey">分 期 比 例：</span>{{periodItem.payScale | toDecimal2}}%
                </p>
                <p class="marT_20">
                    <span class="stageKey">金&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;额：</span>￥{{periodItem.apPayCapital |toDecimal2}}
                </p>
                <p class="marT_20">
                    <span class="stageKey">逾期手续费：</span>￥{{periodItem.apOverdueFee | toDecimal2}}
                </p>
                <p class="marT_20">
                    <span class="stageKey">支 付 状 态：</span><template v-if="periodItem.isPay==1">已支付</template><template v-else>未支付</template>
                </p>
                <p class="marT_20">
                    <!--<span class="stageKey">应支付时间：</span><template v-if="periodItem.apStartTime && periodItem.apStartTime!=null">{{ periodItem.apStartTime|longToDateNoTime}} 至</template> <template v-if="periodItem.apEndTime && periodItem.apEndTime!=null">{{ periodItem.apEndTime |longToDateNoTime}}</template>-->
                    <span class="stageKey">最晚支付时间：</span> <template v-if="periodItem.apEndTime && periodItem.apEndTime!=null">{{ (periodItem.apEndTime-60*24*60*1000) |longToDateNoTime}}</template>
                </p>
                <p class="marT_20">
                    <span class="stageKey">支 付 时 间：</span><template v-if="periodItem.payTime && periodItem.payTime!=null">{{ periodItem.payTime |longToDateNoTime}}</template>
                </p>
            </div>
            <!--延期信息-->
            <!--<div class="oneStage">
                <p class="marT_20">
                    <span class="stageKey">金&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;额：</span>￥{{periodItem.apPayCapital |toDecimal2}}
                </p>
                <p class="marT_20">
                    <span class="stageKey">逾期手续费：</span>￥{{periodItem.apOverdueFee | toDecimal2}}
                </p>
                <p class="marT_20">
                    <span class="stageKey">支 付 状 态：</span><template v-if="periodItem.isPay==1">已支付</template><template v-else>未支付</template>
                </p>
                <p class="marT_20">
                    <span class="stageKey">账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期：</span>提交订单后10天
                </p>
                <p class="marT_20">
                    &lt;!&ndash;<span class="stageKey">应支付时间：</span><template v-if="periodItem.apStartTime && periodItem.apStartTime!=null">{{ periodItem.apStartTime|longToDateNoTime}} 至</template> <template v-if="periodItem.apEndTime && periodItem.apEndTime!=null">{{ periodItem.apEndTime |longToDateNoTime}}</template>&ndash;&gt;
                    <span class="stageKey">最晚还款时间：</span> <template v-if="periodItem.apEndTime && periodItem.apEndTime!=null">{{ (periodItem.apEndTime-60*24*60*1000) |longToDateNoTime}}</template>
                </p>
                <p class="marT_20">
                    <span class="stageKey">支 付 时 间：</span><template v-if="periodItem.payTime && periodItem.payTime!=null"></template>
                </p>
                <p class="marT_20">
                    <span class="stageKey">支 付 方 式：</span><template v-if="periodItem.payTime && periodItem.payTime!=null"></template>
                </p>
            </div>-->
        </template>
    </template>
    <template v-if="orderInfo.tradeOrder.shipmentType && orderInfo.tradeOrder.shipmentType==4 && periodItemList.length>0">
            <div class="oneStage">
                <p class="font_bold">定金阶段</p>
                <p><span class="stageKey">金&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; 额：</span>￥{{periodItemList[0].apPayCapital |toDecimal2}}</p>
                <p><span class="stageKey">交&nbsp;&nbsp;&nbsp;易 &nbsp;状 &nbsp;态：</span>{{periodItemList[0].tranStatus}}</p>
                <p><span class="stageKey">支&nbsp; &nbsp;付 &nbsp;状 &nbsp;态：</span><template v-if="periodItemList[0].isPay==1">已支付</template><template v-else>未支付</template></p>
                <p><span class="stageKey">最晚支付日期：</span><template v-if="periodItemList[0].apEndTime && periodItemList[0].apEndTime!=null">{{ (periodItemList[0].apEndTime-60*24*60*1000) |longToDateNoTime}}</template></p>
                <p><span class="stageKey">支&nbsp; &nbsp;付 &nbsp;时 &nbsp;间：</span><template v-if="periodItemList[0].payTime && periodItemList[0].payTime!=null">{{ periodItemList[0].payTime |longToDateNoTime}}</template></p>
                <p><span class="stageKey">付&nbsp; &nbsp;款 &nbsp;方 &nbsp;式：</span>
                    <template v-if="periodItemList[0].paymentType == 0">支付宝</template>
                    <template v-else-if="periodItemList[0].paymentType == 1">京东支付</template>
                    <template v-else-if="periodItemList[0].paymentType == 2">小印支付</template>
                    <template v-else-if="periodItemList[0].paymentType == 3">线下付款</template>
                    <template v-else-if="periodItemList[0].paymentType == 4">支付宝其他银行</template>
                    <template v-else-if="periodItemList[0].paymentType == 5 || periodItemList[0].paymentType == 6">微信支付</template>
                    <template v-else-if="periodItemList[0].paymentType == 7">积分支付</template>
                    <template v-else-if="periodItemList[0].paymentType == 8">转账支付</template>
                    <template v-else-if="periodItemList[0].paymentType == 100">支付宝手机端</template>
                    <template v-else-if="periodItemList[0].paymentType == 101">京东快捷支付</template>
                </p>
            </div>
            <div class="oneStage">
                <p class="font_bold">尾款阶段</p>
                <p><span class="stageKey">金&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; 额：</span>￥{{periodItemList[1].apPayCapital |toDecimal2}}</p>
                <p><span class="stageKey">交&nbsp;&nbsp;&nbsp;易 &nbsp;状 &nbsp;态：</span>{{periodItemList[1].tranStatus}}</p>
                <p><span class="stageKey">支&nbsp; &nbsp;付 &nbsp;状 &nbsp;态：</span><template v-if="periodItemList[1].isPay==1">已支付</template><template v-else>未支付</template></p>
                <p><span class="stageKey">最晚支付日期：</span><template v-if="periodItemList[1].apEndTime && periodItemList[1].apEndTime!=null">{{ (periodItemList[1].apEndTime-60*24*60*1000) |longToDateNoTime}}</template></p>
                <p><span class="stageKey">支&nbsp; &nbsp;付 &nbsp;时 &nbsp;间：</span><template v-if="periodItemList[1].payTime && periodItemList[1].payTime!=null">{{ periodItemList[1].payTime |longToDateNoTime}}</template></p>
                <p><span class="stageKey">付&nbsp; &nbsp;款 &nbsp;方 &nbsp;式：</span>
                    <template v-if="periodItemList[1].paymentType == 0">支付宝</template>
                    <template v-else-if="periodItemList[1].paymentType == 1">京东支付</template>
                    <template v-else-if="periodItemList[1].paymentType == 2">小印支付</template>
                    <template v-else-if="periodItemList[1].paymentType == 3">线下付款</template>
                    <template v-else-if="periodItemList[1].paymentType == 4">支付宝其他银行</template>
                    <template v-else-if="periodItemList[1].paymentType == 5 || periodItemList[1].paymentType == 6">微信支付</template>
                    <template v-else-if="periodItemList[1].paymentType == 7">积分支付</template>
                    <template v-else-if="periodItemList[1].paymentType == 8">转账支付</template>
                    <template v-else-if="periodItemList[1].paymentType == 100">支付宝手机端</template>
                    <template v-else-if="periodItemList[1].paymentType == 101">京东快捷支付</template>
                </p>
            </div>
    </template>
    <template v-if="orderInfo.tradeOrder.shipmentType && orderInfo.tradeOrder.shipmentType==5 && periodItemList.length>0">
        <div class="oneStage">
            <p><span class="stageKey">金&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; 额：</span>￥{{periodItemList[0].apPayCapital |toDecimal2}}</p>
            <p><span class="stageKey">逾&nbsp;期&nbsp;手&nbsp;续&nbsp;费：</span>
                <template v-if="periodItemList[0].apOverdueFeeFlag==1">{{periodItemList[0].apOverdueFee}}
                    <template v-if="periodItemList[0].apOverdueFeeUnit==1">%</template><!--apOverdueFeeUnit 1为%，2为元-->
                    <template v-else>元</template>
                    <template v-if="periodItemList[0].apOverdueFeeType==1">/期</template><!--apOverdueFeeType 1为按期收费，2为按天收费-->
                    <template v-else>/天</template>
                </template>
                <template v-else>无</template>
            </p>
            <p><span class="stageKey">支&nbsp; &nbsp;付 &nbsp;状 &nbsp;态：</span>
                <template v-if="periodItemList[0].isPay==0">未支付</template>
                <template v-else>已支付</template>
            </p>
            <p><span class="stageKey">账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; 期：</span>提交订单后{{periodItemList[0].payInterval}}天</p>

            <p><span class="stageKey">最晚还款时间：</span><template v-if="periodItemList[0].apEndTime && periodItemList[0].apEndTime!=null">{{periodItemList[0].apEndTime |longToDateNoTime}}</template></p>
            <p><span class="stageKey">支&nbsp; &nbsp;付 &nbsp;时 &nbsp;间：</span><template v-if="periodItemList[0].payTime && periodItemList[0].payTime!=null">{{periodItemList[0].payTime |longToDateNoTime}}</template></p>
            <p><span class="stageKey">支&nbsp; &nbsp;付 &nbsp;方 &nbsp;式：</span>{{periodItemList[0].paymentType}}</p>
        </div>
    </template>
</div>
<div  class="orderDet">

    <section>
        <div class="dingDanHao">
            订单号：<i class="orderNum">{{orderInfo.tradeOrder.orderId}}</i>
            <span>
                <template v-if="orderInfo.tradeOrder.shipmentType == 2"><!--延期订单-->
                    <template v-if="orderInfo.tradeOrder.paid == 2">
                        <template v-if="orderInfo.tradeOrder.state == 1">等待付款</template>
                        <template v-else-if="orderInfo.tradeOrder.state == 2">待配送</template>
                        <template v-else-if="orderInfo.tradeOrder.state == 3">待买家收货</template>
                        <template v-else-if="orderInfo.tradeOrder.state == 4">买家已收货</template>
                        <template v-else-if="orderInfo.tradeOrder.state == 5">交易完成</template>
                        <template v-else-if="orderInfo.tradeOrder.state == 6">已取消</template>
                        <template v-else-if="orderInfo.tradeOrder.state == 7">已关闭</template>
                    </template>
                    <template v-else>
                        <template v-if="orderInfo.tradeOrder.state == 1">等待付款</template>
                        <template v-else-if="orderInfo.tradeOrder.state == 2">待配送</template>
                        <template v-else-if="orderInfo.tradeOrder.state == 3">待买家收货</template>
                        <template v-else-if="orderInfo.tradeOrder.state == 4">买家已收货</template>
                        <template v-else-if="orderInfo.tradeOrder.state == 5">等待付款</template>
                        <template v-else-if="orderInfo.tradeOrder.state == 6">已取消</template>
                        <template v-else-if="orderInfo.tradeOrder.state == 7">已关闭</template>
                    </template>
                </template>
                <template v-else><!--普通订单-->
                    <template v-if="orderInfo.tradeOrder.state == 1">等待付款</template>
                    <template v-else-if="orderInfo.tradeOrder.state == 2">待配送</template>
                    <template v-else-if="orderInfo.tradeOrder.state == 3">待买家收货</template>
                    <template v-else-if="orderInfo.tradeOrder.state == 4">买家已收货</template>
                    <template v-else-if="orderInfo.tradeOrder.state == 5">交易完成</template>
                    <template v-else-if="orderInfo.tradeOrder.state == 6">已取消</template>
                    <template v-else-if="orderInfo.tradeOrder.state == 7">已关闭</template>
                </template>
            </span>
        </div>
        <!--此处隐藏收货地址信息-->
        <div class="xinxi">
            <div class="address_xinxi">
                <div class="shouJianRen">
                    <p id="name">收货人：{{orderInfo.tradeOrder.name}}</p>
                    <p id="number">{{orderInfo.tradeOrder.mobile}}</p>
                </div>
                <div class="diZhi">
                    <span class="dingWei"></span>
                    <p>
                        {{orderInfo.tradeOrder.fullAddress}}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="dingDan">
            <div class="dianPu clearfix">
                <span class="pingTai"></span>
                <a href="javascript:;" class="name" v-on:click="toShop(orderInfo.tradeOrder.shopId)">{{orderInfo.tradeOrder.shopName}}</a>
            </div>
            <template v-for="item in orderInfo.tradeOrder.items">
                <a class="xiangQing" href="javascript:;">
                    <template v-if="item.itemBuyType == 4">
                        <template v-for="mealitem in item.itemMealDTO.itemMealDetails">
                            <div class="top clearfix">
                                    <img v-bind:src="img_url + mealitem.skuInfo.itemPicUrl" alt="" v-on:click="goodsDetail(mealitem.itemId,mealitem.skuId)"/>
                                <div class="fr">
                                    <p class="shangPin">
                                        <span v-on:click="goodsDetail(mealitem.itemId,mealitem.skuId)">{{ mealitem.skuInfo.itemName }}</span>
                                    </p>
                                    <p class="leiXing" v-on:click="goodsDetail(mealitem.itemId,mealitem.skuId)">
                                       <template v-for="array in mealitem.skuInfo.itemAttrList">
                                            <span>
                                                {{ array.name }} :
                                                <template v-for="itemAttrValuePT in array.values">
                                                    {{itemAttrValuePT.name}}
                                                </template>
                                            </span>
                                        </template>
                                    </p>
                                    <p class="jiSuan">
                                <span class="money">
                                    <template>¥{{ mealitem.skuInfo.sellPrices[0].sellPrice }}</template>
                                </span>
                                        <span class="num">X {{item.num}}</span>
                                    </p>
                                </div>
                            </div>
                        </template>
                    </template>
                    <template v-else="">
                        <div class="top clearfix">
                            <template v-for="array in orderInfo.jsonArray">
                                <template v-if="array.skuId == item.skuId">
                                    <img v-bind:src="img_url + array.skuPicUrl" alt="" v-on:click="goodsDetail(item.itemId,item.skuId,item)"/>
                                </template>
                            </template>
                            <div class="fr">
                                <p class="shangPin">
                                    <template v-for="array in orderInfo.jsonArray">
                                        <template v-if="array.skuId == item.skuId">
                                            <span v-on:click="goodsDetail(item.itemId,item.skuId,item)">{{array.itemName}}</span>
                                        </template>
                                    </template>
                                </p>
                                <p class="leiXing" v-on:click="goodsDetail(item.itemId,item.skuId,item)">
                                    <template v-for="array in orderInfo.jsonArray">
                                        <template v-if="array.skuId == item.skuId">
                                            <template v-if="item.itemBuyType == 2 || item.itemBuyType == 3">
                                                {{ item.boardItemSkuStr }}
                                            </template>
                                            <template v-else="">
                                                <template v-for="itemAttrName in array.itemAttr">
                                                    <span>
                                                        {{itemAttrName.name}} :
                                                        <template v-for="itemAttrValue in itemAttrName.values">
                                                            {{itemAttrValue.name}}
                                                        </template>
                                                    </span>
                                                </template>
                                            </template>
                                        </template>
                                    </template>
                                </p>
                                <p class="jiSuan">
                                <span class="money">
                                    <template v-if="orderInfo.tradeOrder.paymentMethod == 3">{{item.payPrice}}积分</template>
                                    <template v-else>¥{{item.payPrice}}</template>
                                </span>
                                    <span class="num">X {{item.num}}</span>
                                </p>
                            </div>
                        </div>
                    </template>
                    <div class="caoZuo">
                        <template v-if="orderInfo.tradeOrder.paid == 1 && orderInfo.tradeOrder.state < 4 && orderInfo.tradeOrder.items[0].itemBuyType!=4">
                            <template v-for="array in orderInfo.jsonArray">
                                <template v-if="array.skuId == item.skuId && orderInfo.tradeOrder.orderType!=3">
                                    <a href="javascript:;"  class="changePrice_button" v-on:click="showOrderChangePriceDiv(orderInfo.tradeOrder.orderId, item.itemId, item.skuId, array.payPriceTotal, array.promotionDiscount, array.sumDiscount, orderInfo.tradeOrder.freight,array.primitivePrice,array.integralDiscount)">商品改价</a>
                                </template>
                            </template>
                        </template>

                        <template v-for="array in orderInfo.jsonArray">
                            <template v-if="array.skuId == item.skuId">
                                <template v-if="orderInfo.tradeOrder.state >= 3">
                                    <template v-if="array.deliveryId == ''">
                                        <!--<a href="javascript:;" v-on:click="logisticsInformationNone2Win()">查看物流</a>-->
                                    </template>
                                    <template v-else>
                                       <!-- <a href="javascript:;" v-on:click="checkLogistic(array.orderItemId)">查看物流</a>-->
                                    </template>
                                </template>
                            </template>
                        </template>
                    </div>
                </a>
                <div style="width: 6rem;border: 1px dashed #E8E8E8;margin: 0 auto;"></div>
            </template>
        </div>
    </section>
        <section>
            <div class="zhiFuFangShi">
                   支付类型
            <span>
                <template v-if="orderInfo.tradeOrder.paymentMethod != 3">
                <template v-if="orderInfo.tradeOrder.shipmentType == 1">立即支付</template>
                <template v-else-if="orderInfo.tradeOrder.shipmentType == 2"> 延期支付</template>
                <template v-else-if="orderInfo.tradeOrder.shipmentType == 3"> 分期支付</template>
                <template v-else-if="orderInfo.tradeOrder.shipmentType == 4"> 定金支付</template>
                <template v-else-if="orderInfo.tradeOrder.shipmentType == 5"> 延期支付</template>
                </template>
                <template v-else-if="orderInfo.tradeOrder.paymentMethod == 3">积分支付</template>
            </span>
            </div>
        </section>
        <template v-if="orderInfo.tradeOrder.paymentType != null">
            <section>
                <div class="zhiFuFangShi">
                    支付工具
                    <span>
                        <template v-if="orderInfo.tradeOrder.paymentType == 0">支付宝</template>
                        <template v-else-if="orderInfo.tradeOrder.paymentType == 1">京东支付</template>
                        <template v-else-if="orderInfo.tradeOrder.paymentType == 2">小印支付</template>
                        <template v-else-if="orderInfo.tradeOrder.paymentType == 3">
                            <template v-if="orderInfo.offLinePayMean != null">
                                {{orderInfo.offLinePayMean}}
                            </template>
                        </template>
                        <template v-else-if="orderInfo.tradeOrder.paymentType == 4">支付宝<!--支付宝其他银行--></template>
                        <template v-else-if="orderInfo.tradeOrder.paymentType == 5">微信支付</template>
                        <template v-else-if="orderInfo.tradeOrder.paymentType == 6">微信支付</template>
                        <template v-else-if="orderInfo.tradeOrder.paymentType == 7">积分支付</template>
                        <template v-else-if="orderInfo.tradeOrder.paymentType == 100">支付宝<!--支付宝手机端--></template>
                        <template v-else-if="orderInfo.tradeOrder.paymentType == 101">京东支付<!--京东快捷支付--></template>
                    </span>
                </div>
            </section>
        </template>
    <section>
        <div class="faPiaoXinXi">
            <template v-if="orderInfo.invoiceDTO==null"> <!--这只是判断没有补开，不能判断下单时没开发票-->
                发票信息
                <template v-if="orderInfo.tradeOrder.invoice == 1 || orderInfo.tradeOrder.invoice == null"><!--这判断下单时没开发票-->
                    <span style="float: right;margin-right: 0.1rem;">不开发票</span>
                </template>
            </template>
            <template v-else> <!--下单时开发票了和申请补开，orderInfo.invoiceDTO就有值-->
                <template v-if="orderInfo.invoiceDTO.isApply && orderInfo.invoiceDTO.isApply==1">
                    补开发票信息
                </template>
                <template v-else>
                    发票信息
                </template>
                <template v-if="orderInfo.invoiceDTO.invoice == 2">
                    <template v-if="orderInfo.invoiceDTO.isApply && orderInfo.invoiceDTO.isApply==1"><!--是补开的-->
                        <a href="javascript:;" id="commonInvoiceAdd">增值税普通发票<span></span></a>
                        <template v-if="orderInfo.invoiceDTO.state==2"><!--待卖家确认-->
                            <p style="clear: both;overflow: hidden">
                                <span @click="confirmInvoice()" style="float: right; display: inline-block;background-color: #e60012;color: white;height: 0.5rem;line-height:0.5rem;border-radius: 0.1rem;padding: 0 0.1rem;" >确认开票</span>
                            </p>
                        </template>
                        <template v-else><!--补开发票，卖家已确认-->
                            <template v-if="orderInfo.invoiceDTO.state==3"><!--待买家接受-->
                                <p style="text-align: right">温馨提示：请耐心等待买家确认收到发票</p>
                            </template>
                        </template>
                    </template>
                    <template v-else><!--不是补开的-->
                        <a href="javascript:;">增值税普通发票</a>
                        <p>发票抬头：{{orderInfo.invoiceDTO.invoiceTitle}}</p>
                        <p>纳税人识别码：{{orderInfo.invoiceDTO.taxpayerCode}}</p>
                    </template>
                </template>
                <template v-if="orderInfo.invoiceDTO.invoice == 3">
                    <a href="javascript:;" id="zengZhiShui">增值税专用发票<span></span></a>
                    <template v-if="orderInfo.invoiceDTO.isApply && orderInfo.invoiceDTO.isApply==1"><!--是补开的-->
                        <template v-if="orderInfo.invoiceDTO.state==2"><!--待卖家确认-->
                            <p style="clear: both;overflow: hidden">
                                <span @click="confirmInvoice()" style="float: right; display: inline-block;background-color: #e60012;color: white;height: 0.5rem;line-height:0.5rem;border-radius: 0.1rem;padding: 0 0.1rem;" >确认开票</span>
                            </p>
                        </template>
                        <template v-else><!--补开发票，卖家已确认-->
                            <template v-if="orderInfo.invoiceDTO.state==3"><!--待买家接受-->
                                <p style="text-align: right">温馨提示：请耐心等待买家确认收到发票</p>
                            </template>
                        </template>
                    </template>
                </template>
            </template>
        </div>
    </section>
    <!--<section>-->
        <!--<template v-if="orderInfo.tradeOrder.deliverys != null && orderInfo.tradeOrder.deliverys.length > 0">-->
            <!--<template v-for="delivery in orderInfo.tradeOrder.deliverys">-->
                <!--<div class="wuLiuXinXi">-->
                    <!--物流信息<a href="javascript:;"><span>{{delivery.deliveryCompanyCode}}</span>{{delivery.deliveryCompanyName}}</a>-->
                <!--</div>-->
            <!--</template>-->
        <!--</template>-->
    <!--</section>-->
    <section>
        <div class="jiaQian">
            <p>商品总金额
                <span>
                    <template v-if="orderInfo.tradeOrder.totalPrice != null">￥{{orderInfo.tradeOrder.totalPrice}}</template>
                    <template v-else>￥0.00</template>
                </span>
            </p>
            <p>运费
                <span>
                    <template v-if="orderInfo.tradeOrder.freight != null">￥{{orderInfo.tradeOrder.freight}}</template>
                    <template v-else>￥0.00</template>
                </span>
            </p>
            <p>优惠总金额
                <span>
                    <template v-if="orderInfo.tradeOrder.totalDiscount != null">-￥{{orderInfo.tradeOrder.totalDiscount}}</template>
                    <template v-else>￥0.00</template>
                </span>
            </p>
            <div style="width: 6rem;border: 1px dashed #ccc;margin: 0.2rem auto;"></div>
            <p><i>订单实付款</i>
                <span>
                    <template v-if="orderInfo.tradeOrder.paymentMethod == 3">{{orderInfo.tradeOrder.integral}}积分</template>
                    <template v-else>￥{{orderInfo.tradeOrder.paymentPrice}}</template>
                </span>
            </p>
        </div>
    </section>
    <section>
        <div class="dingDanShiJian">
            <p class="mar">订单时间</p>
            <template v-if="orderInfo.tradeOrder.createTime != null">
                <p>创建时间：{{orderInfo.tradeOrder.createTime | longToDate(orderInfo.tradeOrder.createTime)}}</p>
            </template>
            <template v-if="orderInfo.tradeOrder.paymentTime != null">
                <p>付款时间：{{orderInfo.tradeOrder.paymentTime | longToDate(orderInfo.tradeOrder.paymentTime)}}</p>
            </template>
            <template v-if="orderInfo.tradeOrder.deliverTime != null">
                <p>发货时间：{{orderInfo.tradeOrder.deliverTime | longToDate(orderInfo.tradeOrder.deliverTime)}}</p>
            </template>
            <template v-if="orderInfo.tradeOrder.updateTime != null">
                <template v-if="orderInfo.tradeOrder.state == 5">
                    <p>完成时间：{{orderInfo.tradeOrder.updateTime | longToDate(orderInfo.tradeOrder.updateTime)}}</p>
                </template>
                <template v-else-if="orderInfo.tradeOrder.state == 6">
                    <p>取消时间：{{orderInfo.tradeOrder.updateTime | longToDate(orderInfo.tradeOrder.updateTime)}}</p>
                </template>
            </template>
        </div>
    </section>
    <!--产品推荐-->
    <section>
        <div class="chanPinTuiJian" style="display: none">
            <div class="title">
                <div><img src="../../img/chanPinTuiJian.png" alt=""/>产品推荐</div>
            </div>
            <div class="neiRong">
                <a href="javascript:;">
                    <img src="../../img/banner.png" alt=""/>
                </a>
                <a href="javascript:;">
                    <img src="../../img/banner.png" alt=""/>
                </a>
                <a href="javascript:;">
                    <img src="../../img/banner.png" alt=""/>
                </a>
                <a href="javascript:;">
                    <img src="../../img/banner.png" alt=""/>
                </a>
            </div>
        </div>
    </section>

</div>
<!--底部网址-->
<section>
    <p class="printHome">printhome.com</p>
</section>
<div style="height: 0.84rem;"></div>
<!--回到顶部-->
<section>
    <div id="top">
    </div>
</section>
<footer>
    <div class="foot">
        <template v-if="orderInfo.tradeOrder.shipmentType == 2">
            <template v-if="orderInfo.tradeOrder.paid == 2">
                <template v-if="orderInfo.tradeOrder.state == 1">
                    <!--<span class="orderGrayBtn">发货单</span>-->
                    <input type="button" value="收到货款" class="on" v-on:click="toReceivePay(orderInfo.tradeOrder)" />
                </template>
                <template v-else-if="orderInfo.tradeOrder.state == 2">
                    <!--<input type="button" value="确认发货" class="on" v-on:click="toConfirmDeliver(orderInfo.tradeOrder)" />-->
                    <!--<span class="orderRedBtn">发货单</span>-->
                </template>
                <template v-else-if="orderInfo.tradeOrder.state == 3">
                    <!--<span class="orderRedBtn">发货单</span>-->
                </template>
                <template v-else-if="orderInfo.tradeOrder.state == 4">
                    <!--<span class="orderRedBtn">发货单</span>-->
                </template>
                <template v-else-if="orderInfo.tradeOrder.state == 5">
                    <template v-if="orderInfo.tradeOrder.sellerEvaluate=='1'">
                        <input type="button" value="去评价" class="on"v-on:click="toOrderEvaluate(orderInfo.tradeOrder.orderId)" />
                    </template>
                    <template v-else>
                        <div align="right"><font size="5">已评价</font></div>
                    </template>
                    <!--<span class="orderRedBtn">发货单</span>-->
                </template>
            </template>
            <template v-else>
                <template v-if="orderInfo.tradeOrder.state == 1">
                    <!--<span class="orderGrayBtn">发货单</span>-->
                    <input type="button" value="收到货款" class="on" v-on:click="toReceivePay(orderInfo.tradeOrder)" />
                </template>
                <template v-else-if="orderInfo.tradeOrder.state == 2">
                    <!--<span class="orderGrayBtn">发货单</span>-->
                    <input type="button" value="收到货款" class="on" v-on:click="toReceivePay(orderInfo.tradeOrder)" />
                    <!--<input type="button" value="确认发货"  v-on:click="toConfirmDeliver(orderInfo.tradeOrder)" />-->
                </template>
                <template v-else-if="orderInfo.tradeOrder.state == 3">
                    <!--<span class="orderGrayBtn">发货单</span>-->
                    <input type="button" value="收到货款" class="on" v-on:click="toReceivePay(orderInfo.tradeOrder)" />
                </template>
                <template v-else-if="orderInfo.tradeOrder.state == 4">
                    <!--<span class="orderGrayBtn">发货单</span>-->
                    <input type="button" value="收到货款" class="on" v-on:click="toReceivePay(orderInfo.tradeOrder)" />
                </template>
                <template v-else-if="orderInfo.tradeOrder.state == 5">
                    <!--<span class="orderGrayBtn">发货单</span>-->
                    <input type="button" value="收到货款" class="on" v-on:click="toReceivePay(orderInfo.tradeOrder)" />
                </template>
            </template>
        </template>
        <template v-else>
            <template v-if="orderInfo.tradeOrder.state == 1">
                <!--<span class="orderRedBtn">发货单</span>-->
                <input type="button" value="收到货款" class="on" v-on:click="toReceivePay(orderInfo.tradeOrder)" />
            </template>
            <template v-else-if="orderInfo.tradeOrder.state == 2">
                <!--<input type="button" value="确认发货" class="on" v-on:click="toConfirmDeliver(orderInfo.tradeOrder)" />-->
                <!--<span class="orderRedBtn">发货单</span>-->
            </template>
            <template v-else-if="orderInfo.tradeOrder.state == 3">
                <!--<span class="orderRedBtn">发货单</span>-->
            </template>
            <template v-else-if="orderInfo.tradeOrder.state == 4">
                <!--<span class="orderRedBtn">发货单</span>-->
            </template>
            <template v-else-if="orderInfo.tradeOrder.state == 5">
                <template v-if="orderInfo.tradeOrder.sellerEvaluate=='1'">
                    <input type="button" value="去评价" class="on"v-on:click="toOrderEvaluate(orderInfo.tradeOrder.orderId)" />
                </template>
                <template v-else>
                    <div align="right"><font size="5">已评价</font></div>
                </template>
                <!--<span class="orderRedBtn">发货单</span>-->
            </template>
        </template>
    </div>
</footer>
<!--增值税弹窗-->
<template v-if="orderInfo.invoiceDTO && orderInfo.invoiceDTO.invoice == 3">
    <div class="zheZhao">
        <div class="zengZhiShuiXinXi">
            <p class="biaoTi">发票信息<span></span></p>
            <div class="xinXi">
                <div class="kaiPiao">
                    <p>开票信息</p>
                    <div class="box">
                        <span class="left"><label>＊</label>单位名称：</span>
                        <span class="right">{{orderInfo.invoiceDTO.companyName}}</span>
                    </div>
                    <div class="box">
                        <span class="left"><label>＊</label>纳税人识别码：</span>
                        <span class="right">{{orderInfo.invoiceDTO.taxpayerCode}}</span>
                    </div>
                    <div class="box">
                        <span class="left">注册地址：</span>
                        <span class="right">{{orderInfo.invoiceDTO.registeredAddress}}</span>
                    </div>
                    <div class="box">
                        <span class="left">注册电话：</span>
                        <span class="right">{{orderInfo.invoiceDTO.registeredPhone}}</span>
                    </div>
                    <div class="box">
                        <span class="left">开户银行：</span>
                        <span class="right">{{orderInfo.invoiceDTO.bankName}}</span>
                    </div>
                    <div class="box">
                        <span class="left"><label>＊</label>银行账户：</span>
                        <span class="right">{{orderInfo.invoiceDTO.bankAccount}}</span>
                    </div>
                </div>
                <div class="zhaoPian">
                    <span>营业执照</span>
                    <div class="img-block" style="width: 1rem;height: 1.4rem;margin-right:0.34rem;float: left;">
                        <template v-for="picUrl in orderInfo.invoiceDTO.businessLicensePicUrl" >
                            <img v-bind:src="img_url + picUrl" alt="" style="width: 1rem;height: 1.4rem;" @click="showIMG('businessLicensePicUrl',picUrl)"/>
                        </template>
                    </div>
                    <span>税务登记证</span>
                    <div class="img-block"  style="width: 1rem;height: 0.7rem;margin-right:0.34rem;float: left;">
                        <template v-for="picUrl in orderInfo.invoiceDTO.taxRegistrationCertificatePicUrl">
                    <img v-bind:src="img_url + picUrl" alt="" style="width: 1rem;height: 0.7rem;"  @click="showIMG('taxRegistrationCertificatePicUrl',picUrl)"/>
                </template>
                    </div>
                    <span>一般纳税人证明</span>
                    <div class="img-block" style="width: 1rem;height: 0.7rem;margin-right:0.34rem;float: left;">
                        <template v-for="picUrl in orderInfo.invoiceDTO.generalTaxpayerPicUrl">
                    <img v-bind:src="img_url + picUrl" alt="" style="width: 1rem;height: 0.7rem;" @click="showIMG('generalTaxpayerPicUrl',picUrl)"/>
                </template>
                    </div>
                </div>
                <div style="border: 1px dashed #ccc;width: 5.8rem;margin: 0.2rem auto;"></div>
                <div class="kaiPiao">
                    <p>开票信息</p>
                    <div class="box">
                        <span class="left">收票人姓名：</span>
                        <span class="right">{{orderInfo.invoiceDTO.consigneeName}}</span>
                    </div>
                    <div class="box">
                        <span class="left">收票人手机：</span>
                        <span class="right">{{orderInfo.invoiceDTO.consigneeMobile}}</span>
                    </div>
                    <div class="box">
                        <span class="left">收票人地址：</span>
                        <span class="right">{{orderInfo.invoiceDTO.detailAddress}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<!--补开普通发票弹窗-->
<template v-if="orderInfo.invoiceDTO &&  orderInfo.invoiceDTO.invoice == 2">
    <div class="zheZhaoCommonInvoice">
        <div class="zengZhiShuiXinXi1">
            <p class="biaoTi">发票信息<span></span></p>
            <div class="xinXi">
                <div class="kaiPiao">
                    <p>开票信息</p>
                    <div class="box">
                        <span class="left"><label>＊</label>发票抬头：</span>
                        <span class="right">{{orderInfo.invoiceDTO.invoiceTitle}}</span>
                    </div>
                    <div class="box">
                        <span class="left"><label>＊</label>纳税人识别码：</span>
                        <span class="right">{{orderInfo.invoiceDTO.taxpayerCode}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
    <!--收到货款弹出层-->
    <div class="zhezhao" id="receive_pay_method">
        <div class="receive_payment_content">
            <h5>请确认您收到货款的途径，以防钱货两空</h5>
            <p class="jiJiang">即期付款</p>
            <div class="clearfix xuanXiang">
                <div class="left">
                    <img src="../../img/no-select.png" name="payMethod" alt="" payName="网银汇款转账" v-on:click="choosePayMethod($event)" class="no-select"/>网银汇款转账
                </div>
                <div class="right">
                    <img src="../../img/no-select.png" name="payMethod" alt="" payName="银行柜台汇款" v-on:click="choosePayMethod($event)" class="no-select"/>银行柜台汇款
                </div>
            </div>
            <div class="clearfix xuanXiang">
                <div class="left">
                    <img src="../../img/no-select.png" name="payMethod" alt="" payName="转账支票" v-on:click="choosePayMethod($event)" class="no-select"/>转账支票
                </div>
                <div class="right">
                    <img src="../../img/no-select.png" name="payMethod" alt="" payName="现金面付" v-on:click="choosePayMethod($event)" class="no-select"/>现金面付
                </div>
            </div>
            <p class="xieYi">协议付款</p>
            <div class="clearfix xuanXiang">
                <div class="left">
                    <img src="../../img/no-select.png" name="payMethod" alt="" payName="银行承兑汇票" v-on:click="choosePayMethod($event)" class="no-select qita"/>银行承兑汇票
                </div>
                <div class="right">
                    <img src="../../img/no-select.png" name="payMethod" alt="" payName="银行支票" v-on:click="choosePayMethod($event)" class="no-select qita"/>银行支票
                </div>
            </div>
            <div class="clearfix xuanXiang">
                <div class="left">
                    <img src="../../img/no-select.png" name="payMethod" alt="" payName="商业承兑汇票" v-on:click="choosePayMethod($event)" class="no-select qita"/>商业承兑汇票
                </div>
                <div class="right">
                    <img src="../../img/no-select.png" name="payMethod" alt="" payName="其他" v-on:click="choosePayMethod($event)" class="no-select qita"/>其他
                </div>
            </div>
            <div class="shuRu">
                <input type="text" placeholder="请填写到账时间/说明理由" v-model="pay_date"/>
            </div>
            <div class="btn">
                <span class="cancel_button" v-on:click="closeReceivePay()">取消</span>
                <span class="sure_button" v-on:click="receivePay()">确定</span>
            </div>
            <i class="close" v-on:click="closeReceivePay()"></i>
        </div>
    </div>
    <!--商品改价弹出层-->
    <div class="zhezhao" id="order_change_price_div">
        <div class="goods_changePrice_content">
            <p>订单改价</p>
            <div class="box">
                <span class="left">订单总额：</span>
                <span class="right">￥{{changePriceInfo.pay_price_total}}</span>
            </div>
            <div class="box">
                <span class="left">优惠金额：</span>
                <span class="right">￥{{changePriceInfo.promotionDiscount}}</span>
            </div>
            <div class="box">
                <span class="left">积分抵扣：</span>
                <span class="right" id="integralDiscountText">{{changePriceInfo.integralDiscountText}}元</span>
            </div>
            <div class="box">
                <span class="left">改价金额：</span>
                <span class="right"><input type="number" v-on:blur="checkNum($event)" v-model="changePriceInfo.changedPrice"/>元</span>
            </div>
            <div style="border: 1px dashed #ccc;width: 5.34rem;margin: 0 auto 0.15rem;"></div>
            <div class="box">
                <a href="javascript:;" v-on:click="closeOrderChangePriceDiv()">取消</a>
                <a href="javascript:;" v-on:click="changeOrderPrice()">确定</a>
            </div>
        </div>
    </div>
    <section>
        <div class="zhezhao" id="confirm_deliver_notice" >
            <div class="cancel_order_content">
                <h5>确认发货</h5>
                <p>您确定要发货吗？</p>
                <div></div>
                <span class="sure_button" v-on:click="confirmDeliver()">确定</span>
                <span class="save_button" v-on:click="closeDeliverNotice()">先留着</span>
            </div>
        </div>
    </section>
    <!--点击放大图片-->
    <section>
        <div class="zhezhao" @click="closeIMG()" id="enlargeImg">
            <div class="enlargeImg_content">
                <img alt="" :src="img_url + picUrl" >
                <i class="close_enlargeImg"></i>
            </div>
        </div>
    </section>
    <!--物流弹窗-->
    <div id="logistics_information_none">
        <div class="zhezhao" style="display: block" v-on:click="closeLogisticsInformationNoneWin()"></div>
        <div class="information">
            <div class="heading">无物流信息</div>
            <img src="../../img/dingdanpeihuo@3x.png" alt="" class="symbol"/>
            <div class="detail">您的订单已配货<br/>物流详情暂未更新，请稍后查看</div>
            <i class="close" v-on:click="closeLogisticsInformationNoneWin()"></i>
        </div>
    </div>
    <div id="logistics_information_none2">
        <div class="zhezhao" style="display: block" v-on:click="closeLogisticsInformationNone2Win()"></div>
        <div class="information">
            <div class="heading">无物流信息</div>
            <img src="../../img/weiweihu@3x.png" alt="" class="symbol"/>
            <div class="detail">很遗憾，卖家还没有维护物流信息。<br/>您可以通过<a href="javascript:;" class="custom_service">小印客服</a>询问订单配送状态。</div>
            <i class="close" v-on:click="closeLogisticsInformationNone2Win()"></i>
        </div>
    </div>
    <div id="logistics_information">
        <div class="zhezhao"  style="display: block" v-on:click="closeLogistic()"></div>
        <div class="information">
            <div class="headline">
                <p>{{logisticsScheduleInfo.deliveryCompanyName}}</p>
                <p>物流编号：<i>{{logisticsScheduleInfo.deliveryNumber}}</i></p>
            </div>
            <div class="main_information">
                <!--<div class="clearfix loop_list">
                    <div class="float_left"></div>
                    <div class="float_right">
                        <img src="../../img/dizhi@3x.png" alt="" class="receive"/>
                        <p class="receive_address">
                            ［收货地址］北京市海淀区  万寿路中国印刷科学技术研究院B座3层
                        </p>
                    </div>
                </div>-->
                <template v-for="(schedule,index) in logisticsScheduleInfo.logisticsSchedules">
                    <template v-if="index == 0">
                        <div class="clearfix loop_list">
                            <div class="float_left">
                                <p class="date">{{schedule.time | longToDate(schedule.time)}}</p>
                            </div>
                            <div class="float_right">
                                <img src="../../img/qianshou@3x.png" alt="" class="send"/>
                                <p class="received">{{schedule.context}}</p>
                            </div>
                        </div>
                    </template>
                    <template v-if="index != 0 && index != (logisticsScheduleInfo.logisticsSchedules.length - 1)">
                        <div class="clearfix loop_list">
                            <div class="float_left">
                                <p class="date">{{schedule.time | longToDate(schedule.time)}}</p>
                            </div>
                            <div class="float_right">
                                <img src="../../img/upjianTou@3x.png" alt="" class="process"/>
                                <p class="overdue">{{schedule.context}}</p>
                            </div>
                        </div>
                    </template>
                    <template v-if="index == (logisticsScheduleInfo.logisticsSchedules.length - 1)">
                        <div class="clearfix loop_list">
                            <div class="float_left">
                                <p class="date">{{schedule.time | longToDate(schedule.time)}}</p>
                            </div>
                            <div class="float_right no_border">
                                <img src="../../img/fa@3x.png" alt="" class="send"/>
                                <p class="overdue">{{schedule.context}}</p>
                            </div>
                        </div>
                    </template>
                </template>
            </div>
            <i class="close" v-on:click="closeLogistic()"></i>
        </div>
    </div>
</div>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/request.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/jsonUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/common.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/popup.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/12_maiJiaZhongXin/12_dingDan_dingDanXiangQing.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/vueFilter.js"></script>
<script charset="utf-8" type="text/javascript" src="script/seller-order-detail.js"></script>
</body>
</html>
