<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>审核进度</title>
    <script type="text/javascript" src="../../../lib/adjust.js"></script>
    <link type="text/css" rel="stylesheet" href="../../../css/common.css"/>
    <link rel="stylesheet" href="../../css/18_maiJiaZhongXin/5_shenJinDuChaKan_shenHeJinDu.css"/>
</head>
<body>
<!--头部开始-->
<header>
    <div class="header">
        <a href="javascript:history.back(-1);" class="fanHui"></a>审核进度
    </div>
    <div style="height: 0.88rem;"></div>
</header>
<div id="shenhejindu" v-cloak>
<section>
    <div class="shenHeJinDu clearfix">
        <div class="jinDuTiao">
            <div class="line">
                <div class="line-red"></div>
            </div>
        </div>
        <div class="jinDuKa">
            <!--卖家资质审核-->
            <div>
                <template v-if="userDTO.auditStatus == '0'">
                    <a href="../../html/18_maiJiaZhongXin/5_shenJinDuChaKan_maiJiaZiZhiXinXi.html" class="maijia ziZhi">
                        卖家资质审核
                            <span class="red" id="shenHeZhong">审核驳回</span>
                        <i id="one">1</i>
                        <em class="left"></em>
                        <em class="right"></em>
                    </a>
                    <div class="shenHeZhong">
                        您的资质审核未通过<br>请在PC端登录平台修改完成后重新提交或联系管理员！<i class="red">4006-770-878转2</i><br>驳回理由：<br >
                        <span v-text="userInfoDTO.userDTO.auditRemark"></span>
                    </div>
                </template>
                <template v-else-if="userDTO.userstatus == '5'">
                    <a href="../../html/18_maiJiaZhongXin/5_shenJinDuChaKan_maiJiaZiZhiXinXi.html" class="maijia ziZhi">
                        卖家资质审核
                            <span class="red" id="shenHeZhong">审核中</span>
                        <i id="one">1</i>
                        <em class="left"></em>
                        <em class="right"></em>
                    </a>
                    <div class="shenHeZhong">
                        您的资质申请正在拼命审核中，审核通过后我们将会用以邮件形式通知您，请耐心等待管理员操作。感谢您的支持和配合！
                    </div>
                </template>
                <template v-else-if="userDTO.userstatus == '6'">
                    <a href="../../html/18_maiJiaZhongXin/5_shenJinDuChaKan_maiJiaZiZhiXinXi.html" class="maijia ziZhi">
                        卖家资质审核
                            <span class="red" id="shenHeZhong">审核通过</span>
                        <i id="one">1</i>
                    </a>
                </template>
                <template v-else>
                    <a href="javascript:;" class="maijia ziZhi">
                        卖家资质审核
                        <span class="red" id="shenHeZhong"></span>
                        <i id="one">1</i>
                    </a>
                </template>
            </div>
            <!--合同确认-->
            <div>
                <template v-if="userContractDTO != null && userContractDTO.id != ''">
                    <template v-if="userContractDTO.contractStatus=='1' || userContractDTO.contractStatus=='0'">
                        <div class="maijia  heTong">
                            合同确认
                            <span class="red">上传中</span>
                            <i id="two">2</i>
                            <em class="left"></em>
                            <em class="right"></em>
                        </div>
                        <div class="shenHeZhong">
                            您的合同尚未被上传或正在修改，请稍等或联系平台客服：<i class="red">4006-770-878转2</i>
                        </div>
                    </template>
                    <template v-else-if="userContractDTO.contractStatus=='2'">
                        <div class="maijia  heTong" @click="showHeTongInfo()">
                            合同确认
                            <span class="red">待确认</span>
                            <i id="two">2</i>
                            <em class="left"></em>
                            <em class="right"></em>
                        </div>
                        <div class="shenHeZhong">
                            合同编号：<span v-text="userContractDTO.contractId"></span><br>
                            店铺名称：<span v-text="userContractDTO.companyName"></span><br>
                            合同日期：<span v-text="time(userContractDTO.contractStarttime)"></span> 至 <span v-text="time(userContractDTO.contractEndtime)"></span><br>
                            商家类型：
                            <template v-if="userContractDTO.contractType == '1' ">商家入驻</template>
                            <template v-else-if="userContractDTO.contractType == '2' ">续签</template>
                            <template v-else-if="userContractDTO.contractType == '3' ">调整类目</template>
                        </div>
                    </template>
                    <template v-else-if="userContractDTO.contractStatus=='3'">
                        <div class="maijia  heTong" @click="showHeTongInfo()">
                            合同确认
                            <span class="red">审核通过</span>
                            <i id="two">2</i>
                        </div>
                    </template>
                </template>
                <template v-else>
                    <div class="maijia  heTong">
                        合同确认
                        <span class="red"></span>
                        <i id="two">2</i>
                    </div>
                </template>
            </div>
            <!--店铺信息确认-->
            <div>
                <template v-if="userContractDTO!=null && userContractDTO.contractStatus == '3'">
                    <template v-if="shopDTO.status == '1'">
                        <a href="../../html/18_maiJiaZhongXin/5_shenJinDuChaKan_dianPuZiLiao.html" class="maijia  dianPu">
                            店铺信息确认
                            <span class="red">审核中</span>
                            <i id="three">3</i>
                            <em class="left"></em>
                            <em class="right"></em>
                        </a>
                        <div class="shenHeZhong">
                            您的资质申请正在拼命审核中，请耐心等待管理员操作。<br>感谢您的支持与配合！<br>如有疑问请联系平台客服：<i class="red">4006-770-878转2</i>
                        </div>
                    </template>
                    <template v-if="shopDTO.status == '3'">
                        <a href="../../html/18_maiJiaZhongXin/5_shenJinDuChaKan_dianPuZiLiao.html" class="maijia  dianPu">
                            店铺信息确认
                            <span class="red">审核驳回</span>
                            <i id="three">3</i>
                            <em class="left"></em>
                            <em class="right"></em>
                        </a>
                        <div class="shenHeZhong">
                            您的资质审核未通过<br>请在PC端登录平台修改完成后重新提交或联系管理员！<i class="red">4006-770-878转2</i><br>驳回理由：<br >
                            <span v-text="shopDTO.comment"></span>
                        </div>
                    </template>
                    <template v-if="shopDTO.status == '2' || shopDTO.status == '5'">
                        <a href="../../html/18_maiJiaZhongXin/5_shenJinDuChaKan_dianPuZiLiao.html" class="maijia  dianPu">
                            店铺信息确认
                            <span class="red">审核通过</span>
                            <i id="three">3</i>
                        </a>
                    </template>
                </template>
                <template v-else>
                    <div class="maijia  dianPu">
                        店铺信息确认
                        <span class="red"></span>
                        <i id="three">3</i>
                    </div>
                </template>
            </div>
            <!--付款信息确认-->
            <div>
                <template v-if="userContractDTO!=null && userContractDTO.contractStatus == '3' && (shopDTO.status =='2' || shopDTO.status == '5')">
                    <template v-if="shopDTO.runStatus == '1'">
                        <a href="../../html/18_maiJiaZhongXin/5_shenJinDuChaKan_fuKuanXinXi.html" class="maijia  fuKuan">
                            付款信息确认
                            <span class="red">审核通过</span>
                            <i id="four">4</i>
                        </a>
                    </template>
                    <template v-else>
                        <a href="../../html/18_maiJiaZhongXin/5_shenJinDuChaKan_fuKuanXinXi.html" class="maijia  fuKuan">
                            付款信息确认
                            <span class="red">审核中</span>
                            <i id="four">4</i>
                        </a>
                    </template>
                </template>
                <template v-else>
                    <div class="maijia  fuKuan">
                        付款信息确认
                        <span class="red"></span>
                        <i id="four">4</i>
                    </div>
                </template>
            </div>
            <!--店铺已开通-->
            <div>
                <template v-if="shopDTO!=null && shopDTO.runStatus=='1'">
                    <div class="maijia  kaiTong">
                        店铺已开通
                        <span class="red">审核通过</span>
                        <i>5</i>
                    </div>
                </template>
                <template v-else>
                    <div class="maijia  kaiTong">
                        店铺已开通
                        <span class="red"></span>
                        <i>5</i>
                    </div>
                </template>
            </div>

        </div>
    </div>
</section>
<div style="height: 0.84rem;"></div>
<footer>
    <div class="footer">
        <input type="button" value="驳回" class="boHui"/><input type="button" onclick="showTC();" value="确定" class="on"/>
    </div>
</footer>
<section>
    <div class="shenHeBoHuiBg">
        <div class="shenHeBoHui">
            <h3>合同驳回</h3>
            <div>
                <h4>驳回原因：</h4>
                <textarea id="auditRemarkText" placeholder="请填写驳回理由，最多250字。" maxlength="250"></textarea>
            </div>
            <p><button class="cancel">取消驳回</button><button class="sure">确定驳回</button></p>
            <i class="close"></i>
            <span class="textNone"></span>
        </div>
    </div>
</section>
    <section>
        <div class="zhezhao">
            <div class="con">
                <h5>合同信息确认</h5>
                <p>合同信息确认完成？</p>
                <div></div>
                <a class="quXiao" href="javascript:hideTC();">取消</a><a class="queDing" onclick="queren();" href="#">确定</a>
            </div>
        </div>
    </section>
</div>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/popup.js"></script>
<script type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/request.js"></script>
<script charset="utf-8" type="text/javascript" src="script/5_shenJinDu.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/18_maiJiaZhongXin/5_shenJinDuChaKan_shenHeJinDu.js"></script>

</body>
</html>
