<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>搜索结果</title>
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="../../css/4_souSuoJieGuo/search.css"/>
    <link rel="stylesheet" href="../../css/pullToRefresh.css"/>
    <style type="text/css">
        #pullDown {
            height: 0.5rem;
        }
        #pullUp {
            margin-bottom: 0.4rem;
        }
    </style>
    <script type="text/javascript" src="../../js/adjust.js"></script>
</head>
<body style="background: #f4f4f4;font-size: 0.3rem;">
<div id="cartFR">
<div>
    <div class="top_wrapper" style="width: 100%;line-height:0.58rem;">
        <a href="../../html/14_gouWuChe/gouWuChe.html" class="back_wrapper"><img class="back" src="../../img/back.png" alt=""/></a>
        <span class="oneLine" style="font-size:0.3rem;color: #333;float:left;width: 5rem;text-align: center;" v-cloak>满 ¥{{discountPrice}} 减 ¥{{meetPrice}}</span>
        <img class="toggle_img" src="../../img/suoluetu-@3x.png" alt="" style="float:right;" @click="toggleShow" id="switchPic"/>
    </div>
</div>
    <div class="suolue_wrap">
        <div id="wrapper">
            <div id="scroller">
                <ul  class="suolue_result wrapScrool">
                    <div style="height: 0.65rem"></div>
                    <template v-for="item in items">

                        <li class="suolue_goods inline_block" v-show="showMode">
                            <a href="#" style="display: inline-block" @click="gotoGood(item)">
                                <template v-if="promotionInfo.isAllItem == 2">
                                        <template v-for="(picItem,index) in item.picUrls">
                                            <template v-if="index == 0">
                                                <img class="suoluegoods_img" v-bind:src="imgUrl + picItem" alt=""/>
                                            </template>
                                        </template>
                                </template>
                                <template v-else>
                                    <img class="suoluegoods_img" v-bind:src="imgUrl + item.pictureUrl" alt=""/>
                                </template>
                                <p class="suoluegoods_name">{{item.itemName}}</p></a>
                            <p class="suoluegoods_price" >
                                <template v-if="item.hasPrice != 2">
                                    ￥{{item.guidePriceForShow}}
                                </template>
                                <template v-else>
                                    欢迎询价
                                </template>
                            </p>
                        </li>
                    </template>
                </ul>
                <ul v-show="!showMode" class="list_result wrapScrool">
                    <template v-for="item in items">

                        <li class="list_goods" v-show="!showMode">
                            <a href="javascript:void(0)" style="display: inline-block" @click="gotoGood(item)">
                            <template v-if="promotionInfo.isAllItem == 2">
                                <template v-for="(picItem,index) in item.picUrls">
                                    <template v-if="index == 0">
                                        <img class="listgoods_img" v-bind:src="imgUrl + picItem" alt=""/>
                                    </template>
                                </template>
                            </template>
                            <template v-else>
                                <img class="listgoods_img" v-bind:src="imgUrl + item.pictureUrl" alt=""/>
                            </template>
                            <div class="title_wrapper">
                                <a href="#" class="listgoods_name" @click="gotoGood(item)">{{item.itemName}}</a>

                                <p class="listgoods_price red_word" >
                                    <template v-if="item.hasPrice != 2">
                                        ￥{{item.guidePriceForShow}}
                                    </template>
                                    <template v-else>
                                        欢迎询价
                                    </template>
                                </p>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </div>
</div>
<script charset="utf-8" type="text/javascript"  src="../../bower_components/jquery-2.1.4.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/jsonUtil.js"></script>
<script charset="utf-8" type="text/javascript"  src="../../js/common.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/iscroll.js"></script>
<script charset="UTF-8" type="text/javascript" src="../../bower_components/pullToRefresh_fixHead.js"></script>
<script charset="UTF-8" type="text/javascript" src="../../js/4_souSuoJieGuo/search.js"></script>
<script charset="UTF-8" type="text/javascript" src="../../js/request.js"></script>
<script charset="UTF-8" type="text/javascript" src="../../html/14_gouWuChe/script/promotion.js"></script>
</body>
</html>