<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>协议管理</title>
    <link type="text/css" rel="stylesheet" href="../../css/common.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/12_maiJiaZhongXin/10_xieYiGuanLi_xieYiGuanLi.css"/>
    <link rel="stylesheet" href="../../css/pullToRefresh.css">
    <script type="text/javascript" src="../../js/adjust.js"></script>
    <style>
        #pullDown{
            margin-bottom: 0.2rem;
        }
        #pullUp {
            margin-bottom: 1.2rem;
        }

        [v-cloak] {
            display: none;
        }

    </style>
</head>
<body>

<div id="app" >
<div v-show="!searchDialog">
<!--头部开始-->
<header>
    <div class="header">
        <a href="javascript:;" onclick="javascript:history.back(-1);" class="fanHui"></a>
        协议管理
        <a href="javascript:;" class="suoSou" @click="searchDialog = !searchDialog"></a>
    </div>
    <div class="zhanwei"></div>
</header>
<!--选项卡-->
<section>
    <div class="xuanXiangKa" >
        <ul class="tabWrap">
            <li :class="queryType == 1 ? 'on' : ''"  @click="queryType = 1">全部协议</li>
            <li :class="queryType == 2 ? 'on' : ''"  @click="checkContract()">协议确认</li>
            <li :class="queryType == 3 ? 'on' : ''"  @click="examineContract()">协议审批</li>
        </ul>
    </div>
</section>
<section >
<!--询价列表-->
<div  class="app">
    <div id="wrapper">
        <div id="scroller"><!--这个id名固定-->
            <ul class="tab_box wrapScrool" >
                <div style="height: 1.5rem"></div>
                <template v-for="contract in allContractList">
                    <li class="biaoGe " v-show="queryType == 1">
                        <p class="top">
                            <span>协议名称</span>
                            <span>状态</span>
                            <span>有效期</span>
                        </p>

                        <p class="middle" @click="gotoContractDetail(contract)">
                            <a href="javascript:;" v-text="getSubText(contract.contractName,8)"></a>
                            <span>
                                <template v-if="contract.status == 0">未提交</template>
                                <template v-if="contract.status == 1">待审核</template>
                                <template v-if="contract.status == 2">审核驳回</template>
                                <template v-if="contract.status == 3">待确认</template>
                                <template v-if="contract.status == 4">确认驳回</template>
                                <template v-if="contract.status == 5">待生效</template>
                                <template v-if="contract.status == 6">协议生效</template>
                                <template v-if="contract.status == 7">需要审批</template>
                                <!--<template v-if="contract.status == 8">hello</template>-->
                                <template v-if="contract.status == 9">协议过期</template>
                                <template v-if="contract.status == 10">协议终止</template>
                            </span>
                            <span>{{contract.beginDate | timestampFormat('YY.MM.DD') }}-{{contract.endDate | timestampFormat('YY.MM.DD') }}</span>
                        </p>
                        <!--协议操作  修改 删除 提交审批 提交确认 发布协议 订购 终止协议-->
                        <!--提交审批  提交确认 发布协议 终止协议  必须有录入人操作-->
                        <!--修改删除 可以由本人或者父账号操作 -->
                        <p class="bottom clearfix">
                            <template v-if="contract.status == 0">
                                <template v-if="contract.createBy == userInfo.uid">
                                    <!--存在审批人-->
                                    <template v-if="contract.approveBy">
                                        <a href="javascript:;" class="xiuGai on" @click="ContractModify(contract,'','1','确定要提交审批吗?')">提交审批</a>
                                    </template>
                                    <template v-else>
                                        <a href="javascript:;" class="xiuGai on" @click="ContractModify(contract,'','3','确定要提交确认协议吗?')">提交确认</a>
                                    </template>
                                    <a href="javascript:;" class="xiuGai" @click="ContractModify(contract,'','10','确定要终止协议吗?')">终止协议</a>
                                </template>
                                <template v-if="contract.createBy == userInfo.uid ||contract.createBy == userInfo.parentId ">
                                    <a href="javascript:;" class="xiuGai" @click="updateContract(contract)">修改</a>
                                    <a href="javascript:;" class="xiuGai" @click="deleteContract(contract,'确定要删除吗？')">删除</a>
                                </template>
                            </template>
                            <template v-if="contract.status == 1">
                                <template v-if="contract.createBy == userInfo.uid">
                                    <a href="javascript:;" class="xiuGai on" @click="ContractModify(contract,'','10','确定要终止协议吗?')">终止协议</a>
                                </template>
                            </template>
                            <template v-if="contract.status == 2">
                                <template v-if="contract.createBy == userInfo.uid">
                                    <a href="javascript:;" class="xiuGai on" @click="ContractModify(contract,'','1','确定要提交审批吗?')">提交审批</a>
                                    <a href="javascript:;" class="xiuGai" @click="ContractModify(contract,'','10','确定要终止协议吗?')">终止协议</a>
                                </template>
                                <template v-if="contract.createBy == userInfo.uid ||contract.createBy == userInfo.parentId ">
                                <a href="javascript:;" class="xiuGai" @click="updateContract(contract)">修改</a>
                                <a href="javascript:;" class="xiuGai" @click="deleteContract(contract,'确定要删除吗？')">删除</a>
                                </template>
                            </template>
                            <template v-if="contract.status == 3">
                                <template v-if="contract.createBy == userInfo.uid">
                                    <a href="javascript:;" class="xiuGai on" @click="ContractModify(contract,'','10','确定要终止协议吗?')">终止协议</a>
                                </template>
                            </template>
                            <template v-if="contract.status == 4">
                                <template v-if="contract.createBy == userInfo.uid">
                                    <!--存在审批人-->
                                    <template v-if="contract.approveBy">
                                        <a href="javascript:;" class="xiuGai on" @click="ContractModify(contract,'','1','确定要提交审批吗?')">提交审批</a>
                                    </template>
                                    <template v-else>
                                        <a href="javascript:;" class="xiuGai on"  @click="ContractModify(contract,'','3','确定要提交确认协议吗?')">提交确认</a>
                                    </template>
                                    <a href="javascript:;" class="xiuGai" @click="ContractModify(contract,'','10','确定要终止协议吗?')">终止协议</a>
                                </template>
                                <template v-if="contract.createBy == userInfo.uid ||contract.createBy == userInfo.parentId ">
                                <a href="javascript:;" class="xiuGai" @click="updateContract(contract)">修改</a>
                                <a href="javascript:;" class="xiuGai" @click="deleteContract(contract,'确定要删除吗？')">删除</a>
                                </template>
                            </template>
                            <template v-if="contract.status == 5">
                                <template v-if="contract.createBy == userInfo.uid">
                                    <a href="javascript:;" class="xiuGai on"  @click="ContractModify(contract,'','6','确定要发布协议吗?')">发布协议</a>
                                    <a href="javascript:;" class="xiuGai" @click="ContractModify(contract,'','10','确定要终止协议吗?')">终止协议</a>
                                </template>
                            </template>
                            <template v-if="contract.status == 6">
                                <template v-if="sourcePage == 'buyer'">
                                    <a href="javascript:;" class="xiuGai on" @click="createContractOrder(contract)">订购</a>
                                </template>
                                <template v-if="contract.createBy == userInfo.uid">
                                    <a href="javascript:;" class="xiuGai" @click="ContractModify(contract,'','10','确定要终止协议吗?')">终止协议</a>
                                </template>
                            </template>
                            <template v-if="contract.status == 7">
                                <template v-if="contract.createBy == userInfo.uid">
                                    <a href="javascript:;" class="xiuGai on" @click="ContractModify(contract,'','1','确定要提交审批吗?')">提交审批</a>
                                    <a href="javascript:;" class="xiuGai" @click="ContractModify(contract,'','10','确定要终止协议吗?')">终止协议</a>
                                </template>
                                <template v-if="contract.createBy == userInfo.uid ||contract.createBy == userInfo.parentId ">
                                <a href="javascript:;" class="xiuGai" @click="updateContract(contract)">修改</a>
                                <a href="javascript:;" class="xiuGai" @click="deleteContract(contract,'确定要删除吗？')">删除</a>
                                </template>
                            </template>
                            <template v-if="contract.status == 9">
                                <template v-if="contract.createBy == userInfo.uid ||contract.createBy == userInfo.parentId ">
                                <a href="javascript:;" class="xiuGai on" @click="deleteContract(contract,'确定要删除吗？')">删除</a>
                                </template>
                            </template>

                            <template v-if="contract.status == 10">
                                <template v-if="contract.createBy == userInfo.uid ||contract.createBy == userInfo.parentId ">
                                <a href="javascript:;" class="xiuGai on" @click="deleteContract(contract,'确定要删除吗？')">删除</a>
                                </template>
                            </template>
                        </p>
                    </li>
                </template>
            </ul>
            <ul class="tab_box wrapScrool" >
                <template v-for="contract in comfirmContractList">
                    <li class="biaoGe wrapScrool" v-show="queryType == 2">
                        <p class="top">
                            <span>协议名称</span>
                            <span>状态</span>
                            <span>有效期</span>
                        </p>
                        <p class="middle" @click="gotoContractDetail(contract)">
                            <a href="javascript:;" v-text="getSubText(contract.contractName,8)"></a>
                            <span>
                                <template v-if="contract.status == 0">未提交</template>
                                <template v-if="contract.status == 1">待审核</template>
                                <template v-if="contract.status == 2">审核驳回</template>
                                <template v-if="contract.status == 3">待确认</template>
                                <template v-if="contract.status == 4">确认驳回</template>
                                <template v-if="contract.status == 5">待生效</template>
                                <template v-if="contract.status == 6">协议生效</template>
                                <template v-if="contract.status == 7">需要审批</template>
                                <!--<template v-if="contract.status == 8">hello</template>-->
                                <template v-if="contract.status == 9">协议过期</template>
                                <template v-if="contract.status == 10">协议终止</template>
                            </span>
                            <span>{{contract.beginDate | timestampFormat('YY.MM.DD') }}-{{contract.endDate | timestampFormat('YY.MM.DD') }}</span>
                        </p>
                        <p class="bottom clearfix">
                            <a href="javascript:;" class="xiuGai on" @click="ContractModify(contract,'','5','您确定同意此协议吗?')">同意</a>
                            <a href="javascript:;" class="xiuGai" @click="showApproveContract(contract,'4')">拒绝</a>
                        </p>
                    </li>
                </template>
            </ul>
            <ul class="tab_box wrapScrool" >
                <template v-for="contract in approveContractList">
                    <li class="biaoGe wrapScrool" v-show="queryType == 3">
                        <p class="top">
                            <span>协议名称</span>
                            <span>状态</span>
                            <span>有效期</span>
                        </p>

                        <p class="middle" @click="gotoContractDetail(contract)">
                            <a href="javascript:;" v-text="getSubText(contract.contractName,8)"></a>
                            <span>
                                <template v-if="contract.status == 0">未提交</template>
                                <template v-if="contract.status == 1">待审核</template>
                                <template v-if="contract.status == 2">审核驳回3</template>
                                <template v-if="contract.status == 3">待确认</template>
                                <template v-if="contract.status == 4">确认驳回</template>
                                <template v-if="contract.status == 5">待生效</template>
                                <template v-if="contract.status == 6">协议生效</template>
                                <template v-if="contract.status == 7">需要审批</template>
                                <!--<template v-if="contract.status == 8">hello</template>-->
                                <template v-if="contract.status == 9">协议过期</template>
                                <template v-if="contract.status == 10">协议终止</template>
                            </span>
                            <span>{{contract.beginDate | timestampFormat('YY.MM.DD') }}-{{contract.endDate | timestampFormat('YY.MM.DD') }}</span>
                        </p>

                        <p class="bottom clearfix">
                            <a href="javascript:;" class="xiuGai on" @click="ContractModify(contract,'','3','您确定同意协议审批吗?')">同意</a>
                            <a href="javascript:;" class="xiuGai" @click="showApproveContract(contract,'2')">拒绝</a>
                        </p>
                    </li>
                </template>
            </ul>
           <!-- <p class="printHome">printhome.com</p>-->
        </div>
    </div>
</div>
<div   class="tiShi" v-cloak v-show="(queryType == 1 && allContractList && allContractList.length == 0) ||(queryType == 2 && comfirmContractList && comfirmContractList.length == 0) || (queryType == 3 && approveContractList && approveContractList.length == 0) ">
    <img src="../../img/search_bg.png" alt="" />
    <h2 >十分抱歉，没有找到您想要的相关内容</h2>
    <p >亲，我们换个词试试吧~</p>
</div>
</section>


<!--占位-->
<section>
    <div style="height: 0.95rem;width: 100%;"></div>
</section>
<!--回到顶部-->
<section>
    <div id="top">
    </div>
</section>
<!--创建协议-->
<footer>
    <a href="javascript:void(0)" class="chuangJian" @click="gotoCreateContract">+创建协议</a>
</footer>
<!--确定执行弹窗-->
<section>
    <div class="zhezhao">
        <div class="con">
            <h5></h5>

            <p>确定执行此请求吗？</p>

            <div></div>
            <span class="quXiao">取消</span><span class="queDing">确定</span>
        </div>
    </div>
</section>
<!--审核拒绝理由弹框-->
<section v-show="approveRejectDialog" v-cloak>
    <div class="zhezhao2">
        <div class="content">
            <h3>拒绝</h3>
            <h4>请填写拒绝理由：</h4>
            <textarea class="text" v-model="currentReason" maxlength="150"></textarea>

            <p>
                <button class="cancel" @click="approveRejectDialog = !approveRejectDialog">取消</button>
                <button class="sure" @click="approveContract()">确定</button>
            </p>
            <i class="close" @click="approveRejectDialog = !approveRejectDialog"></i>
            <div class="textNone"></div>
        </div>
    </div>
</section>
</div>
<!--搜索-->
<div   v-show="searchDialog"  v-cloak>
    <header>
        <div class="header">
            <a href="#" class="fanHui" @click="searchDialog = !searchDialog"></a>
            搜索
        </div>
        <div style="height:0.88rem;"></div>
    </header>
    <!--协议编号-->
    <section>
        <div class="suoSou">
            <p>
                <span>协议名称：</span>
                <input type="text" v-model="contractName"  maxlength="20"/>
            </p>
            <p style="text-align: center; padding-top: 0.4rem;"><a href="javascript:void(0)" @click="contractName = ''" class="reset">重置</a><a href="javascript:void(0)" @click="searchDialog =!searchDialog;initpage();getList()" class="search">搜索</a></p>
        </div>
    </section>
</div>
    <!--搜索无结果-->
   <!-- <div id="wujieguo" hidden="hidden">
        <header>
            <div class="header">
                <a href="javascript:;" onclick="showList();" class="fanHui"></a>
                我的询价
                <a href="javascript:;" onclick="showSouSuo();" class="suoSou"></a>
            </div>
            <div style="height: 0.88rem;"></div>
        </header>
        <section>
            <div class="tiShi">
                <img src="../../img/search_bg.png" alt=""/>
                <h2>十分抱歉，没有找到您想要的相关内容</h2>
                <p>亲，我们换个词试试吧~</p>
            </div>
        </section>
        <section>
            <p class="printHome" style="position: absolute;bottom: 0.2rem; left: 50%;margin-left: -0.88rem;">printhome.com</p>
        </section>
    </div>    -->
</div>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="UTF-8" type="text/javascript" src="../../bower_components/iscroll.js"></script>
<script charset="UTF-8" type="text/javascript" src="../../bower_components/pullToRefresh_fixHead.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/common3.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/common.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/popup.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/moment.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/common_http.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/request.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/StorageUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/jsonUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/12_maiJiaZhongXin/10_xieYiGuanLi_xieYiGuanLi.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/vueFilter.js"></script>
<script charset="utf-8" type="text/javascript" src="../../html/12_maiJiaZhongXin/script/10_contractManage.js"></script>
</body>
</html>