<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>协议明细</title>
    <link type="text/css" rel="stylesheet" href="../../css/common.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/12_maiJiaZhongXin/10_xieYiGuanLi_xieYiMingXi.css"/>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script type="text/javascript" src="../../js/adjust.js"></script>
</head>
<body>
<div id="contractInfo">
    <!--头部开始-->
    <header>
        <div class="header">
            <a href="javascript:;" onclick="javascript:history.back(-1);" class="fanHui"></a>
            创建协议订单
            <a href="javascript:;" class="suoSou"></a>
        </div>
    </header>

    <div style="height: 1rem;"></div>
    <section v-cloak>
        <div class="tab_box">
            <div class="xieYiMingXi" >
                <div class="jiBenXinXi">
                    <h2>基本信息</h2>
                    <p>
                        <span class="left">协议状态：</span><span class="right">
                    <template v-for="(key,value) in contractInfo.statusMap">
                        <template v-if="value == contractInfo.contract.status">{{key}}</template>
                    </template>
                </span>
                    </p>
                    <p>
                        <span class="left" v-cloak>发布方：</span><span class="right" >{{contractInfo.publishedBy.companyName}}</span>
                    </p>
                    <p>
                        <span class="left" v-cloak>发布人：</span><span class="right" >{{contractInfo.publishedBy.uname}} <i>协议编号：<span >{{contractInfo.contract.contractOrderNo}}</span></i></span>
                    </p>
                    <p>
                        <span class="left" v-cloak>协议名称：</span><span class="right" >{{contractInfo.contract.contractName}}</span>
                    </p>
                    <p>
                        <span class="left" v-cloak>审核人：</span><span class="right" >{{contractInfo.approveBy.uname}}</span>
                    </p>
                </div>
                <div class="jiBenXinXi" >
                    <h2>联系方式</h2>
                    <p>
                        <span class="left">买方：</span><span class="right" v-cloak>{{contractInfo.buyer.companyName}}</span>
                    </p>
                    <p>
                        <span class="left">联系人：</span><span class="right" v-cloak>{{contractInfo.buyer.uname}}<i>联系电话：<span>{{contractInfo.buyer.umobile}}</span></i></span>
                    </p>
                    <p>
                        <span class="left">电子邮箱：</span><span class="right" v-cloak>{{contractInfo.buyer.userEmail}}</span>
                    </p>
                    <p class="line"></p>
                    <p>
                        <span class="left">卖方：</span><span class="right" v-cloak>{{contractInfo.seller.companyName}}</span>
                    </p>
                    <p>
                        <span class="left">联系人：</span><span class="right" v-cloak>{{contractInfo.seller.uname}}<i>联系电话：<span>{{contractInfo.seller.umobile}}</span></i></span>
                    </p>
                    <p>
                        <span class="left">电子邮箱：</span><span class="right" v-cloak>{{contractInfo.seller.userEmail}}</span>
                    </p>
                </div>
                <div class="jiBenXinXi">
                    <h2>合同条件</h2>
                    <p>
                        <span class="left">协议类型：</span><span class="right" v-cloak>
                    <template v-if="contractInfo.contract.protocolType == 1">
                        单价
                    </template>
                    <template v-else-if="contractInfo.contract.protocolType == 2">
                        数量
                    </template>
                    <template v-else>
                        总价值
                    </template>
                    </span>
                    </p>
                    <p>
                        <span class="left youXiaoQi">协议有效期：</span><span class="right riQi" v-cloak>{{contractInfo.contract.beginDate |timestampFormat('YY-DD-MM') }}   至 {{contractInfo.contract.endDate | timestampFormat('YY-DD-MM')}}</span>
                    </p>
                    <p>
                        <span class="left">协议账期：</span><span class="right" v-cloak>
                   {{ contractInfo.contractPayment.paymentDays}}
                    <template v-if="contractInfo.contractPayment.paymentType == 1">
                        月
                    </template>
                    <template v-else>
                        天
                    </template>
                    </span>
                    </p>
                    <p>
                        <template v-if="contractInfo.contractUrlShowList &&  contractInfo.contractUrlShowList.length > 0 &&　contractInfo.contractUrlShowList[0].imgUrl != ''">
                            <span class="left">附件：</span><span class="right" v-cloak>
                    <img :src="  imgUrl + contractInfo.contractUrlShowList[0].imgUrl" alt=""/></span>
                        </template>
                    </p>
                    <p>
                        <span class="left">备注：</span><span class="right"><textarea v-model="contractInfo.contract.remark" v-cloak></textarea></span>
                    </p>
                </div>

                <div class="jiBenXinXi">

                    <h2>合同物品</h2>
                    <template v-for="contractMat in contractInfo.contract.contractMatDTOs">
                        <div >
                            <div class="selBtnWrap">
                                <img :src="contractMat.checked ? '../../img/yes-select.png' :'../../img/no-select.png' " alt="" class="select no-select" @click="checkedContractMat(contractMat)"/>
                            </div>
                            <div class="selContractGood">
                                <p>
                                    <span class="left">商品名称：</span><span class="right">{{contractMat.itemName}}</span>
                                </p>
                                <p>
                                    <span class="left">商品属性：</span><span class="right dian">{{contractMat.salerAttr}}</span>
                                </p>
                                <template v-if="contractInfo.contract.protocolType == 1">
                                    <p>
                                        <span class="left contractGoodMount">数量：</span><span class="right"><input type="text" v-model="contractMat.quantity" maxlength="10" @keyup="numInputForLengthForVue($event,7,getItemUnitByWS(contractMat.skuId),contractMat,'quantity');checkSkuInventory($event,contractMat);"/></span>
                                    </p>
                                    <p>
                                        <span class="left">单价：</span><span class="right">{{contractMat.matPrice}}</span>
                                    </p>
                                </template>
                                <template v-if="contractInfo.contract.protocolType == 2">
                                    <p>
                                        <span class="left contractGoodMount">数量：</span><span class="right"><input v-model="contractMat.quantity" type="text" maxlength="10" @keyup="numInputForLengthForVue($event,7,getItemUnitByWS(contractMat.skuId),contractMat,'quantity');checkSkuInventory($event,contractMat);checkNumber($event,contractMat);"/></span>
                                    </p>
                                    <p>
                                        <span class="left">单价：</span><span class="right">{{contractMat.matPrice}}</span>
                                    </p>
                                    <p>
                                        <span class="left">总数量：</span><span class="right">{{contractMat.number}}</span>
                                    </p>
                                </template>
                                <template v-if="contractInfo.contract.protocolType == 3">
                                    <p>
                                        <span class="left contractGoodMount">数量：</span><span class="right"><input type="text" v-model="contractMat.quantity" maxlength="10" @keyup="numInputForLengthForVue($event,7,getItemUnitByWS(contractMat.skuId),contractMat,'quantity');checkSkuInventory($event,contractMat);checkCost($event,contractMat);"/></span>
                                    </p>
                                    <p>
                                        <span class="left">单价：</span><span class="right">{{contractMat.matPrice}}</span>
                                    </p>
                                    <p>
                                        <span class="left">总价值：</span><span class="right">{{contractMat.cost}}</span>
                                    </p>
                                </template>
                            </div>
                            <p class="line"></p>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="foot yinCang">
            <a href="javascript:window.history.back(-1)">返回</a>
            <a href="javascript:void(0)" @click="gotoOrderView()" class="queding">确定</a>
        </div>
    </footer>
    <!--占位-->
    <section>
        <div style="height: 0.84rem;"></div>
    </section>
    <!--回到顶部-->
    <section>
        <div id="top">
        </div>
    </section>
</div>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="UTF-8" type="text/javascript" src="../../bower_components/iscroll.js"></script>
<script charset="UTF-8" type="text/javascript" src="../../bower_components/pullToRefresh_fixHead.js"></script>
<script charset="UTF-8" type="text/javascript" src="../../bower_components/web-storage-cache-master/dist/web-storage-cache.min.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/common3.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/common.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/popup.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/moment.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/mathUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/common_http.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/request.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/StorageUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../html/commonScript/itemUnit/itemUnit.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/jsonUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/vueFilter.js"></script>
<script charset="utf-8" type="text/javascript" src="../../html/12_maiJiaZhongXin/script/10_contractOrderCreate.js"></script>
</body>
</html>