<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>询价明细</title>
    <link type="text/css" rel="stylesheet" href="../../css/common.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/12_maiJiaZhongXin/10_xieYiGuanLi_xieYiMingXi.css"/>
    <script type="text/javascript" src="../../js/adjust.js"></script>
</head>
<body>
<!--头部开始-->
<header>
    <div class="header">
        <a href="11_xunJiaGuanLi_xunJiaGuanLi.html?label=multiple" class="fanHui" ></a>
        接受报价
        <a href="javascript:;" class="suoSou"></a>
    </div>
</header>
<!--选项卡-->
<div id="priceInfo">
<div style="height: 1.0rem;"></div>
<section>
    <div class="tab_box">
        <div class="xieYiMingXi">
            <template v-for="detail in details">
            <div class="jiBenXinXi">
                <div class="select clearfix">
                    <div class="gouXuan">
                        <template v-if="selected.indexOf(detail)>-1">
                            <img class="no-select" src="../../img/yes-select.png" @click="select(detail)" alt="" />
                        </template>
                        <template v-else>
                            <img class="no-select" src="../../img/no-select.png" @click="select(detail)" alt="" />
                        </template>
                    </div>
                    <p>
                        <span class="left">供应商：</span><span class="right" v-text="detail.shopName"></span>
                    </p>
                    <p>
                        <span class="left">物品名称：</span><span class="right" v-text="detail.itemName"></span>
                    </p>
                    <p class="zhanKai">
                        <span class="left">数量：</span><span class="right">{{detail.quantity}}<i>单价：<span v-text="detail.matPrice"></span></i></span>
                        <span class="jianTou zhiFuDown"></span>
                    </p>
                </div>
                <!--<div class="">-->
                <div class="mingXi">
                    <p>
                        <span class="left">物品属性：</span><span class="right" style="width: 4.73rem;"><span class="xianZhi" v-text="detail.salerAttr+'  '"></span><i style="margin:0;">交货日期：<span v-text="time(detail.deliveryDate2)">2016-12-25</span></i></span>
                    </p>
                    <p>
                        <span class="left">有效期：</span><span class="right" v-text="time(detail.beginDate)+' 至 '+time(detail.endDate)">2016-11-25至2016-12-11</span>
                    </p>
                </div>
                <p class="line"></p>
                <p class="bottom baoJia">
                    状态：<span v-text="detail.JS">已接受</span>
                </p>
            </div>
            </template>
        </div>
    </div>
</section>
    <section>
        <div style="height: 0.98rem;"></div>
    </section>
    <footer>
        <div class="foot2">
            <a  href="11_xunJiaGuanLi_xunJiaGuanLi.html?label=multiple" class="cancle">取消</a><a href="javascript:;" @click="accept();" class="next on">确定</a>
        </div>
    </footer>
</div>
<!--回到顶部-->
<section>
    <div id="top">
    </div>
</section>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/request.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/common.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/12_maiJiaZhongXin/10_xieYiGuanLi_xieYiGuanLi.js"></script>
<script type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/popup.js"></script>
<script type="text/javascript" src="script/11_jieshoubaojia.js"></script>
</body>
</html>