<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>印刷家</title>
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="../../css/12_maiJiaZhongXin/2_maiJiaZhongXin_xiaoXiZhongXin.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/pullToRefresh.css"/>
    <script type="text/javascript" src="../../js/adjust.js"></script>
</head>
<body>
<!--头部开始-->
<div id="newsInfo">
<header>
    <div class="header">
        <a href="javascript:gotoBackPreviousPage()" class="return"></a>消息中心<span class="quanBuYiDu" @click="setRead">全部已读</span>
    </div>
    <div class="zhanwei"></div>
</header>
<!--头部结束-->
<!--消息列表开始-->
<section>
    <template v-if="newsList.length>0">
        <div class="tab_box" id="wrapper">
            <div class="quanBU wrapScrool" id="f">
                <div style="height: 0.8rem"></div>
        <template v-for="news in newsList">

            <a class="xiaoXiZhongXin" href="javascript:;" @click="showInfo(news)">
                <div class="top">
                    <span :class="news.wmRead =='2'?'':'hongDian'"></span><span class="shiJian" v-text="time(news.wmCreated)"></span>
                </div>
                <p class="bottom" v-text="news.wmContext"></p>
            </a>
        </template>
                </div>
            </div>
    </template>
    <template v-else>
        <section>
            <div class="tiShi">
                <img src="../../img/search_bg.png" alt=""/>
                <h2>没有发现相关内容~~</h2>
                <!--<p>亲，我们换个词试试吧~</p>-->
            </div>
        </section>
    </template>
</section>
<!--弹出提示-->
<section>
    <div class="zhezhao">
        <div class="xiangXi">
            <span>详细信息</span>
            <p v-text="theNews.wmContext"></p>
            <span class="close"></span>
        </div>
    </div>
</section>
    <!--回到顶部-->
    <section>
        <div id="top" @click="goToTop()"></div>
    </section>
</div>

<!--底部占位-->
<section>
    <div class="zhanwei2"></div>
</section>
<script type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/request.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/common.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/popup.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/iscroll.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/pullToRefresh_fixHead.js"></script>
<!--<script charset="utf-8" type="text/javascript" src="../../js/12_maiJiaZhongXin/2_maiJiaZhongXin_xiaoXiZhongXin.js"></script>-->
<script charset="utf-8" type="text/javascript" src="script/2_newsInfo.js"></script>
</body>
</html>