<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>卖家信息查看</title>
    <link type="text/css" rel="stylesheet" href="../../css/common.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/18_maiJiaZhongXin/14_zhangHuSheZhi_yingYeZhiZhaoXiangGuanZhaoPian.css"/>
    <script type="text/javascript" src="../../js/adjust.js"></script>
</head>
<body>
<!--头部开始-->
<header>
    <div class="header">
        <a href="javascript:;" onclick="javascript:history.back(-1);" class="return"></a>
        组织机构代码信息修改
    </div>
    <div style="height: 0.88rem;"></div>
</header>
<!--联系人开始-->
<form id="zuzhijigou_form">
<div id="sellerupdate">
    <section>
        <div class="lianxiren">
            <h2 class="title">组织机构代码信息</h2>
            <p>
                <span class="left"><label>＊</label>组织机构代码：</span>
                <span class="right"><input name="organizationId" id="organizationId" type="text" v-model="userInfoDTO.userOrganizationDTO.organizationId" class="ccc_border gray_word zuZhiJiGouDaiMa" maxlength="20" @change="textRegular($event,'/^[a-zA-Z0-9_\-|\w]{4,40}$/','请按照公司组织机构代码证上的代码填写，不要省略“—”',userInfoDTO.userOrganizationDTO,'organizationId');"/></span>
            </p>
            <div class="warm none">请输入组织机构代码</div>
            <p>
                <span class="left"><label>＊</label>组织机构代码有效期：</span>
                <span class="right">
                <input type="date" id="userfulTime" name="userfulTime" class="ccc_border gray_word w330 youXiaoQi" v-model="userInfoDTO.userOrganizationDTO.userfulTime"/>
            </span>
            </p>
            <div class="warm none">请选择组织机构代码有效期</div>
        </div>
    </section>
</div>
<div style="height: 0.84rem;"></div>
<footer>
    <div class="footer">
        <a href="14_zhangHuSheZhi_yingYeZhiZhaoXinXi.html" class="quxiao">取消</a>
        <a href="#" onclick="updateZuzhijigou();" class="baocun">保存</a>
    </div>
</footer>
</form>
<script type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script src="../../bower_components/jquery-validation/1.11.1/jquery.validate.js" type="text/javascript"></script>
<script type="text/javascript" src="../../bower_components/jquery-validation/1.11.1/messages_zh.js"></script>
<script src="../../bower_components/jquery-validation/1.11.1/messages_zh.js" type="text/javascript"></script>
<link href="../../bower_components/jquery-validation/1.11.1/jquery.validateA.css" type="text/css" rel="stylesheet" />
<script charset="utf-8" type="text/javascript" src="../../js/popup.js"></script>
<script type="text/javascript" src="../../js/18_maiJiaZhongXin/14_zhangHuSheZhi_lianXiRenXinXi.js"></script>
<script type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/request.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/stringUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/mathUtil.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script charset="utf-8" type="text/javascript" src="script/14_sellerInfoUpdate.js"></script>
</body>
</html>