<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>报价管理</title>
    <link type="text/css" rel="stylesheet" href="../../css/common.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/pullToRefresh.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/12_maiJiaZhongXin/10_xieYiGuanLi_xieYiGuanLi.css"/>
    <script type="text/javascript" src="../../js/adjust.js"></script>
</head>
<body>
<!--搜索-->
<div id="xunjia_sousuo" hidden="hidden">
    <header>
        <div class="header">
            <a href="#" class="fanHui" onclick="showList();"></a>
            搜索
        </div>
        <div style="height:0.88rem;"></div>
    </header>
    <!--协议编号-->
    <section>
        <div class="suoSou">
            <p>
                <span id="souSuoLabel">询价名称：</span>
                <input type="text" id="searchName" name="searchName" maxlength="20"/>
            </p>
            <p style="text-align: center; padding-top: 0.4rem;"><a href="#" onclick="reset()" class="reset">重置</a><a href="#" onclick="dosearch()" class="search">搜索</a></p>
        </div>
    </section>
</div>
<!--头部开始-->
<header>
    <div class="header">
        <a href="../../html/18_maiJiaZhongXin/8_maiJiaZhongXin_maiJiaZhongXin.html" class="fanHui" ></a>
        报价管理
        <a href="javascript:;" class="suoSou" onclick="showSouSuo();"></a>
        <!--<a href="javascript:;" class="suoSou"></a>-->
    </div>
    <div class="zhanwei"></div>
</header>
<!--选项卡-->
<div id="baojiaAll" v-cloak>
<section>
    <div class="xuanXiangKa xunJia">
        <ul>
            <li id="danyiLi"  onclick="getDanyi();reset();" >单一报价</li>
            <li id="piliangLi" onclick="getPiLiang();reset();" >批量报价</li>
        </ul>
    </div>
</section>
<section>
    <div class="tab_box" id="wrapper">
            <div class="quanBU wrapScrool">
                <div style="height: 1.5rem"></div>
                <!-- 单一报价 -->
                <template v-if="label=='single'">
                    <template v-if="biaogeListDanyi.length>0">
                    <template v-for="inquiry in biaogeListDanyi">
                        <div class="biaoGe">
                        <p class="top">
                            <span>商品信息</span>
                            <span>购买数量</span>
                            <span>有效期</span>
                        </p>
                        <p class="middle">
                            <a href="javascript:;" @click="goToXiangQingYe(inquiry.itemId,inquiry.skuId)">
                                <span class="shangPin" v-substring1="[0,8]">{{inquiry.itemName}}</span>
                                <br/>
                                <i class="shuXing" style="text-align: center;color: #666;font-size: 0.22rem;">{{inquiry.itemAttr |subEndFilter(10)}}</i>
                            </a>
                            <span style="margin-top:0.2rem;">{{inquiry.inquiryQty}}</span>
                            <span style="margin-top:0.2rem;">
                                <template v-if="inquiry.startTime!=null && inquiry.endTime!=null">
                                    {{subTime(inquiry.startTime)}}
                                        -{{subTime(inquiry.endTime)}}
                                </template>
                            </span>
                        </p>
                        <p class="line"></p>
                        <p class="bottom baoJia">
                            <template v-if="null == inquiry.inquiryPrice || '' == inquiry.inquiryPrice">
                                暂无报价
                                <span></span>
                                <a :href="'2_baoJiaGuanLi_danYiBaoJiaMingXi.html?inquiryId='+inquiry.id">查看</a>
                                <a href="javascript:;" class="baojia" @click="seeOrUpdateInquiry(inquiry,'add',$event,inquiry)">报价</a>
                            </template>
                            <template v-else>
                                我的报价：
                                <span>{{inquiry.inquiryPrice}}</span>
                                <a :href="'2_baoJiaGuanLi_danYiBaoJiaMingXi.html?inquiryId='+inquiry.id">查看</a>
                                <a href="javascript:;" class="baojia" @click="seeOrUpdateInquiry(inquiry,'update',$event,inquiry)">修改</a>
                            </template>
                        </p>
                    </div>
                    </template>
                    </template>
                    <template v-else>
                        <section>
                            <div class="tiShi">
                                <img src="../../img/search_bg.png" alt=""/>
                                <h2>没有发现相关内容~~</h2>
                                <!--<p>亲，我们换个词试试吧~</p>-->
                            </div>
                        </section>
                    </template>
                </template>
                <!-- 批量报价 数据绑定在这里写-->
                <template v-else-if="label=='multiple'">
                    <template v-if="biaogeListPiLiang.length>0">
                    <template v-for="baojia in biaogeListPiLiang">
                        <div class="biaoGe">
                            <p class="top">
                                <span>询价名称</span>
                                <span>状态</span>
                                <span>询价日期</span>
                            </p>
                            <p class="middle">
                                <a href="javascript:;" style="text-align: center;" v-text="baojia.inquiryName" v-substring1="[0,8]"></a>
                                <span>
                                    <template v-if="baojia.status == 1">待发布</template>
                                    <template v-if="baojia.status == 2">报价中</template>
                                    <template v-if="baojia.status == 3">已接受</template>
                                </span>
                                <span v-text="time(baojia.createDate)"></span>
                            </p>
                            <p class="bottom clearfix">
                                <template v-if="baojia.status == 2">
                                    <a :href="'2_baoJiaGuanLi_baoJiaGuanLi2.html?inquiryNo='+baojia.inquiryNo" class="bao on">报价</a>
                                    <a :href="'../18_maiJiaZhongXin/2_baoJiaGuanLi_xunJiaMingXi.html?inquiryNo='+baojia.inquiryNo+'&flag=response'" class="chaKan">查看</a>
                                </template>
                                <template v-else>
                                    <a :href="'../18_maiJiaZhongXin/2_baoJiaGuanLi_xunJiaMingXi.html?inquiryNo='+baojia.inquiryNo+'&flag=response'" class="chaKan on">查看</a>
                                </template>
                            </p>
                        </div>
                    </template>
                    </template>
                    <template v-else>
                        <section>
                            <div class="tiShi">
                                <img src="../../img/search_bg.png" alt=""/>
                                <h2>没有发现相关内容~~</h2>
                                <!--<p>亲，我们换个词试试吧~</p>-->
                            </div>
                        </section>
                    </template>
                </template>
                <p class="printHome">printhome.com</p>
            </div>
    </div>
</section>
    <!--占位-->
<section>
    <div style="height: 0.95rem;width: 100%;"></div>
</section>
<!--回到顶部-->
<section>
    <div id="top">
    </div>
</section>
<!--弹窗-->
<section>
    <div class="daiShenHe" style="z-index: 1000">
        <div class="con2">
            <h3 v-text="choosedInquiry.pOperateType == 'add'?'报价':'修改报价'"></h3>
            <div class="clearfix">
                <span class="left lh">单价：</span>
                <span  class="right">
                    <input type="text" name="1" v-model="choosedInquiry.inquiryPrice" :placeholder="goodsType==1?'不含铝夹的价格':''" @blur="numInputForLengthForVue($event,7, 2,choosedInquiry,'inquiryPrice');" @keyup="numInputForLengthForVue($event,7, 2,choosedInquiry,'inquiryPrice');" style="width: 2.3rem">
                </span>
            </div>
            <div class="clearfix" style="margin-bottom: 0;">
                <span class="left">有效期：</span>
                <span class="right">
                    <input type="date" :min="time(new Date())"  v-model="choosedInquiry.startTime">
                    <!--<span style="float:left;line-height: 0.58rem;">一</span>-->
                    <!--<input type="date" :min="choosedInquiry.startTime" v-model="choosedInquiry.endTime">-->
                </span>
            </div>
            <span style="display: block;padding-left:1.2rem; color: #333;font-size: 0.24rem;width:3.5rem;text-align:center;">一</span>
            <div class="clearfix" style="margin-top:0;">
                <span class="left lh"></span>
                <span class="right">
                    <input type="date" :min="choosedInquiry.startTime" v-model="choosedInquiry.endTime">
                </span>
            </div>
            <div class="clearfix">
                <span class="left">备注：</span>
                <span class="right">
                    <textarea placeholder="请输入备注，最多300个字哦" maxlength="300" v-model="choosedInquiry.inquiryRemark"></textarea>
                </span>
            </div>
            <p class="btn clearfix"><button class="cancel">取消</button><button class="sure" @click="commitModify()">确定</button></p>
            <i class="close"></i>
        </div>
    </div>
</section>
</div>
<script type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/vueFilter.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/vueDirective.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/common.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/popup.js"></script>
<script type="text/javascript" src="../../js/request.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/iscroll.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/pullToRefresh_fixHead.js"></script>
<!--<script charset="utf-8" type="text/javascript" src="../../js/12_maiJiaZhongXin/10_xieYiGuanLi_xieYiGuanLi.js"></script>-->
<script charset="utf-8" type="text/javascript" src="../../js/mathUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="script/2_baojiaguanli.js"></script>
</body>
</html>