<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>店铺资料查看</title>
    <script type="text/javascript" src="../../js/adjust.js"></script>
    <link type="text/css" rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="../../css/18_maiJiaZhongXin/5_shenJinDuChaKan_maiJiaZiZhiXinXi.css"/>
</head>
<body>
<!--头部开始-->
<header>
    <div class="header">
        <a href="javascript:history.back(-1);" class="fanHui"></a>
        店铺资料查看
    </div>
    <div style="height: 0.88rem;"></div>
</header>
<div id="dianpu" v-cloak>
<section>
    <div class="dianpuziliao">
        <p style="margin-top: 0.2rem">
            <span class="left">店铺名称：</span>
            <span class="right" v-text="shopInfo.shopName">大家智合（北京）网络科技股份有限公司</span>
        </p>
        <p>
            <span class="left">店铺域名：</span>
            <span class="right" v-text="shopInfo.shopUrl">test.shgreen.printhome.com</span>
        </p>
        <p>
            <span class="left">店铺类型：</span>
            <span class="right" v-text="getShopType()">品牌商</span>
        </p>
        <p>
            <span class="left">品牌类型：</span>
            <span class="right" v-text="getBrandType()">国内品牌</span>
        </p>
        <p>
            <span class="left">经营类型：</span>
            <span class="right" v-text="getBusinessType()">自有品牌</span>
        </p>
        <p>
            <span class="left">免责声明：</span>
            <img :src="getImgUrl(shopInfo.disclaimer)" alt="" class="right big"/>
        </p>
        <p>
            <span class="left">发/退货地址：</span>
            <span class="right" v-text="shopInfo.provinceName+' '+shopInfo.cityName+' '+shopInfo.districtName">北京市  海淀区  翠微路<br><i>北京市海淀区翠微路2号院中国印刷科学技术研究院B座3层</i></span>
        </p>
        <p>
            <span class="left">已选经营品类：</span>
            <span class="fr">
                <template v-for="categoryName in categoryNameList">
                    <span v-text="categoryName"></span>
                </template>
            </span>
        </p>
        <p>
            <span class="left">已选经营品牌：</span>
            <span class="fr">
                <template v-for="shopBrand in shopBrandList">
                    <img :src="getImgUrl(shopBrand.brandLogoUrl)" alt=""/>
                </template>
            </span>
        </p>
        <div>
            <span class="left" style="width: 1.55rem; text-align:left;">商标注册证/商品注册申请书扫描件：</span><img :src="getImgUrl(shopInfo.trademarkRegistCert)" alt="" class="right big"/>
        </div>
        <div>
            <span class="left" style="width: 1.55rem; text-align:left;">质检、检疫、检验报告/报关单类扫描件：</span><img :src="getImgUrl(shopInfo.inspectionReport)" alt="" class="right big"/>
        </div>
        <div>
            <span class="left" style="width: 1.55rem; text-align:left;">卫生/生产许可证扫描件：</span><img :src="getImgUrl(shopInfo.productionLicense)" alt="" class="right big"/>
        </div>
    </div>
</section>
</div>
<!--回到顶部-->
<section>
    <div id="top">
    </div>
</section>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/request.js"></script>
<script charset="utf-8" type="text/javascript" src="script/5_dianpuInfo.js"></script>
</body>
</html>