.header {
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    text-align: center;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index:9;
    font-size: 0.3rem;
    color: #333;
    border-bottom: 0.01rem solid #E8E8E8;
}
.header a.return{
    width: 0.44rem;
    height: 0.44rem;
    background:url("../../img/return.png") no-repeat;
    background-size: 0.2rem 0.3rem;
    position: absolute;
    left: 0.2rem;
    top: 0.3rem;
}
.manJian{
    background-color: #fff;
    color: #333;
    font-size: 0.26rem;
    padding: 0.2rem;
    margin-top: 0.1rem;
}
.manJian img{
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    margin: 0 0.2rem 0 0.3rem;
    vertical-align: top;
}
.lianxiren{
    background: #fff;
    padding:0.2rem;
    margin-top: 0.2rem;
    position: relative;
}
.lianxiren .title{
    font-weight: normal;
    font-size: 0.26rem;
    color: #333333;
    margin-bottom: 0.2rem;
}
.lianxiren p{
    overflow: hidden;
    margin-top: 0.2rem;
    font-size: 0.26rem;
    color: #333333;
}
.lianxiren p label{
    color: #e60012;
}
.lianxiren p.youHui input{
    margin-left: 0.2rem;
}
.lianxiren p span.left{
    font-size: 0.22rem;
    color: #666;
    float: left;
    width: 1.44rem;
    text-align: right;
}
.lianxiren p span.right{
    font-size: 0.26rem;
    color: #333;
    float: left;
    width: 4.56rem;
}
/*联系人信息修改*/
.lianxiren p input{
    width: 2.56rem;
    height: 0.58rem;
    border-radius: 0.05rem;
    padding-left: 0.1rem;
}
.lianxiren p  input.w400{
    width: 4rem;
}
.lianxiren p  input.w300{
    width: 3rem;
}
.footer{
    border-top: 1px solid #e8e8e8;
    width: 100%;
    height: 0.84rem;
    padding-top: 0.1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size:0;
    text-align: center;
    z-index: 9;
    background-color: #fff;
}
.footer a{
    font-size: 0.3rem;
    width: 2rem;
    height: 0.64rem;
    line-height: 0.64rem;
    background-color: #e60012;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 0.05rem;
}
.footer a.quxiao{
    background-color: #f39700;
    margin-right: 0.8rem;
}
/*校验*/
.warm{
    color: #e60012 !important;
    font-size: 0.2rem !important;
    text-align: center;
    margin: 0 !important;
}
.gray_word{
    color: #666;
}
.ccc_border{
    border: 1px solid #ccc;
}
.red_word{
    color: #e60012;
}
.red_border{
    border: 1px solid #e60012;
}
.lianxiren p.zhi{
    text-align: center;
    margin: 0;
}
.lianxiren p span.right a{
    width: 1.32rem;
    height: 0.48rem;
    background-color: #eee;
    color: #666;
    font-size: 0.26rem;
    display: inline-block;
    text-align: center;
    line-height: 0.48rem;
    border-radius: 0.2rem;
    margin-right: 0.2rem;
}
.lianxiren p span.right a.on{
    background-color: #e60012;
    color: #fff;
}
.lianxiren p span.right a:nth-child(4){
    margin-top: 0.2rem;
}
.lianxiren p textarea{
    width: 4.4rem;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.05rem;
    resize: none;
    padding: 0.2rem 0 0 0.2rem;
}
.tab_box>div{
    display: none;
}
.tab_box .quanBu{
    display: block;
}
.tianJiaShangPin{
    display: block;
    margin: 0.2rem auto 0;
    width: 6rem;
    height: 0.78rem;
    line-height:0.78rem;
    border-radius:0.05rem;
    text-align: center;
    color: #fff;
    font-size:0.3rem;
    background: #e60012;
}
.lianxiren p.red{
    color: #e60012;
}
/*发布弹窗*/
.bg{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.faBuTanChuang{
    width: 4rem;
    height: 2.78rem;
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: 4.16rem;
    left: 1.2rem;
    border-radius: 0.05rem;
}
.faBuTanChuang h5{
    height: 0.64rem;
    line-height: 0.64rem;
    color: #666;
    font-size: 0.24rem;
    text-align: center;
    font-weight: normal;
}
.faBuTanChuang p{
    color: #333;
    font-size: 0.28rem;
    text-align: center;
}
.faBuTanChuang div{
    width: 3.35rem;
    border: 1px dashed #e8e8e8;
    margin:0.15rem auto;
}
.faBuTanChuang p a{
    width: 1.2rem;
    height: 0.48rem;
    line-height: 0.48rem;
    text-align: center;
    color: #fff;
    font-size: 0.3rem;
    background-color: #e60012;
    border-radius: 0.05rem;
    display: inline-block;
}
.faBuTanChuang p a:first-child{
    margin-right: 0.5rem;
    background-color: #f39700;
}
/*添加商品弹窗*/
.prop_bg {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.win_Promotion {
    display: none;
}

.promotion_con {
    width: 100%;
    border-radius: 0.1rem;
    background-color: #fff;
    position: relative;
}

.promotionCon_wrap {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    padding: 0.1rem;
    font-size: 0;
}

.pro_tit {
    text-align: center;
    font-size: 0.24rem;
    color: #666;
    height: 0.63rem;
    line-height: 0.63rem;
}

.pro_chahaoWrap {
    height: 0.4rem;
    width: 0.4rem;
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
}

.pro_chahao {
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    height: 0.2rem;
    width: 0.2rem;
}

.win_wancheng {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 0.3rem;
    margin-top: 0.1rem;
    height: 0.78rem;
    line-height: 0.78rem;
    background-color: #e60012;
    border-radius: 0.1rem;
    vertical-align: top;
}
.quan_wrap {
    height: 4rem;
    overflow: auto;
}
.shangPinLieBiao{
    background-color: #f8f8f8;
    margin-bottom: 0.1rem;
    padding-bottom: 0.2rem;
}
.shangPinLieBiao .top span{
    height: 0.5rem;
    line-height: 0.5rem;
}
.shangPinLieBiao div span{
    color: #666;
    font-size: 0.24rem;
    float: left;
    text-align: center;
}
.shangPinLieBiao div span:first-child{
    width: 0.55rem;
}
.shangPinLieBiao div span:nth-child(2){
    width: 1.65rem;
}
.shangPinLieBiao div span:nth-child(3){
    width: 2.65rem;
}
.shangPinLieBiao div span:nth-child(4){
    width:1.35rem;
}
.shangPinLieBiao div span img{
    width: 0.3rem;
    height: 0.3rem;
    margin: 0.1rem 0 0 0.2rem;
}
.shangPinLieBiao .line{
    width: 6rem;
    border: 1px dashed #e8e8e8;
    margin: 0.2rem auto;
}
.shangPinLieBiao .bottom{
    padding-right: 0.1rem;
    text-align: right;
    font-size: 0.24rem;
    color: #666;
}
.shangPinLieBiao .bottom span{
    color: #e60012;
    font-size: 0.26rem;
}
/*促销商品*/
.cuXiaoShangPin{
    background-color: #fff;
    margin-top: 0.2rem;
    display: none;
}
.cuXiaoShangPin .biaoTi{
    color: #333;
    font-size: 0.26rem;
    padding: 0.2rem 0 0.2rem 0.2rem;
    width: 100%;
    background-color: #fff;
}
.shangPin{
    padding-bottom: 0.2rem;
}
.shangPin .top span{
    height: 0.5rem;
    line-height: 0.5rem;
}
.shangPin div span{
    color: #666;
    font-size: 0.24rem;
    float: left;
    text-align: center;
}
.shangPin div span:first-child{
    width: 1.92rem;
}
.shangPin div span:nth-child(2){
    width: 2.98rem;
}
.shangPin div span:nth-child(3){
    width: 1.5rem;
}
.shangPin .line{
    width: 6rem;
    border: 1px dashed #e8e8e8;
    margin: 0.2rem auto;
}
.shangPin .bottom{
    padding-right: 0.1rem;
    text-align: right;
    font-size: 0.24rem;
    color: #666;
}
.shangPin .bottom span{
    color: #e60012;
    font-size: 0.26rem;
}
/*促销详情*/
.lianxiren p.youHui span{
    color: #e60012;
    font-size: 0.3rem;
}
.youHuiXuanZe{
    background-color: #fff;
    color: #333;
    font-size: 0.26rem;
}
.youHuiXuanZe img{
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    margin-right:0.2rem;
    vertical-align: top;
}
.youHuiXuanZe img:last-child{
    margin-left: 1rem;
}
.youHuiGuiZe div{
    display: none;
}
.youHuiGuiZe .zheKou{
    display: block;
}