/*头部导航*/
.header{
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    text-align: center;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index:9;
    font-size: 0.3rem;
    color: #333;
    border-bottom: 0.01rem solid #E8E8E8;
}
.header .return{
    width: 0.44rem;
    height: 0.44rem;
    background:url("../../img/return.png") no-repeat;
    background-size: 0.2rem 0.3rem;
    position: absolute;
    left: 0.2rem;
    top: 0.3rem;
}
.header .bianJi,.header .wanCheng{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.28rem;
    color: #666;
    margin-right: 0.2rem;
}

/*头部占位*/
.zhanwei{
    width: 100%;
    height: 0.88rem;
}
.main{
    width: 100%;
    padding-left: 0.2rem;
}
.yiDong{
    overflow: hidden;
    position: relative;
}
.gouXuan{
    width: 0.3rem;
    height: 1.55rem;
    padding-top: 0.7rem;
    position: absolute;
    left: -0.5rem;
}
.gouXuan .no-select{
    width: 0.3rem;
    height: 0.3rem;
}
/*平台满减*/
.manjian {
    width: 6rem;
    height: 1.35rem;
    position: relative;
    margin: 0.2rem 0 0;
    left: 0;
}
.manjian .content{
    background: url("../../img/manjian@3x.png") no-repeat;
    background-size: 100% 100%;
}
.manjian .leibie{
    color: #03b3a2;
}
.content{
    width: 6rem;
    height: 1.35rem;
    background: url("../../img/xianjin@3x.png") no-repeat;
    background-size: 100% 100%;
    color: #fff;
    position: relative;
}
.content .zhuangtai{
    width: 0.96rem;
    height: 0.3rem;
    background:url("../../img/jijiangguoqi@3x.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.content  .jine{
    font-size: 0.24rem;
    width: 2.8rem;
    text-align: center;
    position: absolute;
    top: 0.3rem;
    left: 0;
}
.content  .jine span{
    font-size: 0.4rem;
}
.content .mingcheng{
    font-size: 0.2rem;
    width: 2.8rem;
    padding-left: 0.1rem;
    position: absolute;
    left: 0;
    top: 0.9rem;
}
.content .riqi {
    font-size: 0.2rem;
    position: absolute;
    top: 0.16rem;
    left: 2.94rem;
    width: 2.25rem;
    height: 0.34rem;
    line-height: 0.34rem;
    text-align: center;
}
.content .shuliang {
    font-size: 0.2rem;
    position: absolute;
    top: 0.55rem;
    left: 2.96rem;
}
.content .qian {
    font-size: 0.2rem;
    position: absolute;
    top: 0.9rem;
    left: 2.96rem;
}
.content .yilingqu{
    width: 1.18rem;
    height: 1.18rem;
    position: absolute;
    top: 0.12rem;
    right: 0.87rem;
    display: none;
}
.leibie{
    width: 0.7rem;
    height: 1.35rem;
    background: url("../../img/yuanshi@3x.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: 0;
    color: #f1041a;
}
.leibie div{
    font-size: 0.22rem;
    width:0.22rem;
    height: 1.35rem;
    margin: 0.05rem auto 0 0.25rem;
    line-height: 0.25rem;
}
/*店铺现金*/
.xianjin{
    width: 6rem;
    height: 1.35rem;
    position: relative;
    margin: 0.2rem 0 0;
    left: 0;
}
/*指定打折*/
.dazhe{
    width: 6rem;
    height: 1.35rem;
    position: relative;
    margin: 0.2rem 0 0;
    left: 0;
}
.dazhe .content{
    background: url("../../img/dazhe@3x.png") no-repeat;
    background-size: 100% 100%;
}
.dazhe .leibie{
    color: #d18b05;
}
/*已过期*/
.yiguoqi {
    width: 6rem;
    height: 1.35rem;
    position: relative;
    margin: 0.2rem 0 0;
    left: 0;
}
.yiguoqi .content{
    background:url("../../img/lingwan@3x.png") no-repeat;
    background-size: 100% 100%;
}
.yiguoqi .content #yiguoqi{
    width: 1.18rem;
    height: 1.18rem;
    position: absolute;
    top: 0.12rem;
    right: 0.87rem;
}


.yiguoqi .content .yiguoqiImg{
    width: 1.18rem;
    height: 1.18rem;
    position: absolute;
    top: 0.12rem;
    right: 0.87rem;
}
/*已领完*/
.yilingwan {
    width: 6rem;
    height: 1.35rem;
    position: relative;
    margin: 0.2rem 0 0;
    left: 0;
}
.yilingwan .content{
    background:url("../../img/lingwan@3x.png") no-repeat;
    background-size: 100% 100%;
}
.yilingwan .content #yilingwan{
    width: 1.18rem;
    height: 1.18rem;
    position: absolute;
    top: 0.12rem;
    right: 0.87rem;
}
.lingQuan{
    width: 6rem;
    height: 0.78rem;
    background-color: #fff;
    border-radius: 0.05rem;
    font-size: 0.26rem;
    color: #333;
    display: block;
    text-align: center;
    margin-top: 0.2rem;
    line-height: 0.78rem;
    box-shadow: 0 2px 2px #ccc;
    position: relative;
}
.lingQuan span{
    width: 0.32rem;
    height: 0.26rem;
    background:url("../../img/jiantou@3x.png");
    background-size: 100% 100%;
    position: absolute;
    top: 0.25rem;
    right: 0.9rem;
}
.printHome{
    text-align: center;
    font-size: 0.22rem;
    color: #999;
    line-height: 0.5rem;
}
.delete{
    display: block;
    width: 6rem;
    height: 0.78rem;
    text-align: center;
    line-height: 0.78rem;
    background-color: #e60012;
    border-radius: 0.05rem;
    font-size: 0.3rem;
    color: #fff;
}
.zhezhao{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
}
.con{
    width: 4rem;
    height: 2rem;
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: 4.16rem;
    left: 1.2rem;
    border-radius: 0.05rem;
}
.con h5{
    height: 0.6rem;
    line-height: 0.6rem;
    color: #666;
    font-size: 0.24rem;
    text-align: center;
    font-weight: normal;
}
.con p{
    height: 0.5rem;
    color: #333;
    font-size: 0.28rem;
    text-align: center;
}
.con div{
    width: 3.35rem;
    height: 1px;
    border: 1px dashed #ccc;
    margin:0 auto 0.2rem;
}
.zhezhao  span{
    width: 1.2rem;
    height: 0.48rem;
    line-height: 0.48rem;
    border-radius:0.05rem;
    display: inline-block;
    color: #fff;
    font-size: 0.3rem;
    vertical-align: top;
}
.zhezhao  span.quXiao{
    background: #f39700;
    margin-right: 0.5rem;
}
.zhezhao  span.queDing{
    background: #e60012;
}
/*底部占位*/
.zhan{
    width: 100%;
    height: 1.15rem;
}
