<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>核实订单</title>
    <link rel="stylesheet" href="../../../css/common.css">
    <link rel="stylesheet" href="../../css/16_dingDanHeDui/dingDanHeDui.css">
    <link rel="stylesheet" href="../../css/16_dingDanHeDui/heshi.css">
    <style>
        [v-cloak] {
            display: none;
        }
        ::-webkit-scrollbar
        {
            display: none;
        }
    </style>
    <script type="text/javascript" src="../../../lib/adjust.js"></script>
</head>
<body>
<div id="orderView">
<!--头部开始-->
<header>
    <div class="header">
        <a href="../../html/14_gouWuChe/gouWuChe.html" class="return"></a>核实订单
       <input type="hidden" id="sitecollection" name="sitecollection" value="0">
    </div>
    <div class="zhanwei"></div>
</header>
<template v-if="orderInfo.shopType == 2">
	 <div class="clearfix check_button_box">
		  <div class="check_button"><img id="imgscene" class="no-select"src="../../img/no-select.png" alt="" onclick="sceneCheck()"> 无需发货</div>
		  <div class="check_button"><img id="imgreceipt" class="no-select" src="../../img/no-select.png" alt="" onclick="receiptCheck()"> 收货地址</div>
	 </div>
	 <section>
    <div :class="orderInfo.defAddress  && orderInfo.defAddress.id != '' ? 'xinxi' : 'sheZhiDiZhi'" @click="gotoUpdateAddress" id="addressRadio" style="display: none">
        <template v-if="orderInfo.defAddress && orderInfo.defAddress.id != ''">
            <div class="shouJianRen">
                <p id="name">{{orderInfo.defAddress.contactperson}}</p>
                <p id="number">{{orderInfo.defAddress.contactphone}}</p>
            </div>
            <div class="diZhi">
                <span class="dingWei"></span>
                <p>
                    <span>{{orderInfo.defAddress.provicename}}</span> <span>{{orderInfo.defAddress.cityname}}</span> <span>{{orderInfo.defAddress.countryname}}</span> {{orderInfo.defAddress.fulladdress}}</p>
            </div>
            <span class="moRen" v-show="orderInfo.defAddress.isdefault == 1">默认</span>
            <span class="jianTou"></span>
        </template>
        <template v-else>
            <span class="xinXi">请设置收货地址信息</span>
            <span class="sheZhiDiZhiYe"></span>
        </template>
    </div>
    <div class="tiaoWen"></div>
	</section>
</template>
    <!--收货地址-->
<template v-if="orderInfo.shopType != 2">
<section>
    <div :class="orderInfo.defAddress  && orderInfo.defAddress.id != '' ? 'xinxi' : 'sheZhiDiZhi'" @click="gotoUpdateAddress">
        <template v-if="orderInfo.defAddress && orderInfo.defAddress.id != ''">
            <div class="shouJianRen">
                <p id="name">{{orderInfo.defAddress.contactperson}}</p>
                <p id="number">{{orderInfo.defAddress.contactphone}}</p>
            </div>
            <div class="diZhi">
                <span class="dingWei"></span>
                <p>
                    <span>{{orderInfo.defAddress.provicename}}</span> <span>{{orderInfo.defAddress.cityname}}</span> <span>{{orderInfo.defAddress.countryname}}</span> {{orderInfo.defAddress.fulladdress}}</p>
            </div>
            <span class="moRen" v-show="orderInfo.defAddress.isdefault == 1">默认</span>
            <span class="jianTou"></span>
        </template>
        <template v-else>
            <span class="xinXi">请设置收货地址信息</span>
            <span class="sheZhiDiZhiYe"></span>
        </template>
    </div>
    <div class="tiaoWen"></div>
</section>
</template>
    <!--订单商品-->
<section>
    <div class="shangPin" @click="gotoProductList"  v-cloak >
        <div style="width: 3.4rem;float: left;overflow-x: scroll;overflow-y: hidden">
            <div style="width: 700%">

            <template v-for="product in showProducts">
                <template v-if="product.checked" >
                    <template v-if="product.itemBuyType==4"> <!--套餐商品就要继续查找src，因为和正常商品的数据结构不一致了-->
                        <img :src="imgUrl + product.itemMealDTO.itemMealDetails[0].skuInfo.skuPics[0].picUrl " />
                    </template>
                    <template v-else>
                        <img :src="imgUrl + product.src " />
                    </template>
                </template>
            </template>
            </div>
        </div>
        <a href="javascript:;" class="down"></a>
        <span>共<i>{{orderInfo.myCart.quantity}}</i>件</span>
    </div>

</section>
    <!--发票信息-->
<section>
    <div class="faPiao" @click="gotoInvoice(orderInfo.invoiceDTO)">
        <span class="xinXi">发票信息</span>
        <span class="faPiaoYe"></span>
        <template v-if="orderInfo.invoiceDTO == null ||  orderInfo.invoiceDTO.invoice == 1">
            <span class="zhuangTai">不开发票</span>
        </template>
        <template v-else-if="orderInfo.invoiceDTO.invoice == 2">
            <span class="zhuangTai" style="width: 4rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;text-align: right">{{orderInfo.invoiceDTO.invoiceTitle}}</span>
        </template>
        <template v-else-if="orderInfo.invoiceDTO.invoice == 3">
            <span class="zhuangTai" style="width: 4rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;text-align: right">{{orderInfo.invoiceDTO.companyName}}</span>
        </template>
    </div>
</section>
    <!--锁定价格start-->
    <!--<section>
        <div class="lockPrice">
            <img src="../../img/no-select.png" alt="" style="width: 0.3rem;float: left;" @click="">
            <span class="xinXi" style="margin-left: 0.06rem;vertical-align: middle">使用锁定价格</span>
        </div>
    </section>-->
    <!--锁定价格end-->
    <!--优惠卷信息-->
<section v-if="submitInfo.orderType!= 0 && submitInfo.orderType!=1">
    <div class="youHuiQuan">
        <span class="xinXi">优惠券</span>
        <template v-if="orderInfo.avaliableCoupons.length > 0">
            <span class="xianShi">
                {{orderInfo.avaliableCoupons.length}}张可用
            </span>
        </template>
        <span class="youHuiQuanYe"></span>
        <span class="zhuangTai" @click="orderInfo.avaliableCoupons.length > 0 ? couponDialog = !couponDialog  :''">
            <template v-if="orderInfo.avaliableCoupons.length > 0">
                <template v-if="submitInfo.couponUserId !='' && submitInfo.couponUserId !=null && typeof(submitInfo.couponUserId) != undefined">
                    -￥{{ orderInfo.myCart.couponsDiscount}}
                </template>
                <template v-else>
                    选取使用
                </template>
            </template>
            <template v-else>无可用优惠劵</template>
        </span>
    </div>
</section>
    <!--支付方式-->
<section>
		<!-- 陈广良——增加定金支付和延期支付要隐藏订单核对页的支付方式，在商品清单里每个店铺选择支付方式 -->
    	<!--<div class="dingDanXinXi" @click="userInfo.usertype != 1 ? payDiv = !payDiv :''">
    		<span class="xinXi">选择订单支付类型</span>
    		&lt;!&ndash;如果是企业用户&ndash;&gt;
            <template v-if="userInfo.usertype != 1">
                <span class="corporate_user xiala" ></span>
                <template v-if="orderInfo.shipmentType == 1">
                    <span class="zhuangTai payment_method">立即付款</span>
                </template>
                <template v-if="orderInfo.shipmentType == 2">
                    <span class="zhuangTai payment_method">延期付款</span>
                </template>
                <template v-if="orderInfo.shipmentType == 3">
                    <span class="zhuangTai payment_method">分期付款</span>
                </template>
            </template>
            &lt;!&ndash;个人用户&ndash;&gt;
            <template v-else>
                <template v-if="orderInfo.shipmentType == 1">
                    <span class="zhuangTai payment_method">立即付款</span>
                </template>
                <template v-if="orderInfo.shipmentType == 3">
                    <span class="zhuangTai payment_method">分期付款</span>
                </template>
            </template>
    	</div>-->
    	<!--企业用户选择支付方式-->
        <!--<div class="payment" v-show="payDiv">
            <div class="select" v-cloak>
            	&lt;!&ndash; 如果是协议订单，不能选择立即支付 &ndash;&gt;
                <template v-if="submitInfo.orderType != 1">
                	<div class="company" @click="orderInfo.shipmentType = 1 ">
	                    <img :src="orderInfo.shipmentType == 1 ? '  ../../img/yes-select.png' : '../../img/no-select.png' " alt="" />立即付款
	                </div>
                </template>

                <div class="person"  @click="orderInfo.shipmentType = 2 ">
                	<img :src="orderInfo.shipmentType == 2 ? '  ../../img/yes-select.png' : '../../img/no-select.png' " alt=""/>延期付款
	                &lt;!&ndash; 协议订单有它自己的账期&ndash;&gt;
	                <select class="delay_pay" v-model="orderInfo.payPeriod" v-show="orderInfo.shipmentType == 2">
	                    <template v-if="submitInfo.orderType == 1">
	                    	<option selected="selected" :value="orderInfo.payPeriod">{{orderInfo.payPeriod}}天</option>
	                    </template>
	                    <template v-else>
	                        <option value="7">7天</option>
	                        <option value="15">15天</option>
	                        <option value="30">30天</option>
	                        <option value="45">45天</option>
	                        <option value="60">60天</option>
	                        <option value="75">75天</option>
	                        <option value="90">90天</option>
	                        <option value="120">120天</option>
	                        <option value="180">180天</option>
	                    </template>
	                </select>
                </div>
                <div v-if="orderInfo.myCart.existCanAp" @click="orderInfo.shipmentType = 3 ">
                    <img :src="orderInfo.shipmentType == 3 ? '  ../../img/yes-select.png' : '../../img/no-select.png' " alt=""/>分期支付
                </div>
            </div >
        </div>-->
        <!--
		    如果是个人用户只有立即支付，如果是企业用户那么有延期支付跟立即支付
		    如果企业用户，订单为协议订单，那么默认为延期支付

		    如果用户选择为个人支付那么支付方式只有立即支付
		    如果协议订单那么默认支付方式是延期支付
		    如果是其他订单默认企业支付时为立即支付
		    如果是用户已经选择支付方式则以用户支付方式为选择
		    -->
         <!--<div class="dingDanXinXi" @click="userInfo.usertype != 1 ? payDiv = !payDiv :''">

            <span class="xinXi">支付方式</span>

            &lt;!&ndash;如果是个人用户&ndash;&gt;
            <span class="arrow personal_user"></span>
            <span class="zhuangTai">立即支付</span>

            &lt;!&ndash;如果是企业用户&ndash;&gt;
            <template v-if="userInfo.usertype != 1">
                <span class="corporate_user xiala" ></span>
                &lt;!&ndash;paymentMethod 支付方式1 个人  2 企业
                   个人只有立即支付，企业有个人支付，延期支付&ndash;&gt;
                <template v-if="orderInfo.paymentMethod == 1">
                    <span class="zhuangTai payment_method">立即支付</span>
                </template>
                <template v-else>
                   &lt;!&ndash; 用户选择支付方式为空时,默认&ndash;&gt;
                    <template v-if="orderInfo.shipmentType">
                        <template v-if="orderInfo.shipmentType == 1 ">
                            <span class="zhuangTai payment_method">个人支付 </span>
                        </template>
                        <template v-else>
                           <span class="zhuangTai payment_method"> 延期支付 </span>
                        </template>
                    </template>
                    <template v-else>
                        &lt;!&ndash;需要校验订单类型如果为协议订单默认为延期支付&ndash;&gt;
                        <template v-if="orderType == 1">
                            <span class="zhuangTai payment_method"> 延期支付 </span>
                        </template>
                        <template v-else>
                            <span class="zhuangTai payment_method">个人支付 </span>
                        </template>
                    </template>
                </template>
                <template v-if="orderInfo.paymentMethod == 1">
                    <span class="zhuangTai payment_method">个人支付</span>
                </template>
                <template v-else>
                    <span class="zhuangTai payment_method">企业支付</span>
                </template>

            </template>
            &lt;!&ndash;个人用户&ndash;&gt;
            <template v-else>
                <span class="zhuangTai payment_method">个人支付</span>
            </template>
        </div>-->
        <!--企业用户选择支付方式-->
         <!--<div class="payment" v-show="payDiv">
            <div class="select" v-cloak>
                <div class="company" @click="orderInfo.paymentMethod = 2 "><img :src="orderInfo.paymentMethod != 1 ? '  ../../img/yes-select.png' : '../../img/no-select.png' " alt="" />企业</div>
                <div class="person"  @click="orderInfo.paymentMethod = 1; orderInfo.shipmentType = 1"><img :src="orderInfo.paymentMethod == 1 ? '  ../../img/yes-select.png' : '../../img/no-select.png' " alt=""/>个人</div>
            </div >
            <div class="select_list" v-cloak>
                    <div>
                        <select class="company_pay" v-model="orderInfo.shipmentType">
                            <template v-if="orderInfo.paymentMethod == 1">
                                <option value="1">立即支付</option>
                            </template>
                            <template v-else>
                                <option value="1">立即支付</option>
                                <option value="2">延期支付</option>
                            </template>
                        </select>
                       协议订单有它自己的账期
                            <select class="delay_pay" v-model="orderInfo.payPeriod" v-show="orderInfo.shipmentType == 2">
                                <template v-if="submitInfo.orderType == 1">
                                <option selected="selected" :value="orderInfo.payPeriod">{{orderInfo.payPeriod}}天</option>
                                </template>
                                <template v-else>
                                    <option value="7">7天</option>
                                    <option value="15">15天</option>
                                    <option value="30">30天</option>
                                    <option value="45">45天</option>
                                    <option value="60">60天</option>
                                    <option value="75">75天</option>
                                    <option value="90">90天</option>
                                    <option value="120">120天</option>
                                    <option value="180">180天</option>
                                </template>
                            </select>
                    </div>
                    <div>
                </div>
            </div>
        </div>-->
</section>
    <!--审核信息-->
<section v-show="orderInfo.userType == 2 || orderInfo.userType == 3" v-cloak>
    <div class="shenHe" @click="gotoSetAuth">
        <span class="xinXi">审核信息</span>
        <span class="shenHeYe"></span>
        <span class="zhuangTai">
            <template v-if="auditInfo != ''">{{auditInfo.uname}}</template>
            <template v-else>不需要审核</template>
        </span>
    </div>
</section>
    <!--买家留言-->
<section>
    <div class="liuYan">
        <div class="biaoTi">买家留言</div>
        <textarea v-model="orderInfo.memo" maxlength="30"></textarea>
    </div>
</section>
<!-- {{orderInfo.myCart.payType}} -->
<div style="height: 0.84rem;"></div>
    <!--分期订单的底部-->
    <footer v-if="orderInfo.myCart.existCanAp && (orderInfo.shipmentType == 3 || orderInfo.shipmentType == 4 || orderInfo.shipmentType == 5) && orderInfo.myCart.payType == null">
        <div class="footer">
            <input type="button" style="background-color: #e60012;" class="button" value="立即下单" @click="orderSubmit">
            <span class="heJi" style="font-size: 0.24rem">
                <span style="display: inline-block;width: 1.6rem;text-align: right">
                  合计:<br>
                  <span style="font-size: 0.3rem">本次支付:</span>
                </span>
                <span style="display: inline-block;">
                  <span class="jiaGe" style="font-size: 0.24rem">￥{{orderInfo.myCart.payCoverNormalAndAp + orderInfo.myCart.totalFare  }}</span><br>
                  <span class="jiaGe">￥{{orderInfo.myCart.paymentPrice}}</span>
                </span>
            </span>
        </div>
    </footer>
    <footer v-if="orderInfo.myCart.existCanAp && (orderInfo.shipmentType == 3 || orderInfo.shipmentType == 4 || orderInfo.shipmentType == 5) && orderInfo.myCart.payType == 2">
        <div class="footer">
            <input type="button" style="background-color: #e60012;" class="button" value="立即下单" @click="orderSubmit">
            <span class="heJi" style="font-size: 0.24rem">
                <span style="display: inline-block;width: 1.6rem;text-align: right">
                  合计:<br>
                  <span style="font-size: 0.3rem">本次支付:</span>
                </span>
                <span style="display: inline-block;">
                  <span class="jiaGe" style="font-size: 0.24rem">￥{{orderInfo.myCart.payCoverNormalAndAp + orderInfo.myCart.totalFare  }}</span><br>
                  <span class="jiaGe">￥{{orderInfo.myCart.paymentPrice}}</span>
                </span>
            </span>
        </div>
    </footer>
    <!--正常订单的底部-->
    <footer v-show="(!orderInfo.myCart.existCanAp || (orderInfo.shipmentType != 3 && orderInfo.shipmentType != 4 && orderInfo.shipmentType != 5)) && orderInfo.myCart.payType == null">
        <div class="footer">
            <input type="button" style="background-color: #e60012;" class="button" value="立即下单" @click="orderSubmit">
            <span class="heJi">合计：<span class="jiaGe">￥{{orderInfo.myCart.payTotal + orderInfo.myCart.totalFare  }}</span></span>
        </div>
    </footer>
    <footer v-show="(orderInfo.myCart.existCanAp || (orderInfo.shipmentType != 3 && orderInfo.shipmentType != 4 && orderInfo.shipmentType != 5)) && orderInfo.myCart.payType == 1">
        <div class="footer">
            <input type="button" style="background-color: #e60012;" class="button" value="立即下单" @click="orderSubmit">
            <span class="heJi">合计：<span class="jiaGe">￥{{orderInfo.myCart.payTotal + orderInfo.myCart.totalFare  }}</span></span>
        </div>
    </footer>
<!--弹出窗-->
<div class="zheZhao" v-show="couponDialog" v-cloak>
<div class="lingQuan"  v-cloak>
        <p class="biaoTi">优惠券<span @click="couponDialog = !couponDialog"></span></p>
        <div class="quan">
            <template v-for="coupon  in orderInfo.avaliableCoupons">
            <div :class="getCouponType(coupon)">
                <div class="content">
                    <div class="zhuangtai"></div>
                    <p class="jine">
                        <template v-if="coupon.couponType == '1'">
                            ¥<span>{{coupon.couponAmount}}</span>
                        </template>
                        <template v-if="coupon.couponType == '2'">
                            <span>{{coupon.couponAmount}}</span>折
                        </template>
                        <template v-if="coupon.couponType == '3'">
                            ¥<span>{{coupon.couponAmount}}</span>
                        </template>
                    </p>
                    <p class="mingcheng">{{coupon.couponName}}</p>
                    <p class="riqi">至<span>{{coupon.couponEndTime | timestampFormat('YYYY.MM.DD')}}</span>截止</p>
                    <p class="shuliang">限领<span>{{coupon.allowGetNum}}</span>张</p>
                    <p class="qian">
                        <template v-if="coupon.couponType == '1'">
                            满{{coupon.meetPrice}}元可用
                        </template>
                        <template v-if="coupon.couponType == '2'">
                            最高抵扣{{coupon.couponMax}}元
                        </template>
                        <template v-if="coupon.couponType == '3'">
                            无门槛
                        </template>
                    </p>
                    <!--是否过期、领取、领完-->
                    <template v-if="coupon.state == '2' || coupon.state == '3'">
                        <img src="../../img/yiguoqi@3x.png" alt="" id="yiguoqi"/>
                    </template>
                    <template v-else-if="coupon.isGet=='true'">
                        <img src="../../img/yilingqu@3x.png" alt="" style="display: block;" class="yilingqu"/>
                    </template>
                    <template v-else-if="coupon.state=='7'">
                        <img src="../../img/yilingwan@3x.png" alt="" id="yilingwan"/>
                    </template>
                </div>
                <div class="leibie">
                    <div @click="useConpon(coupon)" :class="submitInfo.couponUserId == coupon.couponUserId ? 'coupon_already_checked' : 'coupon_click_use'">
                        <template v-if="submitInfo.couponUserId == coupon.couponUserId">
                            已选择
                        </template>
                        <template v-else>
                            点击使用
                        </template>
                    </div>
                </div>
            </div>

            </template>
            <template v-for="coupon  in orderInfo.unavaliableCoupons">
                <div :class="getCouponType(coupon)">
                    <div class="content">
                        <div class="zhuangtai"></div>
                        <p class="jine">
                            <template v-if="coupon.couponType == '1'">
                                ¥<span>{{coupon.couponAmount}}</span>
                            </template>
                            <template v-if="coupon.couponType == '2'">
                                <span>{{coupon.couponAmount}}</span>折
                            </template>
                            <template v-if="coupon.couponType == '3'">
                                ¥<span>{{coupon.couponAmount}}</span>
                            </template>
                        </p>
                        <p class="mingcheng">{{coupon.couponName}}</p>
                        <p class="riqi">至<span>{{coupon.couponEndTime | timestampFormat('YYYY.MM.DD')}}</span>截止</p>
                        <p class="shuliang">限领<span>{{coupon.allowGetNum}}</span>张</p>
                        <p class="qian">
                            <template v-if="coupon.couponType == '1'">
                                满{{coupon.meetPrice}}元可用
                            </template>
                            <template v-if="coupon.couponType == '2'">
                                最高抵扣{{coupon.couponMax}}元
                            </template>
                            <template v-if="coupon.couponType == '3'">
                                无门槛
                            </template>
                        </p>
                        <img src="../../img/yilingqu@3x.png" alt="" class="yilingqu">
                    </div>
                    <div class="leibie">
                        <div  class="coupon_click_use">
                           不可使用
                        </div>
                    </div>
                </div>

            </template>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/request.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery.cookie.js"></script>
<script type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/cookieUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/moment.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/popup.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/jsonUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/mathUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/StorageUtil.js"></script>
<script type="text/javascript" src="../../../lib/common.js"></script>
<script type="text/javascript" src="../../js/popup.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/vueFilter.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/vueDirective.js"></script>
<script charset="utf-8" type="text/javascript" src="../commonScript/shopCoupon.js"></script>
<script type="text/javascript" src="../../js/16_dingDanHeDui/dingDanHeDui.js"></script>
<script charset="UTF-8" type="text/javascript" src="script/orderView.js"></script>

</body>
</html>
