<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>去支付</title>
    <link rel="stylesheet" href="../../../css/common.css">
    <link rel="stylesheet" href="../../css/common1.css">
    <link rel="stylesheet" href="../../css/16_dingDanHeDui/quZhiFu.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script type="text/javascript" src="../../../lib/adjust.js"></script>
</head>
<body>
<div id="pay">
<header>
    <div class="header">
        <!--<template v-if="payFormParams.orderNo && payFormParams.orderNo.indexOf('K')==-1">
            <a href="javascript:;" @click="gotoOrderCenter()" class="return"></a>去支付
        </template>
        <template v-else>
            <a href="javascript:;" @click="gotoQuickOrder()" class="return"></a>去支付
        </template>-->
        <a href="javascript:history.back(-1);" class="return"></a>去支付
    </div>
</header>
<div class="zhanwei"></div>
    <!--支付标题头-->
<section>
    <div class="shouyin">
        <a href="../../html/1_index/index.html"><img src="../../img/zhiFu.png" alt="" class="zhiFuLoGo"/></a>
        <p style="border-right:1px solid #c9c9c9;height: 0.7rem;float: left;margin-top: 0.24rem;margin-right: 0.2rem;"></p>
         <a href="javascript:;"><img src="../../img/payDeskLogo1.png" alt=""  class="shouYinTai"/>
             <p style="font-size: 0.26rem;margin-top: 0.45rem;float: left;margin-left: 0.1rem;">收银台</p>
         </a>
    </div>
</section>

<section>
    <div class="xuanze">
        <!--<div class="xuanze-b" v-cloak>订单号：<i><span>{{payFormParams.orderNo}}</span></i></div>-->
        <template v-if="payFormParams.orderInfo && payFormParams.orderInfo.parentOrderId != 0 && (payFormParams.orderInfo.shipmentType == 3 || payFormParams.orderInfo.shipmentType == 4 || payFormParams.orderInfo.shipmentType == 5)">
            <template v-if="params.orderApItemId">  <!--url中如果有orderApItemId 应付的分期id，那就循环出来这一期应付的钱-->
                <template v-for="onePeriod in payFormParams.orderInfo.orderApInfo[0].orderAccountPeriodItemDTOs">
                    <template v-if="onePeriod.id==params.orderApItemId">
                        <div class="xuanze-b" v-cloak>应付金额：<i>￥<span>{{onePeriod.apPayTotal}}</span></i></div>
                    </template>
                </template>
            </template>
            <template v-else> <!--url中如果没有orderApItemId 应付的分期id，那就是该付第一期了-->
                <div class="xuanze-b" v-cloak>应付金额：<i>￥<span>{{payFormParams.orderInfo.orderApInfo[0].firstItem.apPayTotal}}</span></i></div>
            </template>
        </template>
        <template v-else>
            <div class="xuanze-b" v-cloak>应付金额：<i>￥<span>{{payFormParams.totalPrice}}</span></i></div>
        </template>
        <div class="xuanze-c orderDetileBtn" v-cloak>
            <template v-if="payFormParams.allOrderInfo && payFormParams.allOrderInfo.length && payFormParams.allOrderInfo.length > 1">
                合并｜<span>{{payFormParams.allOrderInfo.length}}</span>件订单
            </template>
            <template v-else>订单详情</template>
            <img src="../../img/xiangxia@3x.png" alt="" class="fr mar_t20 mar_r20 orderDetImg" style="height:0.3rem;width: 0.3rem;">
        </div>
    </div>

    <div class="dingDanHao bg_fff font_22" style="display: none">
        <template v-for="order in payFormParams.allOrderInfo">
            <div class=" font_24 bg_f4f4f4 height_60 pad_l20">
                <span >订单号：</span>
                <span >{{order.orderNo}}</span>
            </div>
            <div class="mar_t20">
                <span class="pad_l20 ver_top">卖家公司：</span>
                <span class="font_26 rightValue">{{order.comepanyName}}</span>
            </div>
            <div class="mar_t20">
                <span class="pad_l20">商品明细：</span>
                <span class="font_26 rightValue">
                    <template v-if="order.childrenOrderSize >= 2">
                        {{order.itemName + "等多件"}}
                    </template>
                    <template v-else>
                        {{order.itemName}}
                    </template>
                </span>
            </div>
            <div class="mar_t20 pad_b20">
                <span class="pad_l20">金&emsp;&emsp;额：</span>
                <template v-if="payFormParams.orderInfo && payFormParams.orderInfo.parentOrderId != 0 && (payFormParams.orderInfo.shipmentType == 3 || payFormParams.orderInfo.shipmentType == 4 || payFormParams.orderInfo.shipmentType == 5) && payFormParams.orderInfo.orderApInfo">
                    <span class="font_26 rightValue">￥{{payFormParams.orderInfo.orderApInfo[0].allPayPirce}}</span>
                </template>
                <template v-else>
                    <span class="font_26 rightValue">￥{{order.payPrice}}</span>
                </template>
            </div>
            <template v-if="payFormParams.orderInfo && payFormParams.orderInfo.parentOrderId != 0 && (payFormParams.orderInfo.shipmentType == 3 || payFormParams.orderInfo.shipmentType == 4 || payFormParams.orderInfo.shipmentType == 5)">
                <div class=" pad_b20">
                    <span class="pad_l20">本期支付：</span>
                    <template v-if="params.orderApItemId">  <!--url中如果有orderApItemId 应付的分期id，那就循环出来这一期应付的钱-->
                        <template v-for="onePeriod in payFormParams.orderInfo.orderApInfo[0].orderAccountPeriodItemDTOs">
                            <template v-if="onePeriod.id==params.orderApItemId">
                                <span class="font_26 rightValue">￥{{onePeriod.apPayTotal}}</span>
                            </template>
                        </template>
                    </template>
                    <template v-else> <!--url中如果没有orderApItemId 应付的分期id，那就是该付第一期了-->
                        <span class="font_26 rightValue">￥{{payFormParams.orderInfo.orderApInfo[0].firstItem.apPayTotal}}</span>
                    </template>
                </div>
            </template>
        </template>
    </div>
     <template v-if="payFormParams.orderNo && payFormParams.orderNo.indexOf('K')==-1">
    <div class="font_26 color_666 pad_20 bg_fff bordert_ccc" v-cloak>
        <span class="inline_block " style="vertical-align: top;">收货地址：</span>
        <span class="inline_block color_333" style="width: 4.5rem">{{payFormParams.orderInfo.fullAddress}}{{payFormParams.userHasPayPass}}</span>
    </div>
    </template>
    <div class="mar_t20 bg_fff over_hide" style="padding: 0.2rem 0" id="paymentType">
        <span class="mar_r20 currentBtn">线上支付</span>
        <template v-if="!payFormParams.isContainsPeriod">
	        <span class="mar_r20" id="transferPay">转账支付</span>
        </template>
    </div>
    <div id="paymentTypeContent">
        <!--线上支付-->
        <div class="bordert_ccc bg_fff" style="padding: 0.2rem 0;">
            <p class="font_26  pad_l20" style="line-height: 0.48rem;">小印支付</p>
            <template v-if="payFormParams.userPay == '2'">
                <p class="text_cen font_26 color_333" style="padding: 0.3rem 0">
                    小印支付账户余额：<span class="color_e60012 font_30">￥{{payFormParams.balance}}</span>
                </p>
                <!--判断余额是否充足-->
                <template v-if="payFormParams.enoughFlag">
                    <!--这是余额充足-->
                    <div style="padding: 0 0.2rem;" class="font_26">
                        <div style="background-color: #f8f8f8;">
                            <div class="text_cen" style="padding:0.3rem 0">
                                <template v-if="userInfo.isHavePayPassword == 1">
                                    <img src="../../img/lv@3x.png" style="width: 0.4rem;display: inline-block;vertical-align: top" alt="">
                                    <span style="display:inline-block;line-height: 0.4rem;">
                                        您在安全的环境中，请放心使用！
                                    </span>
                                    <div class="inputPassword mar_t20">小印支付密码: <input type="password" id="paypassword"><i class="see img01"></i></div>
                                    <p style="text-align: right">
                                        <a href="../../html/2_login_sign/zhaoHuiMiMa.html" class="forget">忘记密码？</a>
                                    </p>

                                    <br>

                                    <p style="text-align: center;">
                                        <span class="yellowBtn" style="padding: 0 0.4rem" @click="gotoMyOrder">取 消</span>
                                        <span class="redBtn" style="margin-left: 0.4rem;" @click="pay">确认付款</span>
                                    </p>
                                </template>
                                <template v-else>
                                    <span class="font_26">很抱歉您还未设置支付密码，请设置后再完成订单支付</span><br/>
                                    <span class="yellowBtn"><a href="../../html/12_maiJiaZhongXin/6_anQuanXinXiSheZhi_sheZhiZhiFuMiMa.html">去设置</a></span>
                                </template>

                            </div>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <!--这是余额不足-->
                    <div style="padding: 0 0.2rem;" class="font_26">
                        <div style="background-color: #f8f8f8;">
                            <div class="text_cen" style="padding:0.3rem 0.3rem">
                                <img src="../../img/jingGao.png" style="width: 0.4rem;display: inline-block;vertical-align: top" alt="">
                                <span style="display:inline-block;color: #fc8700;width: 4.8rem;line-height: 0.4rem;">
                            很抱歉您的账户余额不足，无法完成支付 <br> 请您充值后付款。
                        </span>
                                <span class="yellowBtn mar_t30" @click="printRechargeCertificates(payFormParams.orderNo)">生成充值申请单</span>
                                <span class="redBtn mar_l30 mar_t30" @click="gotoCharge">去充值</span>
                            </div>
                        </div>
                    </div>
                </template>

            </template>
            <!--这是个人用户未认证-->
            <template v-if="payFormParams.userPay == '1'">
                <div style="padding: 0.2rem 0.2rem 0;line-height: 0.46rem;" class="font_26">
                    <div>
                        很抱歉，您还未开通小印支付服务，请先完成认证再开通服务。
                        <a href="javascript:;" class="color_e60012">请前往pc端进行认证。</a> <br>
                        <span class="font_24 color_333">
                  专为企业线上交易而生，每一分钱均有据可循（提供每笔交易银行回执单），资金交易安全有保障，线上交易就选小印支付！
                 <span class="color_e60012 lookLicense">查看资质>></span>
                </span>

                    </div>
                </div>
            </template>

            <p style="height: 0.2rem;width: 100%" class="bordert_ccc mar_t20"></p>
            <p class=" font_26  pad_l20 " style="line-height: 0.48rem;">其他支付</p>
            <div class="otherPay over_hide text_cen">
                <img src="../../img/wxlogo@3x.png" alt="" @click="payOrderByPersonal('wx')">
                <span style="display:inline-block;height: 0.5rem;width: 1px;background-color: #cccccc;"></span>
                <img src="../../img/zflogo@3x.png" alt="" @click="payOrderByPersonal('zfb')">
                <span style="display:inline-block;height: 0.5rem;width: 1px;background-color: #cccccc;"></span>
                <img src="../../img/jdlogo@3x.png" alt="" @click="payOrderByPersonal('wnzx')">
            </div>
        </div>
        <!--转账支付-->
        <div class="bordert_ccc bg_fff" style="padding: 0.2rem;display: none;">
            <p class="font_28 color_333 lh-50">输入支付密码即可选择转账支付，无需充值一步完成订单货款交易！</p>
            <p class="font_24 color_666 lh-50">您可在下一步查看【付款示例】了解操作详情。</p>
            <template v-if="userInfo.isHavePayPassword == 1">
                <div class="bg_f8f8f8">
                    <div class="inputFile">
                        <span class="font_22 color_666">小印支付密码:</span>
                        <input type="password" class="" v-model = "payPass">
                        <i class="see img01"></i>
                    </div>
                    <p class="forget" style="text-align:right;margin: 0.1rem 0.2rem 0.2rem 0;"><a href="../../html/2_login_sign/zhaoHuiMiMa.html">忘记密码</a></p>
                    <p style="text-align: center;font-size:0;padding-bottom:0.3rem;">
                        <!--<span class="yellowBtn openPaymentExample" style="margin-right:0.3rem;">查看付款示例</span>-->
                        <span class="redBtn" @click="clickTransferOrder()">确认使用转账付款</span>
                    </p>
                </div>
            </template>
            <template v-else>
                <div class="bg_f8f8f8" style="margin-top: 0.3rem;">
                    <div class="inputFile">
                        <span class="font_24 color_333">很抱歉您还未设置支付密码，请设置后再完成订单的支付</span>
                    </div>
                    <p style="text-align: center;font-size:0;padding-bottom:0.3rem;">
                        <span class="yellowBtn"><a href="../../html/12_maiJiaZhongXin/6_anQuanXinXiSheZhi_sheZhiZhiFuMiMa.html">去设置</a></span>
                    </p>
                </div>
            </template>
        </div>
    </div>
</section>
    <div class="zhezhao licenceWin" style="display: none;">
        <div class="con">
            <img alt="" src="../../img/ckzz.jpg" class="bigLicense">
            <i class="close"></i>
        </div>
    </div>
    <!--操作引导-->
    <div class="lead popUp">
        <div class="popup">
            <div class="first_step lead_step">
                <img src="../../img/1.png" alt=""  style="width: 6rem;height: 2.75rem;">
                <img src="../../img/xiayibu.png" alt="" class="mar_cen" style="width: 1.5rem;height: 0.66rem;" onclick="show_hide('.first_step','.second_step')">
            </div>
            <div class="second_step lead_step">
                <img src="../../img/2.png" alt=""  style="width:3.25rem;height: 1.99rem;">
                <img src="../../img/xiayibu.png" alt="" class="mar_cen" style="width: 1.5rem;height: 0.66rem;"onclick="show_hide('.lead','','first');unClockedBody();">
            </div>
        </div>
    </div>
    <!--未绑定邮箱-->
    <div class="unboundMailbox popUp">
        <div class="popup popup_close"></div>
        <div class="unboundMailboxContent">
            <p class="text_cen font_22 color_666 lh-50">邮箱确认</p>
            <p class="text_cen font_26 color_333 lh-50">您还未绑定邮箱<br>请输入正确的邮箱接收付款申请单</p>
            <input type="text" class="inputEmail" v-model="newEmail">
            <div class="line"></div>
            <div class="text_cen" style="font-size: 0;">
                <span class="redBtn mar_r20 makeSure" style="height: 0.48rem;line-height:0.48rem;width: 1.2rem;padding: 0;" @click="makeSure('add')">确定</span>
                <a href="javascript:;" class="font_24 color_666 popup_close">选择其他付款方式</a>
            </div>
        </div>
    </div>
    <!--确认邮箱-->
    <div class="confirmEmail popUp">
        <div class="popup popup_close"></div>
        <div class="confirmEmailContent">
            <p class="text_cen font_22 color_666 lh-50">邮箱确认</p>
            <p class="text_cen font_26 color_333 lh-50">请确认邮箱（邮箱用来接收付款凭证文件）<br>{{payFormParams.userEmail}}</p>
            <div class="line"></div>
            <div class="text_cen" style="font-size: 0;">
                <span class="yellowBtn popup_close modify" style="height: 0.48rem;line-height:0.48rem;width: 1.2rem;padding: 0;margin-right:0.6rem;">去修改</span>
                <span class="redBtn mar_r20 makeSure" style="height: 0.48rem;line-height:0.48rem;width: 1.2rem;padding: 0;" @click="makeSure('noChange')">确定</span>
            </div>
        </div>
    </div>
    <!--修改邮箱-->
    <div class="modifyMailbox popUp">
        <div class="popup popup_close"></div>
        <div class="cmodifyMailboxContent">
            <p class="text_cen font_22 color_666 lh-50">邮箱确认</p>
            <p class="text_cen font_26 color_333 lh-50">请输入正确的邮箱接收付款申请单</p>
            <input type="text" class="inputEmail" v-model="newEmail">
            <div class="line"></div>
            <div class="text_cen" style="font-size: 0;">
                <span class="redBtn mar_r20 makeSure" style="height: 0.48rem;line-height:0.48rem;width: 1.2rem;padding: 0;" @click="makeSure('change')">确定</span>
                <a href="javascript:;" class="font_24 color_666 popup_close">选择其他付款方式</a>
            </div>
        </div>
    </div>
    <!--免责声明-->
    <div class="disclaimer popUp">
        <div class="popup popup_close"></div>
        <div class="disclaimerContent">
            <a href="javascript:;" class="closed popup_close"></a>
            <h3>免责声明</h3>
            <p>
                1.本公司提醒您认真阅读、充分理解本声明条款，如您不同意接受本声明的任何内容，或者无法准确理解相关条款含义的，请不要进行后续操作。<br>
                2.您确认在您使用转账时接受本公司的声明，一旦您使用支付转账付款，即表示您同意遵循本声明之所有约定。<br>
                3.如果您对本声明有任何疑问，请通过我公司的客服渠道4006-770-878转3进行询问。<br>
                4.您的资金将按您选择的转账方式汇出，具体到账时间取决于收款方系统。<br>
                5.转账填写开户行网点信息时，其正确性有可能影响您的到账，请您尽量核实其准确性。<br>
                6.请确保转账金额和订单金额完全一致。若转账金额大于订单总金额，如需退回多余资金，请先联系客服人员；若转账金额小于订单总金额，您需补足剩余的订单金额完成订单的支付。<br>
                7.请确保将交易编码正确填写在转账摘要里。交易编码填写错误或不填写均会导致转账失败，请及时通过我公司的客服渠道4006-770-878和我们联系 。
            </p>
            <div class="sure">
                <span class="yellowBtn popup_close" style="margin-right:0.6rem;" @click="makeSureType=''">不同意</span>
                <span class="redBtn mar_r20 popup_close" @click="submitTransOrder()">同意</span>
            </div>
        </div>
    </div>

    <!--wx支付去支付-->
    <div style="display: none">
        <form id="payform" action="" method="post">
        </form>
    </div>
</div>
<script src="../../bower_components/jquery-2.1.4.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/request.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery.cookie.js"></script>
<script type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/cookieUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/vueUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/moment.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/popup.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/jsonUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/mathUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/StorageUtil.js"></script>
<script type="text/javascript" src="../../../lib/common.js"></script>
<script type="text/javascript" src="../../js/popup.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/vueFilter.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/vueDirective.js"></script>
<script src="../../js/16_dingDanHeDui/quZhiFu.js"></script>
<script charset="UTF-8" type="text/javascript" src="script/pay.js"></script>
</body>
</html>
