<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>审核信息修改</title>
    <link rel="stylesheet" href="../../../css/common.css">
    <link rel="stylesheet" href="../../css/16_dingDanHeDui/faPiaoXinXi.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script type="text/javascript" src="../../../lib/adjust.js"></script>
</head>
<body>
<div id="orderAuth">
<!--头部开始-->
<header>
    <div class="header">
        <a href="javascript:void(0)" @click="orderChecked" class="return"></a>审核信息
    </div>
    <div class="xuanXiangKa xuanXiangKa2">
        <ul>
            <li :class="submitType == 1 ? 'on' : ''" @click="submitType = 1">不需要审核</li>
            <li :class="submitType == 2 ? 'on' : ''" @click="submitType = 2">需要审核</li>
        </ul>
    </div>
    <div class="zhanwei"></div>
</header>
<section>
    <div class="tab_box">
        <div class="div1" v-show="submitInfo.authId == null || submitInfo.authId == '' " v-cloak>此订单不需要审核</div>
        <div class="div2" v-show="submitInfo.authId != null && submitInfo.authId != '' && typeof(submitInfo.authId) != undefined " v-cloak>
            <h2>请选择审核人：</h2>
            <template v-for="auth in  authList">
                <template v-if="userInfo.uid != auth.userId">
                    <p><label><input type="radio" name="shenHeRen" :value="auth.userId"  v-model="submitInfo.authId"/>{{auth.username}}</label></p>
                </template>
            </template>
        </div>
    </div>
</section>
<footer>
    <div class="btn"><input type="button" value="确   定" @click="gotoOrderView"/></div>
</footer>
</div>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/common.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/jsonUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/request.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/popup.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/16_dingDanHeDui/shenHeXinXi.js"></script>
<script charset="UTF-8" type="text/javascript" src="script/orderAuth.js"></script>
</body>
</html>
