body {
    font-size: 0.24rem;
}

.header {
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    text-align: center;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    font-size: 0.3rem;
    color: #333;
    border-bottom: 0.01rem solid #E8E8E8;
}

.header a.fanHui {
    width: 0.44rem;
    height: 0.44rem;
    background: url("../../img/return.png") no-repeat;
    background-size: 0.2rem 0.3rem;
    position: absolute;
    left: 0.2rem;
    top: 0.3rem;
}

.header a.searchBtn {
    width: 0.44rem;
    height: 0.44rem;
    background: url("../../img/sousuo@3x.png") no-repeat;
    background-size: 0.3rem 0.3rem;
    background-position: right top;
    position: absolute;
    right: 0.2rem;
    top: 0.3rem;
}

/*������*/
.scroll {
    width: 100%;
    height: 0.7rem;
    background-color: #fff;
    position: fixed;
    top: 0.88rem;
    left: 0;
    border-bottom: 0.01rem solid #E8E8E8;
    z-index: 9;
    box-sizing: content-box;
    padding-left: 0.05rem;
}

.box {
    width: 4.84rem;
    height: 0.7rem;
    float: left;
    position: relative;
    overflow: hidden;
}

.scroll_list {
    position: absolute;
    left: 0;
    width: 10rem;
}

.scroll li {
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.24rem;
    color: #666;
    float: left;
    width: 1.11rem;
    text-align: center;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    margin-right: 0.1rem;
    list-style: none;
}

.scroll .on {
    color: #e60012;
    border-bottom: 1px solid #e60012;
}

.scroll .arrow-right {
    width: 0.11rem;
    height: 0.21rem;
    background: url("../../img/shangPin_arrow.png") no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-top: 0.25rem;
}

/*�л�����*/

.dingDan {
    background-color: #fff;
    width: 100%;
    margin-top: 0.2rem;
}

.dianPu {
    height: 0.6rem;
    border-bottom: 1px solid #ccc;
    padding: 0 0.2rem;
    line-height: 0.6rem;
    position: relative;
}

.dianPu .name {
    float: left;
    font-size: 0.22rem;
    color: #333;
}

.dianPu .zhuangTai {
    float: right;
    font-size: 0.24rem;
    color: #e60012;
}

.xiangQing {
    display: block;
}

.xiangQing .top {
    padding: 0.2rem;
    border-bottom: 1px solid #e8e8e8;

}

.contentKey {
    width: 35%;
    float: left;
    margin-top: 0.03rem;
    text-align: right;
    color: #666666;
}

.contentValue {
    width: 65%;
    font-size: 0.28rem;
    float: left;
}

.top .contentLeft {
    width: 75%;
    float: left;
}

.top .contentRight {
    width: 25%;
    float: right;
    padding-top: 0.6rem;
    text-align: right;
}

.xiangQing .bottom {
    border-bottom: 1px solid #e8e8e8;
    text-align: right;
    font-size: 0.24rem;
    color: #666;
    padding: 0.2rem 0.2rem;
}

.xiangQing .bottom span {
    font-size: 0.26rem;
    color: #e60012;
}

.caoZuo {
    height: 0.88rem;
    font-size: 0.24rem;
    padding-right: 0.2rem;
}

.caoZuo input[type=button] {
    width: 1.2rem;
    height: 0.48rem;
    font-size: 0.24rem;
    color: #666;
    float: right;
    border: 1px solid #ccc;
    border-radius: 0.05rem;
    background-color: #fff;
    margin: 0.2rem 0 0 0.2rem;
}

.caoZuo input.on {
    border: 1px solid #e60012;
    color: #e60012;
}

.orderGrayBtn {
    display: inline-block;
    text-align: center;
    /*width: 1.2rem;*/
    height: 0.48rem;
    padding: 0 0.1rem;
    line-height: 0.46rem;
    font-size: 0.24rem;
    color: #666;
    float: right;
    border: 1px solid #ccc;
    border-radius: 0.05rem;
    background-color: #fff;
    margin: 0.2rem 0 0 0.1rem;
}

.orderRedBtn {
    display: inline-block;
    text-align: center;
    /*width: 1.2rem;*/
    height: 0.48rem;
    padding: 0 0.1rem;
    line-height: 0.46rem;
    font-size: 0.24rem;
    color: #e60012;
    float: right;
    border: 1px solid #e60012;
    border-radius: 0.05rem;
    background-color: #fff;
    margin: 0.2rem 0 0 0.1rem;
}
.caoZuo .orderGrayBtn:last-child{
    margin-left:0rem;
}
.xiangQing .border-none {
    border-bottom: none;
}

/*printHome*/
.printHome {
    font-size: 0.22rem;
    color: #999;
    text-align: center;
    height: 0.5rem;
    line-height: 0.5rem;
}

/*����*/
.zhezhao, .zhezhao2, .zhezhao3, .zhezhao4, .zhezhao5 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.zhezhao .con {
    width: 4rem;
    height: 2.01rem;
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1rem;
    margin-left: -2rem;
    border-radius: 0.05rem;
}

.con h5, .content h5 {
    height: 0.6rem;
    line-height: 0.6rem;
    color: #666;
    font-size: 0.22rem;
    text-align: center;
    font-weight: normal;
}

.con p {
    height: 0.5rem;
    color: #333;
    font-size: 0.28rem;
    text-align: center;
}

.con .dashLine {
    width: 3.35rem;
    height: 1px;
    border: 1px dashed #ccc;
    margin: 0 auto 0.2rem;
}

.zhezhao span, .zhezhao2 span {
    width: 1.2rem;
    height: 0.48rem;
    line-height: 0.48rem;
    border-radius: 0.05rem;
    display: inline-block;
    color: #fff;
    font-size: 0.3rem;
    vertical-align: top;
}

.zhezhao span.liuZhe, .zhezhao2 span.liuZhe {
    background: #e60012;
}

.zhezhao span.queDing, .zhezhao2 span.queDing {
    background: #f39700;
    margin-right: 0.5rem;
}

.zhezhao3 .content {
    width: 4.5rem;
    height: 3.02rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.51rem;
    margin-left: -2.25rem;
    border-radius: 0.05rem;
    font-size: 0;
}

.content p {
    height: 0.4rem;
    padding-left: 0.2rem;
    font-size: 0.22rem;
    color: #e60012;
}

.content .miMa {
    width: 4.1rem;
    height: 0.58rem;
    border: 1px solid #ccc;
    border-radius: 0.05rem;
    color: #333;
    font-size: 0.2rem;
    padding-left: 0.1rem;
    display: block;
    margin: 0 auto;
}

.content input[type=text]::-webkit-input-placeholder {
    color: #999;
}

.content a {
    color: #e60012;
    font-size: 0.24rem;
    float: right;
    margin: 0.1rem 0;
}

.content div {
    text-align: center;
}

.content div input {
    width: 1.7rem;
    height: 0.48rem;
    border-radius: 0.05rem;
    color: #fff;
    font-size: 0.3rem;
    background-color: #e60012;
}

.content div input.cancel {
    margin-right: 0.5rem;
    background-color: #f39700;
}

.yanQiTiShi {
    width: 4rem;
    height: 0.6rem;
    text-align: center;
    line-height: 0.6rem;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -0.3rem;
    margin-left: -2rem;
    display: none;
    font-size: 0.24rem;
    color: #fff;
    border-radius: 0.05rem;
}

/*lk写的输入支付密码弹窗*/
#confirm_receipt_notice .con p {
    height: 0.4rem;
    padding-left: 0.2rem;
    font-size: 0.22rem;
    color: #e60012;
}

#confirm_receipt_notice .con .miMa {
    width: 4.1rem;
    height: 0.58rem;
    border: 1px solid #ccc;
    border-radius: 0.05rem;
    color: #333;
    font-size: 0.2rem;
    padding: 0 0.6rem 0 0.1rem;
    display: block;
    margin: 0 auto;
    background: none;
}

#confirm_receipt_notice div .img01 {
    background: url("../../img/eyes1.png") no-repeat;
    background-size: 100% 50%;
}

#confirm_receipt_notice .con a {
    color: #e60012;
    font-size: 0.24rem;
    float: right;
    margin: 0.1rem 0;
}

#confirm_receipt_notice .con div input.cancel {
    margin-right: 0.5rem;
    background-color: #f39700;
}

#confirm_receipt_notice .con div {
    text-align: center;
    position: relative;
}

#confirm_receipt_notice .con div input {
    width: 1.7rem;
    height: 0.48rem;
    border-radius: 0.05rem;
    color: #fff;
    font-size: 0.3rem;
    background-color: #e60012;
}

#confirm_receipt_notice .con {
    width: 4.5rem;
    height: 3.02rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.51rem;
    margin-left: -2.25rem;
    border-radius: 0.05rem;
    font-size: 0;
}

.delOrder .con {
    width: 4rem;
    height: 2.01rem;
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1rem;
    margin-left: -2rem;
    border-radius: 0.05rem;
}

#confirm_receipt_notice div i {
    width: 0.4rem;
    height: 0.26rem;
    position: absolute;
    top: 0.2rem;
    right: 0.3rem;
}

#confirm_receipt_notice div .img02 {
    background: url("../../img/eyes.png") no-repeat;
    background-size: 100% 100%;
    top: 0.15rem;
}

/*lk写的订单管理的订单搜索*/
.suoSou {
    padding: 0.2rem 0 0 0;
    overflow: hidden;
    margin-bottom: 0.2rem;
}

.suoSou p {
    font-size: 0.22rem;
    color: #666;
    margin-bottom: 0.2rem;
    overflow: hidden;
}

.suoSou p span {
    display: inline-block;
    width: 1.54rem;
    text-align: right;
    padding-left: 0.1rem;
}

.suoSou p input {
    width: 4.5rem;
    height: 0.6rem;
    border: 1px solid #ccc;
    padding-left: 0.1rem;
    border-radius: 0.05rem;
    font-size: 0.24rem;
}

.suoSou p input[type=date] {
    width: 2.15rem;
    height: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 0.05rem;
    font-size: 0.24rem;
}

.suoSou p .reset {
    width: 1.8rem;
    height: 0.68rem;
    border: 1px solid #e60012;
    text-align: center;
    line-height: 0.68rem;
    display: inline-block;
    border-radius: 0.05rem;
    font-size: 0.3rem;
    color: #e60012;
}

.suoSou p .search {
    width: 1.8rem;
    height: 0.68rem;
    background-color: #e60012;
    text-align: center;
    line-height: 0.68rem;
    display: inline-block;
    border-radius: 0.05rem;
    font-size: 0.3rem;
    color: #fff;
    margin-left: 0.93rem;
}

.suoSou select {
    width: 2.15rem;
    height: 0.6rem;
    border: 1px solid #ccc;
    padding-left: 0.1rem;
    border-radius: 0.05rem;
    font-size: 0.24rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    width: 2rem;
    height: 0.78rem;
    background-color: #e60012;
    color: #fff;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.78rem;
    border-radius: 0.05rem;
    margin-left: 0.8rem;

}

.resetSearch {
    background-color: #fff;
    border: 1px solid #e60012;
    color: #e60012;
}

/*cgl为快速订单加的*/
.childOrders {
    display: none;
}

.newOrder {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.28rem;
    text-align: center;
    z-index: 5;
    border-top: 1px solid #F4F4F4;
}

.childOrder {
    font-size: 0.22rem;
    color: #999;
    padding: 0.2rem;
    background-color: #F4F4F4;
    border-bottom: 1px solid #dadada;
}

.orderName {
    display: inline-block;
    width: 1.2rem;
    text-align: right;

}

.orderNum {
    color: #333333;
}

.orderMoney {
    padding-left: 1.2rem;
    color: #e60012;
    margin-top: 0.1rem;
}

.creatTime {
    margin-top:0.1rem;
    text-align: right;
    color: #999;
}

.orderSearch {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: none;
}

.contentLeft .oneConFir {
    overflow: hidden;
}

.contentLeft .oneCon {
    overflow: hidden;
    margin-top: 0.1rem;
}

.suoSou p span.selBtnWrap {
    display: inline-block;
    width: 4.6rem;
    text-align: left;
    padding-left: 0;
    font-size: 0.24rem;
}

.selBtnWrap img {
    display: inline-block;
    vertical-align: middle;
    height: 0.25rem;
    width: 0.25rem;
    margin-top: -0.05rem;
}

.suoSou p span.rowBtnWrap {
    display: inline-block;
    width: 4.6rem;
    text-align: left;
    padding-left: 0;
}

.xiala {
    display: inline-block;
    margin-left: 0.1rem;
    width: 0.24rem;
    height: 0.14rem
}