.dianPu .name {
    float: none;
}

.totalMoney {
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8;
    font-size: 0.24rem;
    color: #666;
    padding: 0.2rem 0;
}

.totalMoney .totalLeft {
    display: inline-block;
    width: 1.4rem;
    text-align: right;
}

.orderGrayBtn {
    margin: 0.1rem 0.2rem 0 0;
}

.xiangQing .top {
    border-bottom: 1px solid #e8e8e8;

}

.top .contentRight {
    color: #666
}

.creatStatement {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e60012;
    font-size: 0.3rem;
    text-align: center;
    width: 3rem;
    height: 0.88rem;
    color: white;
}

.newOrder {
    display: block;
    text-align: left;
}

.selAll {
    width: 0.35rem;
    height: 0.35rem;
    margin-top: -0.1rem;
    margin-left: 0.2rem;
}
/*订单列表页*/
.oneStatement{
    overflow: hidden;
    background-color: #fff;
    margin-top:0.2rem;
}
.OneStatementHead{
    padding:0.2rem;
    overflow: hidden;
    border-bottom: 1px solid #F4F4F4;
}
.OneStatementHeadL{
    float: left;
    margin-top:0.15rem;
}
.OneStatementHeadR{
    float: right;
    text-align: right;
    color:#999999;
    font-size: 0.22rem;
}
.statementCon{
    overflow: hidden;
    padding: 0.2rem;
    border-bottom: 1px solid #F4F4F4;
}
.oneConFir{
    overflow: hidden;
}
.oneCon{
    overflow: hidden;
    margin-top:0.1rem;
}
.oneStatement .contentKey{
    width: 1.2rem;
}
.oneStatement .contentValue{
    width: auto;
}
.totalCon .totalConLeft{
    font-size: 0.24rem;
    color: #666666;
}
.totalCon{
    text-align: right;
    padding: 0.2rem;
}
.totalCon p{
    margin-top:0.1rem;
}
.totalCon .totalConRight{
    font-size: 0.28rem;
    color: #333333;
}
.totalConRightLa{
    font-size: 0.28rem;
    color: #e60012;
}























