<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>退款/售后</title>
    <script type="text/javascript" src="../../../lib/adjust.js"></script>
    <link type="text/css" rel="stylesheet" href="../../../css/common.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/12_maiJiaZhongXin/12_dingDan_tuiKuanShouHouZhuangTai.css"/>
</head>
<body>
<div id="sale_after_progress" v-cloak>
<!--头部开始-->
<header>
    <div class="header">
        <a href="javascript:;" class="fanHui" onclick="javascript:history.back(-1);"></a><!--v-on:click="toOrderList()"-->
        退款/售后
    </div>
    <div style="height: 0.88rem;"></div>
</header>
    <template v-if="progressInfo.tradeReturnDto.state == 1">
        <div style="width: 100%;height: 100%;background-color: #fff;">
            <div class="tuiKuan tuiKuanzhong">
                <img src="../../img/tuikuan@3x.png" alt=""/>
                <h2>等待卖家处理</h2>
                <span>printhome.com</span>
            </div>
        </div>
    </template>
    <template v-else-if="progressInfo.tradeReturnDto.state == 2">
        <div>
            <div class="tuiKuan">
                <img src="../../img/jujuetuikuan@3x.png" alt=""/>
                <h2>卖家拒绝退款</h2>
                <p>卖家已经拒绝您的退款申请，<br/>下面是卖家回复的原因，如有疑问请联系卖<br/>家。您可以修改退款申请再次提交或在PC<br/>端申请平台仲裁</p>
            </div>
            <div class="shouHuoXinXi">
                <h3>拒绝理由：</h3>
                <p>{{progressInfo.tradeReturnDto.auditRemark}}</p>
            </div>
            <div style="height: 0.84rem;"></div>
            <footer>
                <div class="diBu">
                    <input type="button" value="查看详情" class="on" v-on:click="querySaleAfterDetail(progressInfo.tradeReturnDto.id,progressInfo.passKey)"/>
                    <input type="button" value="修改退款申请" v-on:click="modifySaleAfterApply(progressInfo.tradeReturnDto.id,progressInfo.passKey)"/>
                </div>
            </footer>
        </div>
    </template>
    <template v-else-if="progressInfo.tradeReturnDto.state == 3">
        <div>
            <div class="tuiKuan">
                <img src="../../img/fahuo@3x.png" alt=""/>
                <h2>待买家发货给卖家</h2>
                <p>卖家已经同意您的退款申请,<br/>请您及时发货给卖家</p>
            </div>
            <div class="faHuoXinXi">
                <h3>发货信息</h3>
                <p>退货快递单号</p>
                <input type="text" v-model="expressNo"/>
                <p>快递公司名称</p>
                <input type="text" v-model="expressName"/>
            </div>
            <div style="height: 0.94rem;"></div>
            <footer>
                <div class="diBu">
                    <input type="button" value="查看详情" class="on" v-on:click="querySaleAfterDetail(progressInfo.tradeReturnDto.id,progressInfo.passKey)"/>
                    <input type="button" value="确认发货" v-on:click="deliverGoods(progressInfo.tradeReturnDto.id)"/>
                </div>
            </footer>
        </div>
    </template>
    <template v-else-if="progressInfo.tradeReturnDto.state == 4">
        <div style="width: 100%;height: 100%;background-color: #fff;">
            <div class="tuiKuan tuiKuanzhong">
                <img src="../../img/tuikuan@3x.png" alt=""/>
                <h2>等待卖家收货</h2>
                <span>printhome.com</span>
            </div>
        </div>
    </template>
    <template v-else-if="progressInfo.tradeReturnDto.state == 5">
        <div style="width: 100%;height: 100%;background-color: #fff;">
            <div class="tuiKuan tuiKuanzhong">
                <img src="../../img/tuikuan@3x.png" alt=""/>
                <h2>退款关闭</h2>
                <span>printhome.com</span>
            </div>
        </div>
    </template>
    <template v-else-if="progressInfo.tradeReturnDto.state == 6">
        <div>
            <img src="../../img/right.png" alt="" class="tuiKuanLogo"/>
            <h3 class="tuiKuanChengGong">退款成功</h3>
        </div>
    </template>
    <template v-else-if="progressInfo.tradeReturnDto.state == 7">
        <template v-if="progressInfo.tradeReturnDto.orderPayBank==1 || progressInfo.tradeReturnDto.orderPayBank==101">
            <div style="width: 100%;height: 100%;background-color: #fff;">
                <div class="tuiKuan tuiKuanzhong">
                    <img src="../../img/tuikuan@3x.png" alt=""/>
                    <h2>卖家同意，正在退款中，退款金额将在3-15个工作日内到达您的支付账户内</h2>
                    <a href="javascript:;" class="tiaoZhuan" v-on:click="receivables(progressInfo.tradeReturnDto.id, progressInfo.tradeReturnDto.orderId, progressInfo.tradeReturnDto.state)">确认收到货款</a>
                    <span>printhome.com</span>
                </div>
            </div>
        </template>
        <template v-else>
            <div style="width: 100%;height: 100%;background-color: #fff;">
                <div class="tuiKuan tuiKuanzhong">
                    <img src="../../img/tuikuan@3x.png" alt=""/>
                    <h2>卖家同意，正在退款中</h2>
                    <p>卖家已经同意您的退款申请，<br/>请您及时确认是否已经收到货款</p>
                    <a href="javascript:;" class="tiaoZhuan" v-on:click="receivables(progressInfo.tradeReturnDto.id, progressInfo.tradeReturnDto.orderId, progressInfo.tradeReturnDto.state)">确认收到货款</a>
                    <span>printhome.com</span>
                </div>
            </div>
        </template>
    </template>
    <template v-else-if="progressInfo.tradeReturnDto.state == 8">
        <div style="width: 100%;height: 100%;background-color: #fff;">
            <div class="tuiKuan tuiKuanzhong">
                <img src="../../img/tuikuan@3x.png" alt=""/>
                <h2>待平台处理退款</h2>
                <span>printhome.com</span>
            </div>
        </div>
    </template>
    <template v-else-if="progressInfo.tradeReturnDto.state == 9">
        <div style="width: 100%;height: 100%;background-color: #fff;">
            <div class="tuiKuan tuiKuanzhong">
                <img src="../../img/tuikuan@3x.png" alt=""/>
                <h2>平台处理中</h2>
                <span>printhome.com</span>
            </div>
        </div>
    </template>
    <template v-else-if="progressInfo.tradeReturnDto.state == 10">
        <div style="width: 100%;height: 100%;background-color: #fff;">
            <div class="tuiKuan tuiKuanzhong">
                <img src="../../img/tuikuan@3x.png" alt=""/>
                <h2>退款失败，等待平台再次同意退款</h2>
                <span>printhome.com</span>
            </div>
        </div>
    </template>
    <template v-else-if="progressInfo.tradeReturnDto.state == 11">
        <div style="width: 100%;height: 100%;background-color: #fff;">
            <div class="tuiKuan tuiKuanzhong">
                <img src="../../img/tuikuan@3x.png" alt=""/>
                <h2>退款申请成功，支付宝处理中</h2>
                <span>printhome.com</span>
            </div>
        </div>
    </template>
<!--回到顶部-->
<section>
    <div id="top">
    </div>
</section>
</div>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/request.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/jsonUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/common.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/popup.js"></script>
<script charset="utf-8" type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/vueFilter.js"></script>
<script charset="utf-8" type="text/javascript" src="script/sale-after-progress.js"></script>
</body>
</html>
