<!DOCTYPE html>
<html style="height: 100%;">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>创建求购</title>
    <link type="text/css" rel="stylesheet" href="../../../css/common.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/12_maiJiaZhongXin/13_qiugouguanli_qiugouChuangJian.css"/>
    <link rel="stylesheet" href="../../css/1_index/mallList.css"/>
    <script type="text/javascript" src="../../../lib/adjust.js"></script>
</head>
<body style="height: 100%;">
<!--头部开始-->
<div id="qiugou_xieyiInfo">
    <header>
        <div class="header">
            <a href="javascript:;" onclick="javascript:history.back(-1);" onclick="quxiaoQiugou();" class="fanHui"></a>
            创建求购
        </div>
        <div style="height:0.88rem;"></div>
    </header>
    <!--协议编号-->
    <div id="qiugou1">
        <section>
            <div class="bianHao xunJia">
                <p>
                    <span><label>＊</label>求购编码：</span>
                    <i id="translationNo" name = "translationNo" :value="translationNo" v-text="translationNo"></i>
                </p>
                <p>
                    <span><label>＊</label>求购方：</span>
                    <input type="hidden" name="printerId" id="printerId" :value="uid"/>
                    <i v-text="uName"></i>
                </p>
                <p>
                    <span><label>＊</label>求购名称：</span>
                    <input type="text" maxlength="15" class="mingcheng ccc_border gray_word" id="translationName" name="translationName" />
                </p>
                <template v-if="oldFileName==''">
                    <p id="fileupload">
                        <span class="left">附件：</span>
                    <i>
                        <span style="position: relative;display: inline-block;width: 2rem;height: 0.4rem">
                            <span style="width:1.3rem;height:0.4rem;line-height: 0.4rem;font-size:0.22rem;text-align:center;position: absolute;left: 0;border: 1px solid #ccc;border-radius: 5px">选择文件</span>
                    <input  type="file" id="fileInput" class="file-img" name="file" onchange="startUpload();" style="width:1.3rem;font-size:12px;position: absolute;opacity:0;left: 0;"/>
                            </span>
                    </i>
                    </p>
                </template>
                <template v-else>
                    <p>
                        <span class="left">附件：</span>
                        <span style="width:3rem;text-align: left" >
                            <a :href="getImgUrl(annex)"  target='_blank' v-text="oldFileName"></a>
                        </span>
                        <span class="right" style="width:1.1rem;">
                            <a href="#" onclick="clearFile();">删除</a>
                        </span>
                    </p>
                </template>
                <input type="hidden" id= "annex" name = "annex" :value="annex" />
            </div>
        </section>
        <!--联系方式-->
        <section>
            <div class="lianXi xunJia">
                <h2>求购条件</h2>
                <p>
                    <span><label>＊</label>求购日期：</span>
                    <i id="beginDate1" name = "beginDate1"  v-text="nowDate()"></i>
                </p>
                <p>
                    <span><label>＊</label>截止报价日期：</span>
                    <input type="date" id="endDate1" name = "endDate1" :min="nowDate()"  @change="dateInputForRange($event,new Date(),'截止报价日期不能早于今天');"  maxlength="20" class="baoJiaRiQi ccc_border gray_word"/>
                </p>
                <p>
                    <span><label>＊</label>交货日期：</span>
                    <input type="date" maxlength="20" id="deliveryDate1" :min="nowDate()"  @change="dateInputForRange($event,new Date(),'交货日期不能早于今天');"  name = "deliveryDate1" class="jiaoHuoRiQi ccc_border gray_word"/>
                </p>
                <p>
                    <span>备注：</span>
                    <textarea placeholder="请输入备注，最多50个字哦" id="remarks" maxlength="50" name = "remarks" class="ccc_border gray_word"></textarea>
                </p>
            </div>
        </section>
        <footer>
            <div class="foot">
                <a  href="#" onclick="quxiaoQiugou();" class="cancle">取消</a><a href="#" @click="doNext();" class="next on">下一步</a>
            </div>
        </footer>
    </div>
    <div id="qiugou2">

    </div>
    <!--占位-->
    <section>
        <div style="height: 0.84rem;"></div>
    </section>
</div>
<!--协议物品-->
<div id="qiugou_xieyiwupin" hidden="hidden">
<header>
    <div class="header">
        <a href="#" @click="doLast();" class="fanHui"></a>
        创建求购
    </div>
    <div style="height:0.88rem;"></div>
</header>

<section>
    <!--此处显示新增商品-->
    <!--此处显示新增商品-->
    <!--此处显示新增商品-->
    <template v-if="categoryList.length != 0 ">
    <template v-for="(category,index) in categoryList">
        <div class="lianXi qiuGou ">
            <p>
                <span>类目名称：</span>
                <i v-text="category.categoryCname"></i>
                <input type='hidden'  name = 'category_ids' :value="category.categoryCid" />
                <input type='hidden'  name = 'flag' value="i" />
            </p>
            <p>
                <span><label>＊</label>物品名称：</span>
                <input type="text" :id="'name_'+category.categoryCid" v-model="category.itemname" name="itemNames" maxlength="15" class="wuPinMingCheng ccc_border gray_word">
            </p>
            <p>
                <span><label>＊</label>物品属性：</span>
                <input type="text" :id="'attr_'+category.categoryCid" maxlength="50" v-model="category.attr" name = 'matAttributes' class="wuPinShuXing ccc_border gray_word">
            </p>
            <p>
                <span><label>＊</label>物品数量：</span>
                <input type="number" :id="'nums_'+category.categoryCid" name = 'nums' v-model="category.num" @blur="numInputForLengthForVue($event,7, 2,category,'num');" @keyup="numInputForLengthForVue($event,7, 2,category,'num');"  oninput="if(value.length>7)value=value.slice(0,7)" class="wuPinShuLiang ccc_border gray_word">
                <a href="javascript:;" class="shanChu" @click="shanChu(index,category.categoryCid,category.categoryCname);"></a>
            </p>
        </div>
    </template>

    </template>

    <ul class="list_top hei_40" id="addList"></ul>
</section>

<!--新增商品-->
<section>
    <a href="#" onclick="showShangpin();" class="xinZeng">+新增商品</a>
</section>
<!--占位-->
<section>
    <div style="height: 0.98rem;"></div>
</section>
<footer>
    <div class="foot2">
        <a  href="#" onclick="quxiaoQiugou();" class="cancle">取消</a><a href="#" @click="doLast();" class="last">上一步</a><a href="#" @click="doSave();" class="baoCun on">保存</a>
    </div>
</footer>
    <!--回到顶部-->
    <section>
        <div id="top" @click="goToTop">
        </div>
    </section>
</div>


<!--新增商品-->
<div id="qiugou_shangpin" hidden="hidden" style="height: 100%;">
    <header>
        <div class="header">
            <a href="#" onclick="hideShangpin();" class="fanHui"></a>
            创建求购
        </div>
        <div style="height:0.88rem;"></div>
    </header>
    <section style="height: 90%;">
        <div class="main" style="height: 100%;">
            <div id="main-l">
                <ul id="main-l-ul">
                    <template v-for="category in categoryes">
                        <li :id="'li_'+category.categoryCid" :cid="category.categoryCid" @click="choseCategory(category.categoryCid)" v-text="category.categoryCName"></li>
                    </template>
                </ul>
            </div>
            <div id="main-r">
                <template v-for="category in categoryes">
                    <div style="display: block" >
                        <div class="leimu">
                            <ul :id="'ul_'+category.categoryCid" hidden="hidden">
                                <template v-for="cate in category.children">
                                    <li>
                                        <a href="javascript:;" class="title" :cid="cate.categoryCid" v-text="cate.categoryCName"></a>
                                        <div class="neiRong">
                                            <template v-for="c in cate.children">
                                                <a @click="onReturn(c.categoryCid,c.categoryCName)" :cid="c.categoryCid" v-text="c.categoryCName"></a>
                                            </template>
                                        </div>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </section>
</div>

<!--弹窗-->
<section>
    <div class="zhezhao">
        <div class="con">
            <h5>取消创建求购</h5>
            <p>您确定放弃本次操作吗？</p>
            <div></div>
            <a class="quXiao" href="javascript:;">取消</a><a class="queDing" href="13_woDeQiuGou_woDeQiuGou.html">确定</a>
        </div>
    </div>
</section>
<section>
    <div class="zhezhao2">
        <div>
            <p>确认删除此商品吗？</p>
            <span class="quXiao" onclick="quxiaoShanchu();">取消</span>
            <span class="queDing" onclick="quedingShanchu();">确定</span>
        </div>
    </div>
</section>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../../bower_components/attachment/jquery.form.js"></script>
<script type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/request.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/common.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/popup.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/mathUtil.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/12_maiJiaZhongXin/11_xunJiaGuanLi_chuangJianXunJia.js"></script>
<script charset="utf-8" type="text/javascript" src="../../js/1_index/mallList.js"></script>
<!--<script charset="utf-8" type="text/javascript" src="../../bower_components/attachment/ajaxfileupload.js"></script>-->
<script type="text/javascript" src="../../bower_components/attachment/ajaxformfileupload.js"></script>
<script type="text/javascript" src="script/13_chuangjianqiugou.js"></script>
</body>
</html>
