<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>搜索</title>
    <link type="text/css" rel="stylesheet" href="../../../css/common.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/12_maiJiaZhongXin/10_xieYiGuanLi_xieYiChuangJian.css"/>
    <script type="text/javascript" src="../../../lib/adjust.js"></script>
</head>
<body style="background-color: #fff;">
<!--头部开始-->
<header>
    <div class="header">
        <a href="javascript:;" class="fanHui" onclick="javascript:history.back(-1);"></a>
        搜索
    </div>
    <div style="height:0.88rem;"></div>
</header>
<!--协议编号-->
<section id="suoSou">
    <div class="suoSou">
        <p>
            <span>生成时间：</span>
            <!--<input type="datetime-local"  v-model="createDateStr" id="createTime"/>-->
            <input type="date"  v-model="createDateStr" id="createTime"/>
        </p>
        <p>
            <span>对账单编号：</span>
            <input type="text" maxlength="20" v-model="statementId" id="number"/>
        </p>
        <p>
            <span>卖家：</span>
            <input type="text" maxlength="20" v-model="sellerName" id="seller"/>
        </p>
        <p style="text-align: center; padding-top: 0.4rem;">
            <a href="javascript:;" class="reset" @click="reset()">重置</a>
            <a href="#" class="search" @click="searchDuizhangList()">搜索</a>
        </p>
    </div>
</section>
<script charset="utf-8" type="text/javascript" src="../../bower_components/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../../../lib/common.js"></script>
<script type="text/javascript" src="../../bower_components/vue/dist/vue.js"></script>
<script charset="utf-8" type="text/javascript" src="../../../lib/request.js"></script>
<script charset="utf-8" type="text/javascript" src="script/14_duizhang_sousuo.js"></script>
</body>
</html>
